In [1]:
import pandas as pd
import os
from bs4 import BeautifulSoup
import re

In [2]:
allfileslist = os.listdir("../Data/HTML FILES/")

In [3]:
allfileslist

['Admit_All_northeastern.csv',
 'carnegiemellonuniversity_reject.csv',
 'carnegiemelon_accept.csv',
 'clemson_university_Accept.csv',
 'clemson_university_reject.csv',
 'george_mason_accept.csv',
 'george_mason_reject.csv',
 'georgia_tech_accept.csv',
 'georgia_tech_reject.csv',
 'illinois_institute_of_technology_accept.csv',
 'illinois_institute_of_technology_reject.csv',
 'indiana-university-bloomington_accept.csv',
 'indiana-university-bloomington_reject.csv',
 'kansas_accept.csv',
 'kansas_reject.csv',
 'maryland_accept.csv',
 'maryland_reject.csv',
 'michigan_technological_university_accept.csv',
 'michigan_technological_university_Reject.csv',
 'ncsu_admit.csv',
 'ncsu_reject.csv',
 'new_york_university_accept.csv',
 'new_york_university_reject.csv',
 'Reject_All_northeastern.csv',
 'rochester_institute_of_technology_Accept.csv',
 'rochester_institute_of_technology_Reject.csv',
 'rutgers_university_new_brunswick_accept.csv',
 'rutgers_university_new_brunswick_reject.csv',
 'stony_brook_accept.csv',
 'stony_brook_reject.csv',
 'syracuse_university_Accept.csv',
 'syracuse_university_Reject.csv',
 'tamu_accept.csv',
 'tamu_reject.csv',
 'uconn_accept.csv',
 'uconn_reject.csv',
 'uc_boulder_accept.csv',
 'uc_boulder_reject.csv',
 'uc_irvine_accept.csv',
 'university_of_california_irvine_reject.csv',
 'university_of_florida_Accept.csv',
 'university_of_florida_Reject.csv',
 'university_of_north_carolina_at_charlotte_accept.csv',
 'university_of_north_carolina_at_charlotte_reject.csv',
 'university_of_southern_california_accept.csv',
 'university_of_southern_california_reject.csv',
 'university_of_texas_arlington_accept.csv',
 'university_of_texas_arlington_reject.csv',
 'university_of_texas_austin_Accept.csv',
 'university_of_texas_austin_Reject.csv',
 'university_of_texas_dallas_accept.csv',
 'university_of_texas_dallas_reject.csv',
 'uni_iowa_accept.csv',
 'uni_iowa_reject.csv',
 'u_cinn_admit.csv',
 'u_cinn_reject.csv',
 'worcester_admit.csv',
 'worcester_reject.csv']

In [4]:
len(allfileslist)

58

In [5]:
combined_csv = pd.concat( [ pd.read_csv("../Data/HTML FILES/"+f) for f in allfileslist ] )

In [6]:
combined_csv.status.value_counts()

reject     5938
accept     5300
acccept     194
Name: status, dtype: int64

In [7]:
combined_csv.loc[combined_csv['status']=='acccept',"status"]="accept"

In [8]:
combined_csv.status.value_counts()

reject    5938
accept    5494
Name: status, dtype: int64

In [9]:
#filtering out empty records
combined_csv=combined_csv.loc[~(combined_csv['links']=="[]"),:]

In [10]:
#removing empty records
combined_csv.drop(columns='Unnamed: 0',inplace=True)
combined_csv.reset_index(drop=True,inplace=True)

In [11]:
combined_csv.loc[combined_csv.loc[:,'university_name']=="illinois_institute_of_technology_accept","university_name"]="illinois_institute_of_technology"

In [15]:
combined_csv.loc[combined_csv.loc[:,'university_name']=="university of california, irvine","university_name"]="university_of_california_irvine"

In [17]:
combined_csv.loc[combined_csv.loc[:,'university_name']=="clemson_university_accept","university_name"]="clemson_university"
combined_csv.loc[combined_csv.loc[:,'university_name']=="clemson_university_reject","university_name"]="clemson_university"

In [19]:
combined_csv.loc[combined_csv.loc[:,'university_name']=="university_of_texas_dallas_accept","university_name"]="university_of_texas_dallas"
combined_csv.loc[combined_csv.loc[:,'university_name']=="university_of_texas_dallas_reject","university_name"]="university_of_texas_dallas"

In [20]:
combined_csv.groupby(by=["university_name"])['status'].value_counts(normalize=True)

university_name                              status
carnegie mellon university                   reject    0.741379
                                             accept    0.258621
clemson_university                           accept    0.671875
                                             reject    0.328125
george mason university                      accept    0.639576
                                             reject    0.360424
georgia institiute of technology             accept    0.687943
                                             reject    0.312057
illinois_institute_of_technology             accept    0.622601
                                             reject    0.377399
indiana_university_bloomington               accept    0.802740
                                             reject    0.197260
kansas state university                      accept    0.597561
                                             reject    0.402439
michigan_technological_university            accept    0.732394
                                             reject    0.267606
new_york_university                          reject    0.555556
                                             accept    0.444444
north carolina state university, raleigh     reject    0.513029
                                             accept    0.486971
northeastern university                      reject    0.646682
                                             accept    0.353318
rochester_institute_of_technology            accept    0.612637
                                             reject    0.387363
rutgers_university_new_brunswick             reject    0.635220
                                             accept    0.364780
state university of new york at stony brook  reject    0.528090
                                             accept    0.471910
syracuse_university                          reject    0.508961
                                             accept    0.491039
texas a&m university, college station        reject    0.559036
                                             accept    0.440964
university of cincinnati                     accept    0.834615
                                             reject    0.165385
university of colorado boulder               reject    0.555249
                                             accept    0.444751
university of connecticut                    accept    0.608696
                                             reject    0.391304
university of iowa                           accept    0.741935
                                             reject    0.258065
university of maryland, college park         reject    0.840830
                                             accept    0.159170
university of southern california            accept    0.725000
                                             reject    0.275000
university of texas arlington                accept    0.576923
                                             reject    0.423077
university_of_california_irvine              reject    0.711864
                                             accept    0.288136
university_of_florida                        accept    0.669811
                                             reject    0.330189
university_of_north_carolina_at_charlotte    reject    0.501241
                                             accept    0.498759
university_of_texas_austin                   reject    0.934959
                                             accept    0.065041
university_of_texas_dallas                   accept    0.502000
                                             reject    0.498000
worcester polytechnic institute              accept    0.500000
                                             reject    0.500000
Name: status, dtype: float64

In [24]:
combined_csv.university_name.value_counts()

northeastern university                        1718
state university of new york at stony brook     623
north carolina state university, raleigh        614
syracuse_university                             558
university_of_texas_dallas                      500
illinois_institute_of_technology                469
texas a&m university, college station           415
university_of_california_irvine                 413
university_of_north_carolina_at_charlotte       403
indiana_university_bloomington                  365
rochester_institute_of_technology               364
university of colorado boulder                  362
university of texas arlington                   338
new_york_university                             333
rutgers_university_new_brunswick                318
university of maryland, college park            289
george mason university                         283
university of cincinnati                        260
university_of_texas_austin                      246
carnegie mellon university                      174
michigan_technological_university               142
georgia institiute of technology                141
clemson_university                              128
university_of_florida                           106
kansas state university                          82
worcester polytechnic institute                  74
university of connecticut                        69
university of iowa                               62
university of southern california                40
Name: university_name, dtype: int64

In [25]:
combined_csv.shape

(9889, 3)

In [26]:
#unwrapping stored html pages and extracting features from html tags
html_pages = combined_csv.links.tolist()
temp = []

In [27]:
for i in html_pages:
    soup = BeautifulSoup(i)
    a = soup.find_all('div', class_ = 'col-sm-4 col-xs-4')
    temp_inside = []
    for x in a:
        k =(x.h4.text)
        t=[j for j in k.strip().split("\n") if len(j) is not 0]
        temp_inside.append(t)
    temp.append(temp_inside)

In [28]:
temp[0:5]

[[['GRE 316 ', '\r', 'Quant: 164\r', 'Verbal: 152'],
  ['TOEFL106'],
  ['UG Score\r', '78%'],
  ['Work Exp.9 months'],
  ['Tech PapersInternational'],
  ['Dream Univ.USC']],
 [['GRE 314 ', '\r', 'Quant: 163\r', 'Verbal: 151'],
  ['IELTS8'],
  ['UG Score\r', '8.82CGPA'],
  ['Work Exp.7 months'],
  ['Tech PapersInternational'],
  ['Final Univ.UoE']],
 [['GRE 307 ', '\r', 'Quant: 160\r', 'Verbal: 147'],
  ['TOEFL88'],
  ['UG Score\r', '80%'],
  ['Work Exp.36 months'],
  ['Tech PapersNone'],
  ['Dream Univ.SJSU']],
 [['GRE 330 ', '\r', 'Quant: 169\r', 'Verbal: 161'],
  ['TOEFL113'],
  ['UG Score\r', '68.05%'],
  ['Work Exp.48 months'],
  ['Tech PapersInternational'],
  ['Final Univ.NEU']],
 [['GRE 316 ', '\r', 'Quant: 163\r', 'Verbal: 153'],
  ['TOEFL99'],
  ['UG Score\r', '74.2%'],
  ['Work Exp.30 months'],
  ['Tech PapersNone'],
  ['Dream Univ.USC']]]

In [29]:
all=[]
for each in temp:
    list = []
    for i in each:
        for j in i:
            list.append(j)
    all.append(list)

In [30]:
#verifing if we have unpacked all html pages collected correctly
len(all)

9889

In [31]:
all[0]

['GRE 316 ',
 '\r',
 'Quant: 164\r',
 'Verbal: 152',
 'TOEFL106',
 'UG Score\r',
 '78%',
 'Work Exp.9 months',
 'Tech PapersInternational',
 'Dream Univ.USC']

In [32]:
#we will make a new dataframe with extracted information from html pages and it's corresponding university name and status
university_list=combined_csv.university_name.tolist()
status_list=combined_csv.status.tolist()

In [33]:
combined_df = pd.DataFrame(all)
combined_df['university_name']=university_list
combined_df['status']=status_list

In [34]:
combined_df

,0,1,2,3,4,5,6,7,8,9,university_name,status
0,GRE 316,\r,Quant: 164\r,Verbal: 152,TOEFL106,UG Score\r,78%,Work Exp.9 months,Tech PapersInternational,Dream Univ.USC,northeastern university,accept
1,GRE 314,\r,Quant: 163\r,Verbal: 151,IELTS8,UG Score\r,8.82CGPA,Work Exp.7 months,Tech PapersInternational,Final Univ.UoE,northeastern university,accept
2,GRE 307,\r,Quant: 160\r,Verbal: 147,TOEFL88,UG Score\r,80%,Work Exp.36 months,Tech PapersNone,Dream Univ.SJSU,northeastern university,accept
3,GRE 330,\r,Quant: 169\r,Verbal: 161,TOEFL113,UG Score\r,68.05%,Work Exp.48 months,Tech PapersInternational,Final Univ.NEU,northeastern university,accept
4,GRE 316,\r,Quant: 163\r,Verbal: 153,TOEFL99,UG Score\r,74.2%,Work Exp.30 months,Tech PapersNone,Dream Univ.USC,northeastern university,accept
5,GRE/GMAT appearing18 Oct,ENG TESTNA,UG Score\r,8.8CGPA,Work Exp.NA,Tech PapersNA,Final Univ.NEU,None,None,None,northeastern university,accept
6,GRE 311,\r,Quant: 163\r,Verbal: 148,TOEFL107,UG Score\r,8.06CGPA,Work Exp.NA,Tech PapersNone,Dream Univ.Stanford,northeastern university,accept
7,GRE 306,\r,Quant: 155\r,Verbal: 151,TOEFL113,UG Score\r,7.8CGPA,Work Exp.12 months,Tech PapersNone,Dream Univ.NEU,northeastern university,accept
8,GRE 325,\r,Quant: 168\r,Verbal: 157,TOEFL106,UG Score\r,73%,Work Exp.8 months,Tech PapersInternational,Dream Univ.UT Austin,northeastern university,accept
9,GRE 324,\r,Quant: 167\r,Verbal: 157,TOEFL104,UG Score\r,8.61CGPA,Work Exp.NA,Tech PapersNA,Dream Univ.UCLA,northeastern university,accept
10,GRE 317,\r,Quant: 159\r,Verbal: 158,TOEFL114,UG Score\r,8.8CGPA,Work Exp.4 months,Tech PapersLocal,Dream Univ.Stanford,northeastern university,accept
11,GRE 324,\r,Quant: 167\r,Verbal: 157,TOEFL108,UG Score\r,82.3%,Work Exp.6 months,Tech PapersNational,Dream Univ.Stanford,northeastern university,accept
12,GRE 305,\r,Quant: 161\r,Verbal: 144,TOEFL0,UG Score\r,8.21CGPA,Work Exp.13 months,Tech PapersNone,Dream Univ.SUNY-SB,northeastern university,accept
13,GRE 324,\r,Quant: 169\r,Verbal: 155,TOEFL112,UG Score\r,7.2CGPA,Work Exp.8 months,Tech PapersNone,Final Univ.NEU,northeastern university,accept
14,GRE 318,\r,Quant: 170\r,Verbal: 148,TOEFL102,UG Score\r,7CGPA,Work Exp.4 months,Tech PapersNone,Dream Univ.NYU,northeastern university,accept
15,GRE 312,\r,Quant: 164\r,Verbal: 148,IELTS6.5,UG Score\r,9.2CGPA,Work Exp.5 months,Tech PapersNone,Dream Univ.SJSU,northeastern university,accept
16,GRE 319,\r,Quant: 165\r,Verbal: 154,TOEFL99,UG Score\r,7.18CGPA,Work Exp.30 months,Tech PapersNational,Dream Univ.UCSD,northeastern university,accept
17,GRE 306,\r,Quant: 157\r,Verbal: 149,TOEFL100,UG Score\r,8.9CGPA,Work Exp.20 months,Tech PapersNA,Dream Univ.USC,northeastern university,accept
18,GRE 304,\r,Quant: 157\r,Verbal: 147,TOEFL95,UG Score\r,7.06CGPA,Work Exp.NA,Tech PapersNA,Final Univ.Stevens IT,northeastern university,accept
19,GRE 306,\r,Quant: 157\r,Verbal: 149,TOEFL111,UG Score\r,8.87CGPA,Work Exp.NA,Tech PapersNone,Final Univ.NEU,northeastern university,accept
20,GRE/GMAT NA,ENG TESTNA,UG Score\r,68.6%,Work Exp.NA,Tech PapersNA,Dream Univ.Virg. Tech,None,None,None,northeastern university,accept
21,GRE 332,\r,Quant: 170\r,Verbal: 162,TOEFL115,UG Score\r,75%,Work Exp.9 months,Tech PapersNone,Dream Univ.GaTech,northeastern university,accept
22,GRE 317,\r,Quant: 162\r,Verbal: 155,TOEFL101,UG Score\r,8.65CGPA,Work Exp.48 months,Tech PapersNone,Dream Univ.Stanford,northeastern university,accept
23,GRE 309,\r,Quant: 163\r,Verbal: 146,TOEFL102,UG Score\r,82%,Work Exp.33 months,Tech PapersNone,Dream Univ.NCSU,northeastern university,accept
24,GRE 320,\r,Quant: 168\r,Verbal: 152,TOEFL99,UG Score\r,8.24CGPA,Work Exp.25 months,Tech PapersInternational,Dream Univ.UCSD,northeastern university,accept
25,GRE 305,\r,Quant: 153\r,Verbal: 152,TOEFL107,UG Score\r,75%,Work Exp.24 months,Tech PapersNone,Dream Univ.NEU,northeastern university,accept
26,GRE 323,\r,Quant: 164\r,Verbal: 159,TOEFL110,UG Score\r,7.8CGPA,Work Exp.12 months,Tech PapersNone,Dream Univ.UCLA,northeastern university,accept
27,GRE 318,\r,Quant: 166\r,Verbal: 152,TOEFL104,UG Score\r,8.68CGPA,Work Exp.9 months,Tech PapersInternational,Dream Univ.UPenn,northeastern university,accept
28,GRE 327,\r,Quant: 167\r,Verbal: 160,TOEFL115,UG Score\r,7.98CGPA,Work Exp.2 months,Tech PapersNone,Final Univ.UC Davis,northeastern university,accept
29,GRE/GMAT appearing15 Aug,ENG TESTNA,UG Score\r,77%,Work Exp.10 months,Tech PapersNA,Dream Univ.CSU LA,None,None,None,northeastern university,accept
...,...,...,...,...,...,...,...,...,...,...,...,...
9859,GRE 299,\r,Quant: 159\r,Verbal: 140,TOEFL86,UG Score\r,7.48CGPA,Work Exp.15 months,Tech PapersNone,Final Univ.NEU,worcester polytechnic institute,reject
9860,GRE 308,\r,Quant: 157\r,Verbal: 151,TOEFL93,UG Score\r,3.19CGPA,Work Exp.NA,Tech PapersNone,Dream Univ.UC Berkeley,worcester polytechnic institute,reject
9861,GRE 301,\r,Quant: 159\r,Verbal: 142,TOEFL87,UG Score\r,7.07CGPA,Work Exp.15 months,Tech PapersNone,Final Univ.NEU,worcester polytechnic institute,reject
9862,GRE 303,\r,Quant: 152\r,Verbal: 151,TOEFL100,UG Score\r,7.51CGPA,Work Exp.24 months,Tech PapersInternational,Final Univ.NEU,worcester polytechnic institute,reject
9863,GRE 301,\r,Quant: 159\r,Verbal: 142,IELTS6.5,UG Score\r,7.15CGPA,Work Exp.15 months,Tech PapersNone,Final Univ.Santa Clara,worcester polytechnic institute,reject
9864,GRE 315,\r,Quant: 165\r,Verbal: 150,TOEFL104,UG Score\r,7.8CGPA,Work Exp.3 months,Tech PapersNational,Final Univ.UTD,worcester polytechnic institute,reject
9865,GRE 314,\r,Quant: 162\r,Verbal: 152,TOEFL105,UG Score\r,7.66CGPA,Work Exp.2 months,Tech PapersInternational,Dream Univ.NEU,worcester polytechnic institute,reject
9866,GRE 305,\r,Quant: 158\r,Verbal: 147,TOEFL97,UG Score\r,8.673CGPA,Work Exp.3 months,Tech PapersInternational,Final Univ.UIC,worcester polytechnic institute,reject
9867,GRE 319,\r,Quant: 167\r,Verbal: 152,TOEFL103,UG Score\r,59.22%,Work Exp.27 months,Tech PapersNone,Final Univ.NCSU,worcester polytechnic institute,reject
9868,GRE 315,\r,Quant: 164\r,Verbal: 151,TOEFL103,UG Score\r,60%,Work Exp.30 months,Tech PapersInternational,Dream Univ.NEU,worcester polytechnic institute,reject
9869,GRE 317,\r,Quant: 165\r,Verbal: 152,TOEFL111,UG Score\r,8.12CGPA,Work Exp.6 months,Tech PapersNone,Final Univ.ASU,worcester polytechnic institute,reject
9870,GRE 306,\r,Quant: 159\r,Verbal: 147,TOEFL95,UG Score\r,7.1CGPA,Work Exp.NA,Tech PapersNone,Final Univ.Fullerton,worcester polytechnic institute,reject
9871,GRE 303,\r,Quant: 162\r,Verbal: 141,TOEFL91,UG Score\r,7.67CGPA,Work Exp.17 months,Tech PapersNone,Final Univ.UConn,worcester polytechnic institute,reject
9872,GRE 306,\r,Quant: 163\r,Verbal: 143,IELTS7,UG Score\r,54.34%,Work Exp.18 months,Tech PapersInternational,Dream Univ.Princeton,worcester polytechnic institute,reject
9873,GRE 304,\r,Quant: 158\r,Verbal: 146,TOEFL85,UG Score\r,7.8CGPA,Work Exp.NA,Tech PapersNone,Dream Univ.USC,worcester polytechnic institute,reject
9874,GRE 304,\r,Quant: 158\r,Verbal: 146,TOEFL85,UG Score\r,7.8CGPA,Work Exp.NA,Tech PapersNone,Dream Univ.USC,worcester polytechnic institute,reject
9875,GRE 307,\r,Quant: 155\r,Verbal: 152,TOEFL104,UG Score\r,59%,Work Exp.5 months,Tech PapersInternational,Final Univ.UCF,worcester polytechnic institute,reject
9876,GRE 304,\r,Quant: 149\r,Verbal: 155,TOEFL88,UG Score\r,67.16%,Work Exp.46 months,Tech PapersNone,Dream Univ.NEU,worcester polytechnic institute,reject
9877,GRE 310,\r,Quant: 164\r,Verbal: 146,TOEFL97,UG Score\r,7.77CGPA,Work Exp.24 months,Tech PapersNone,Dream Univ.SUNY-SB,worcester polytechnic institute,reject
9878,GRE 306,\r,Quant: 157\r,Verbal: 149,TOEFL91,UG Score\r,63.47%,Work Exp.25 months,Tech PapersNone,Final Univ.RIT,worcester polytechnic institute,reject
9879,GRE 307,\r,Quant: 162\r,Verbal: 145,TOEFL93,UG Score\r,65%,Work Exp.30 months,Tech PapersNational,Final Univ.SUNY Albany,worcester polytechnic institute,reject
9880,GRE 306,\r,Quant: 158\r,Verbal: 148,TOEFL100,UG Score\r,73.1%,Work Exp.18 months,Tech PapersNone,Dream Univ.USC,worcester polytechnic institute,reject
9881,GRE 318,\r,Quant: 168\r,Verbal: 150,TOEFL106,UG Score\r,57.5%,Work Exp.18 months,Tech PapersInternational,Final Univ.NYU Poly,worcester polytechnic institute,reject
9882,GRE 327,\r,Quant: 170\r,Verbal: 157,TOEFL117,UG Score\r,8.19CGPA,Work Exp.6 months,Tech PapersInternational,Final Univ.Cornell,worcester polytechnic institute,reject
9883,GRE 317,\r,Quant: 161\r,Verbal: 156,TOEFL108,UG Score\r,58%,Work Exp.14 months,Tech PapersNone,Final Univ.UM Lowell,worcester polytechnic institute,reject
9884,GRE 316,\r,Quant: 158\r,Verbal: 158,TOEFL113,UG Score\r,6.25CGPA,Work Exp.3 months,Tech PapersNone,Dream Univ.UNCC,worcester polytechnic institute,reject
9885,GRE 304,\r,Quant: 161\r,Verbal: 143,TOEFL86,UG Score\r,58%,Work Exp.NA,Tech PapersNone,Final Univ.GWU,worcester polytechnic institute,reject
9886,GRE 315,\r,Quant: 164\r,Verbal: 151,TOEFL90,UG Score\r,64%,Work Exp.NA,Tech PapersNone,Dream Univ.Utah,worcester polytechnic institute,reject
9887,GRE 309,\r,Quant: 164\r,Verbal: 145,TOEFL100,UG Score\r,8.45CGPA,Work Exp.33 months,Tech PapersNone,Final Univ.ASU,worcester polytechnic institute,reject
9888,GRE 294,\r,Quant: 154\r,Verbal: 140,TOEFL86,UG Score\r,77%,Work Exp.30 months,Tech PapersNone,Dream Univ.U. Houston,worcester polytechnic institute,reject

In [35]:
#naming our features
list_columns = ['gre_score','droping', 'gre_score_quant','gre_score_verbal','test_score_toefl','droping_1', 'undergraduation_score','work_ex', 'papers_published','droping_3','university_name','status']
combined_df.columns = list_columns
combined_df.drop(columns = ['droping','droping_1','droping_3'], inplace=True)

In [36]:
combined_df.isna().sum()

gre_score                  0
gre_score_quant            0
gre_score_verbal           0
test_score_toefl           0
undergraduation_score      0
work_ex                  242
papers_published         242
university_name            0
status                     0
dtype: int64

In [37]:
#filling work experience and work_ex with zero, considering when there are no values given
combined_df=combined_df.fillna(0)

In [38]:
combined_df

,gre_score,gre_score_quant,gre_score_verbal,test_score_toefl,undergraduation_score,work_ex,papers_published,university_name,status
0,GRE 316,Quant: 164\r,Verbal: 152,TOEFL106,78%,Work Exp.9 months,Tech PapersInternational,northeastern university,accept
1,GRE 314,Quant: 163\r,Verbal: 151,IELTS8,8.82CGPA,Work Exp.7 months,Tech PapersInternational,northeastern university,accept
2,GRE 307,Quant: 160\r,Verbal: 147,TOEFL88,80%,Work Exp.36 months,Tech PapersNone,northeastern university,accept
3,GRE 330,Quant: 169\r,Verbal: 161,TOEFL113,68.05%,Work Exp.48 months,Tech PapersInternational,northeastern university,accept
4,GRE 316,Quant: 163\r,Verbal: 153,TOEFL99,74.2%,Work Exp.30 months,Tech PapersNone,northeastern university,accept
5,GRE/GMAT appearing18 Oct,UG Score\r,8.8CGPA,Work Exp.NA,Final Univ.NEU,0,0,northeastern university,accept
6,GRE 311,Quant: 163\r,Verbal: 148,TOEFL107,8.06CGPA,Work Exp.NA,Tech PapersNone,northeastern university,accept
7,GRE 306,Quant: 155\r,Verbal: 151,TOEFL113,7.8CGPA,Work Exp.12 months,Tech PapersNone,northeastern university,accept
8,GRE 325,Quant: 168\r,Verbal: 157,TOEFL106,73%,Work Exp.8 months,Tech PapersInternational,northeastern university,accept
9,GRE 324,Quant: 167\r,Verbal: 157,TOEFL104,8.61CGPA,Work Exp.NA,Tech PapersNA,northeastern university,accept
10,GRE 317,Quant: 159\r,Verbal: 158,TOEFL114,8.8CGPA,Work Exp.4 months,Tech PapersLocal,northeastern university,accept
11,GRE 324,Quant: 167\r,Verbal: 157,TOEFL108,82.3%,Work Exp.6 months,Tech PapersNational,northeastern university,accept
12,GRE 305,Quant: 161\r,Verbal: 144,TOEFL0,8.21CGPA,Work Exp.13 months,Tech PapersNone,northeastern university,accept
13,GRE 324,Quant: 169\r,Verbal: 155,TOEFL112,7.2CGPA,Work Exp.8 months,Tech PapersNone,northeastern university,accept
14,GRE 318,Quant: 170\r,Verbal: 148,TOEFL102,7CGPA,Work Exp.4 months,Tech PapersNone,northeastern university,accept
15,GRE 312,Quant: 164\r,Verbal: 148,IELTS6.5,9.2CGPA,Work Exp.5 months,Tech PapersNone,northeastern university,accept
16,GRE 319,Quant: 165\r,Verbal: 154,TOEFL99,7.18CGPA,Work Exp.30 months,Tech PapersNational,northeastern university,accept
17,GRE 306,Quant: 157\r,Verbal: 149,TOEFL100,8.9CGPA,Work Exp.20 months,Tech PapersNA,northeastern university,accept
18,GRE 304,Quant: 157\r,Verbal: 147,TOEFL95,7.06CGPA,Work Exp.NA,Tech PapersNA,northeastern university,accept
19,GRE 306,Quant: 157\r,Verbal: 149,TOEFL111,8.87CGPA,Work Exp.NA,Tech PapersNone,northeastern university,accept
20,GRE/GMAT NA,UG Score\r,68.6%,Work Exp.NA,Dream Univ.Virg. Tech,0,0,northeastern university,accept
21,GRE 332,Quant: 170\r,Verbal: 162,TOEFL115,75%,Work Exp.9 months,Tech PapersNone,northeastern university,accept
22,GRE 317,Quant: 162\r,Verbal: 155,TOEFL101,8.65CGPA,Work Exp.48 months,Tech PapersNone,northeastern university,accept
23,GRE 309,Quant: 163\r,Verbal: 146,TOEFL102,82%,Work Exp.33 months,Tech PapersNone,northeastern university,accept
24,GRE 320,Quant: 168\r,Verbal: 152,TOEFL99,8.24CGPA,Work Exp.25 months,Tech PapersInternational,northeastern university,accept
25,GRE 305,Quant: 153\r,Verbal: 152,TOEFL107,75%,Work Exp.24 months,Tech PapersNone,northeastern university,accept
26,GRE 323,Quant: 164\r,Verbal: 159,TOEFL110,7.8CGPA,Work Exp.12 months,Tech PapersNone,northeastern university,accept
27,GRE 318,Quant: 166\r,Verbal: 152,TOEFL104,8.68CGPA,Work Exp.9 months,Tech PapersInternational,northeastern university,accept
28,GRE 327,Quant: 167\r,Verbal: 160,TOEFL115,7.98CGPA,Work Exp.2 months,Tech PapersNone,northeastern university,accept
29,GRE/GMAT appearing15 Aug,UG Score\r,77%,Work Exp.10 months,Dream Univ.CSU LA,0,0,northeastern university,accept
...,...,...,...,...,...,...,...,...,...
9859,GRE 299,Quant: 159\r,Verbal: 140,TOEFL86,7.48CGPA,Work Exp.15 months,Tech PapersNone,worcester polytechnic institute,reject
9860,GRE 308,Quant: 157\r,Verbal: 151,TOEFL93,3.19CGPA,Work Exp.NA,Tech PapersNone,worcester polytechnic institute,reject
9861,GRE 301,Quant: 159\r,Verbal: 142,TOEFL87,7.07CGPA,Work Exp.15 months,Tech PapersNone,worcester polytechnic institute,reject
9862,GRE 303,Quant: 152\r,Verbal: 151,TOEFL100,7.51CGPA,Work Exp.24 months,Tech PapersInternational,worcester polytechnic institute,reject
9863,GRE 301,Quant: 159\r,Verbal: 142,IELTS6.5,7.15CGPA,Work Exp.15 months,Tech PapersNone,worcester polytechnic institute,reject
9864,GRE 315,Quant: 165\r,Verbal: 150,TOEFL104,7.8CGPA,Work Exp.3 months,Tech PapersNational,worcester polytechnic institute,reject
9865,GRE 314,Quant: 162\r,Verbal: 152,TOEFL105,7.66CGPA,Work Exp.2 months,Tech PapersInternational,worcester polytechnic institute,reject
9866,GRE 305,Quant: 158\r,Verbal: 147,TOEFL97,8.673CGPA,Work Exp.3 months,Tech PapersInternational,worcester polytechnic institute,reject
9867,GRE 319,Quant: 167\r,Verbal: 152,TOEFL103,59.22%,Work Exp.27 months,Tech PapersNone,worcester polytechnic institute,reject
9868,GRE 315,Quant: 164\r,Verbal: 151,TOEFL103,60%,Work Exp.30 months,Tech PapersInternational,worcester polytechnic institute,reject
9869,GRE 317,Quant: 165\r,Verbal: 152,TOEFL111,8.12CGPA,Work Exp.6 months,Tech PapersNone,worcester polytechnic institute,reject
9870,GRE 306,Quant: 159\r,Verbal: 147,TOEFL95,7.1CGPA,Work Exp.NA,Tech PapersNone,worcester polytechnic institute,reject
9871,GRE 303,Quant: 162\r,Verbal: 141,TOEFL91,7.67CGPA,Work Exp.17 months,Tech PapersNone,worcester polytechnic institute,reject
9872,GRE 306,Quant: 163\r,Verbal: 143,IELTS7,54.34%,Work Exp.18 months,Tech PapersInternational,worcester polytechnic institute,reject
9873,GRE 304,Quant: 158\r,Verbal: 146,TOEFL85,7.8CGPA,Work Exp.NA,Tech PapersNone,worcester polytechnic institute,reject
9874,GRE 304,Quant: 158\r,Verbal: 146,TOEFL85,7.8CGPA,Work Exp.NA,Tech PapersNone,worcester polytechnic institute,reject
9875,GRE 307,Quant: 155\r,Verbal: 152,TOEFL104,59%,Work Exp.5 months,Tech PapersInternational,worcester polytechnic institute,reject
9876,GRE 304,Quant: 149\r,Verbal: 155,TOEFL88,67.16%,Work Exp.46 months,Tech PapersNone,worcester polytechnic institute,reject
9877,GRE 310,Quant: 164\r,Verbal: 146,TOEFL97,7.77CGPA,Work Exp.24 months,Tech PapersNone,worcester polytechnic institute,reject
9878,GRE 306,Quant: 157\r,Verbal: 149,TOEFL91,63.47%,Work Exp.25 months,Tech PapersNone,worcester polytechnic institute,reject
9879,GRE 307,Quant: 162\r,Verbal: 145,TOEFL93,65%,Work Exp.30 months,Tech PapersNational,worcester polytechnic institute,reject
9880,GRE 306,Quant: 158\r,Verbal: 148,TOEFL100,73.1%,Work Exp.18 months,Tech PapersNone,worcester polytechnic institute,reject
9881,GRE 318,Quant: 168\r,Verbal: 150,TOEFL106,57.5%,Work Exp.18 months,Tech PapersInternational,worcester polytechnic institute,reject
9882,GRE 327,Quant: 170\r,Verbal: 157,TOEFL117,8.19CGPA,Work Exp.6 months,Tech PapersInternational,worcester polytechnic institute,reject
9883,GRE 317,Quant: 161\r,Verbal: 156,TOEFL108,58%,Work Exp.14 months,Tech PapersNone,worcester polytechnic institute,reject
9884,GRE 316,Quant: 158\r,Verbal: 158,TOEFL113,6.25CGPA,Work Exp.3 months,Tech PapersNone,worcester polytechnic institute,reject
9885,GRE 304,Quant: 161\r,Verbal: 143,TOEFL86,58%,Work Exp.NA,Tech PapersNone,worcester polytechnic institute,reject
9886,GRE 315,Quant: 164\r,Verbal: 151,TOEFL90,64%,Work Exp.NA,Tech PapersNone,worcester polytechnic institute,reject
9887,GRE 309,Quant: 164\r,Verbal: 145,TOEFL100,8.45CGPA,Work Exp.33 months,Tech PapersNone,worcester polytechnic institute,reject
9888,GRE 294,Quant: 154\r,Verbal: 140,TOEFL86,77%,Work Exp.30 months,Tech PapersNone,worcester polytechnic institute,reject

<b>Cleaning Column data</b>

- Removing Null values
- Removing noise
- Conversion of % and 10 pinter score in CGPA to 4 pointer
- Toefl and IELTS score to the same scale according to the information available on ETS Official website (https://www.ets.org/toefl/institutions/scores/compare/)

In [39]:
def replace_special_chars(i):
    #a = re.sub('[^A-Za-z]+',' ',str(i))
    a=re.findall(r'\d+', str(i))
    #a = a.lower()
    return ''.join(a)

In [40]:
combined_df['gre_score']=combined_df.gre_score.apply(replace_special_chars)
combined_df['gre_score_quant']=combined_df['gre_score_quant'].apply(replace_special_chars)

In [41]:
combined_df['test_score_toefl'] = combined_df['test_score_toefl'].apply(replace_special_chars)
combined_df['gre_score_verbal'] = combined_df['gre_score_verbal'].apply(replace_special_chars)
combined_df['work_ex'] = combined_df['work_ex'].apply(replace_special_chars)

In [42]:

combined_df["undergraduation_score"] = [x.replace('CGPA','') for x in combined_df["undergraduation_score"]]
combined_df["undergraduation_score"] = [x.replace('%','') for x in combined_df["undergraduation_score"]]
combined_df["papers_published"] = [str(x).replace('Tech Papers','') for x in combined_df["papers_published"]]

In [43]:
combined_df.dtypes

gre_score                object
gre_score_quant          object
gre_score_verbal         object
test_score_toefl         object
undergraduation_score    object
work_ex                  object
papers_published         object
university_name          object
status                   object
dtype: object

In [45]:
combined_df.loc[combined_df['work_ex']=='','work_ex']=0

In [46]:
values=[]
for each in combined_df.undergraduation_score.unique():
    try:
        float(each)
    except:
        values.append(each)

In [47]:

for each in values:
    combined_df=combined_df[combined_df.undergraduation_score!=each]

In [48]:
combined_df[['gre_score','gre_score_quant','gre_score_verbal','test_score_toefl','undergraduation_score','work_ex']]=combined_df[['gre_score','gre_score_quant','gre_score_verbal','test_score_toefl','undergraduation_score','work_ex']].apply(pd.to_numeric)

In [50]:
combined_df=combined_df.loc[~(combined_df.test_score_toefl.isna()),:]

In [51]:
combined_df.isna().sum()

gre_score                0
gre_score_quant          0
gre_score_verbal         0
test_score_toefl         0
undergraduation_score    0
work_ex                  0
papers_published         0
university_name          0
status                   0
dtype: int64

In [52]:
combined_df.reset_index(drop=True,inplace=True)

In [53]:
update_cgpa_score_scale_4 = []
for score in combined_df.undergraduation_score.tolist():
   s = 0
   try:
       score = float(score)
   except:
       score= 0
   if score > 10:
       s = ((score)/20) - 1
       s = round(s,2)
       update_cgpa_score_scale_4.append(s)
   else:
       s = ((score)/10)*4
       s = round(s,2)
       update_cgpa_score_scale_4.append(s)

In [54]:
combined_df['undergraduation_score']=update_cgpa_score_scale_4

In [56]:
combined_df.loc[combined_df['test_score_toefl']<9,'test_score_toefl']=pd.cut(combined_df.loc[combined_df['test_score_toefl']<9,'test_score_toefl'], bins=[-1,0.5,4,4.5,5,5.5,6,6.5,7,7.5,8,8.5,9], labels=[0,31,34,45,59,78,93,101,109,114,117,120])

In [57]:
combined_df.loc[combined_df['test_score_toefl']<9,'test_score_toefl'].value_counts()

0    353
Name: test_score_toefl, dtype: int64

In [58]:
combined_df.papers_published.unique()

array(['International', 'None', 'NA', 'Local', 'National', ''],
      dtype=object)

In [59]:
#df_all_neu["papers_published"] = [x.replace('','0') for x in df_all_neu["papers_published"]]
combined_df["papers_published"] = [x.replace('None','0') for x in combined_df["papers_published"]]
combined_df["papers_published"] = [x.replace('NA','0') for x in combined_df["papers_published"]]

In [60]:
combined_df.papers_published.value_counts()

0                6753
International    1872
National          458
Local             260
                    9
Name: papers_published, dtype: int64

In [61]:

combined_df.loc[combined_df['papers_published'] == 'Local', 'papers_published'] = '1'
combined_df.loc[combined_df['papers_published'] == 'International', 'papers_published'] = '3'
combined_df.loc[combined_df['papers_published'] == 'National', 'papers_published'] = '2'

In [62]:
list_ppr_pub = combined_df.papers_published.tolist()

In [63]:
new_list_ppr_pub = []
for i in list_ppr_pub:
    if i == '':
        new_list_ppr_pub.append('0')
    else:
        new_list_ppr_pub.append(i)

In [64]:
combined_df['papers_published'] = new_list_ppr_pub

In [65]:
combined_df['papers_published'] = combined_df['papers_published'].astype(int)

In [66]:
combined_df.describe()

,gre_score,gre_score_quant,gre_score_verbal,undergraduation_score,work_ex,papers_published
count,9352.000000,9352.000000,9352.000000,9352.000000,9352.000000,9352.000000
mean,314.110351,162.800791,151.309559,3.029532,16.853935,0.726262
std,9.301243,5.229764,6.040880,0.488298,16.127780,1.223903
min,0.000000,0.000000,0.000000,1.060000,0.000000,0.000000
25%,308.000000,160.000000,148.000000,2.720000,2.000000,0.000000
50%,314.000000,163.000000,151.000000,3.100000,15.000000,0.000000
75%,320.000000,167.000000,155.000000,3.400000,27.000000,1.000000
max,340.000000,170.000000,170.000000,4.000000,153.000000,3.000000

#### checking and removing incorrect record

In [70]:
combined_df.loc[(combined_df['gre_score_quant'] <130) | (combined_df['gre_score_verbal'] < 130)  | (combined_df['gre_score'] < 260),:]

,gre_score,gre_score_quant,gre_score_verbal,test_score_toefl,undergraduation_score,work_ex,papers_published,university_name,status
6230,204,62,142,103,2.50,0,0,syracuse_university,reject
7012,0,0,0,90,2.55,0,0,university of colorado boulder,reject

In [71]:
combined_df = combined_df.loc[~((combined_df['gre_score_quant'] <130) | (combined_df['gre_score_verbal'] < 130)  | (combined_df['gre_score'] < 260)),:]

In [74]:
combined_df.describe()

,gre_score,gre_score_quant,gre_score_verbal,undergraduation_score,work_ex,papers_published
count,9350.000000,9350.000000,9350.000000,9350.000000,9350.000000,9350.000000
mean,314.155722,162.828984,151.326738,3.029640,16.857540,0.726417
std,8.641709,4.840835,5.834517,0.488294,16.127621,1.223988
min,260.000000,130.000000,130.000000,1.060000,0.000000,0.000000
25%,308.000000,160.000000,148.000000,2.720000,2.000000,0.000000
50%,314.000000,163.000000,151.000000,3.100000,15.000000,0.000000
75%,320.000000,167.000000,155.000000,3.400000,27.000000,1.000000
max,340.000000,170.000000,170.000000,4.000000,153.000000,3.000000

In [76]:
combined_df.isna().sum()

gre_score                0
gre_score_quant          0
gre_score_verbal         0
test_score_toefl         0
undergraduation_score    0
work_ex                  0
papers_published         0
university_name          0
status                   0
dtype: int64

In [80]:
def replace_special_chars_university_name(i):
    a = re.sub('[^A-Za-z]+',' ',str(i))
    #a=re.findall(r'\d+', str(i))
    a = a.lower()
    
    return '_'.join(a.split(' '))

In [83]:
#replacing special characters and spaces in university name
combined_df.loc[:,"university_name"]=combined_df.university_name.apply(replace_special_chars_university_name)

In [87]:
required_colleges=combined_df.university_name.unique().tolist()
len(required_colleges)

29

In [88]:
required_colleges=['northeastern_university','illinois_institute_of_technology','michigan_technological_university','rochester_institute_of_technology','university_of_southern_california','north_carolina_state_university_raleigh','university_of_texas_arlington','university_of_texas_dallas','syracuse_university','clemson_university','new_york_university','indiana_university_bloomington','rutgers_university_new_brunswick', "---",'university_of_florida','carnegie_mellon_university','georgia_institiute_of_technology','university_of_colorado_boulder','university_of_north_carolina_at_charlotte','university_of_iowa','university_of_connecticut','worcester_polytechnic_institute','---','kansas_state_university','university_of_cincinnati','university_of_maryland_college_park','university_of_california_irvine','texas_a_m_university_college_station','state_university_of_new_york_at_stony_brook','george_mason_university','university_of_texas_austin']

In [89]:
len(required_colleges)

31

In [97]:
required_colleges_ranking = [15,97,117,66,19,49,64,52,118,89,22,48,25,150,62,1,9,58,30, 71, 70,79, 76, 115, 130, 10, 23, 31, 35, 59,16]
dictionary_req_college = dict(zip(required_colleges, required_colleges_ranking))
dictionary_req_college
combined_df['ranking'] = combined_df['university_name']
combined_df['ranking'].replace(dictionary_req_college,inplace=True)

In [98]:
combined_df.isna().sum()

gre_score                0
gre_score_quant          0
gre_score_verbal         0
test_score_toefl         0
undergraduation_score    0
work_ex                  0
papers_published         0
university_name          0
status                   0
ranking                  0
dtype: int64

In [99]:
combined_df.groupby(by='university_name')['ranking'].mean()

university_name
carnegie_mellon_university                       1
clemson_university                              89
george_mason_university                         59
georgia_institiute_of_technology                 9
illinois_institute_of_technology                97
indiana_university_bloomington                  48
kansas_state_university                        115
michigan_technological_university              117
new_york_university                             22
north_carolina_state_university_raleigh         49
northeastern_university                         15
rochester_institute_of_technology               66
rutgers_university_new_brunswick                25
state_university_of_new_york_at_stony_brook     35
syracuse_university                            118
texas_a_m_university_college_station            31
university_of_california_irvine                 23
university_of_cincinnati                       130
university_of_colorado_boulder                  58
university_of_connecticut                       70
university_of_florida                           62
university_of_iowa                              71
university_of_maryland_college_park             10
university_of_north_carolina_at_charlotte       30
university_of_southern_california               19
university_of_texas_arlington                   64
university_of_texas_austin                      16
university_of_texas_dallas                      52
worcester_polytechnic_institute                 79
Name: ranking, dtype: int64

In [100]:
combined_df.reset_index(drop =True).to_csv('../Data/clean_profile_data_all.csv',index=False)