In [1076]:
import pandas as pd

<b> Importing the Yocket Dataset(Accept and reject csv file) </b><br>

In [1077]:
Yocket_Accept_data_all_college = pd.read_csv(r'.\Data\Yocket_Acccept_University_student_data.csv')

In [1078]:
Yocket_Reject_data_all_college = pd.read_csv(r'.\Data\Yocket_Reject_University_student_data.csv')

In [1079]:
Yocket_Accept_data_all_college = Yocket_Accept_data_all_college.set_index('index')

In [1080]:
Yocket_Reject_data_all_college = Yocket_Reject_data_all_college.set_index('index')

In [1081]:
Yocket_data_all_college = pd.concat([Yocket_Accept_data_all_college, Yocket_Reject_data_all_college])

In [1082]:
Yocket_data_all_college.to_csv(r'.\Data\Yocket_data_all_college.csv')

In [1083]:
#Yocket_data_all_college = Yocket_data_all_college.set_index('index')

<b> Importing the Edulix Dataset </b>

In [1084]:
Edulix_data_all_college = pd.read_csv(r'data\Edulix_admission_records.csv')

In [1085]:
Edulix_data_all_college.drop(columns = ['Unnamed: 0'], inplace = True)

value in major column

In [1086]:
Edulix_data_all_college['major'].unique()

array(['Mechanical Engineering', 'MIS', '2014', '2013',
       'Computer Science', 'Electronics and Communication',
       'Computer Engineering', 'CS / MSIS / ITM', 'Telecommunication',
       '2015', 'Industrial Engineering', 'Engineering Management',
       'Comp Science/Comp Networks/Comp Engg',
       'Manufacturing Engineering', 'Computer Networking',
       'Information Security', 'MIS-management related courses',
       'Industrial Engg/Robotics', 'MIS/CS', 'Telecom management ', nan,
       'Information Systems', 'Electrical Engineering', 'MEM', 'CS',
       'Electronic and Telecommunication Engineering',
       'Civil Engineering', '(MIS / MSIM / MSIS / MSIT)', 'Information',
       'Computer Networks', 'Management Information System',
       'medicinal chemistry', 'Information Science',
       'Information Assurance',
       'Electrical and computer engineering, electrical engineering, telecommunications engineering',
       '2016', 'India', 'Health Informatics', 'Biotechnology',
       'Project Management', 'Technology Leadership', 'Entrepreneurship',
       'Johns Hopkins University', 'Northeastern University',
       'SUNY Stony Brook', 'Oregon State University',
       'University of California Santa Barbara',
       'University of Colorado Boulder', 'Simon Fraser University',
       'University of Alberta', 'University of Waterloo',
       'Electronics & Communication', 'computer science / MIS', 'energy',
       'Operations Research', 'Construction Management', '2017',
       'Business Analytics', 'CS / SE / IT / MIS',
       'Engineering Management / Industrial Engineering / IMSE',
       'Masters', 'Research Assistant', 'ERP', 'Networking',
       'Computational Science', 'Bioinformatics', 'Regulatory Affairs',
       'pharmaceutics', 'Electrical & Computer Engineering', 'Fall',
       'Data Analyst', 'NIL', 'Intern', 'Software Engineer',
       'Senior Software Engineer', 'Deep Dive Vision',
       'Biomedical Engineering', 'Metallurgy and Materials Engineering',
       'Computer vision/image-video processing',
       'Electrical and Electronics',
       'Electrical and Computer Engineering',
       'Computer Engineering/Comp Science',
       'Information technology management', 'EE / CS', 'Robotics',
       'Manufacturing Systems Engineering', 'software engineering',
       'Electronics, Instrumentation and Control', 'Chemical Engineering',
       'Computer Engineering / Computer Networking / Computer Science',
       'Materials Science & Engineering',
       'Computer Engineering / Electrical Computer Engineering',
       'analytics', 'Aerospace Engineering',
       'Mechanical / Industrial Engg.', 'Electrical Engg/ comp engg',
       'microelectronics',
       'Electrical & Computer Engg/MIS/Industrial/Systems Engg',
       'Mechanical And Aerospace', 'HCI / CS',
       'environmental engineering', 'IEEE MITE Conference',
       'Environmental Science', 'civil', 'Hardware Engineer',
       'Arizona State University',
       'Business Analytics and Project Management',
       'Computer Science/ Electronics and Communication',
       'Civil and Environmental Engg', 'Automotive Engineering',
       'Materials Science', 'Electronics Engineering',
       'Supply chain management', 'Data Science',
       'Human Computer Interaction', 'Software Engineer,SAP',
       'Pilani Soft Labs Pvt. ltd. [Redbus.in]', 'Systems Engineering',
       'Computational Science and Engineering', '2018', 'A', 'Wipro',
       'F1', 'University of Florida', 'CAE Engineer', 'Mando ',
       'Associate Consultant',
       'Schoeffmann K. et al. (eds) MultiMedia Modeling. MMM 2018. Lecture Notes in Computer Science, vol 10704. Springer, Cham',
       '01-06-2017 05:00', 'Senior Engg',
       'Business system analysis specialist',
       'Cognizant Technology sOlutions', 'AICV 18',
       'Associate Consultant ', 'Test Analyst',
       'Cognizant Technology Solutions Pvt Ltd',
       'IEEE international conference',
       '35th european photovoltaic solar energy conference and exi., Belgium ',
       '01-12-2017 00:00', '01-11-2018 00:00',
       'International Journal Of Electrical, Electronics And Data Communication',
       '0000-00-00 00:00:00', 'Analyst', 'Electronics design engineer',
       'Intellactual Property of India', 'Data Informatics', 'Finance',
       'Embedded systems', 'Electrical and computer science', 'Business ',
       'Information Technology', 'CyberSecurity',
       'Computer Science/ Mgmt', 'Instrumentation and Control', 'Design',
       'Rejected', 'Admitted', 'May-12', 'Systems Engineer',
       'food science', 'Associate Software Developer', 'MSIM',
       'Chemistry', 'International Affairs.',
       'Biotechnology/bio-engineering', 'MS Analytics/ MIS', 'CS / MIS',
       'economics ',
       '6th International Conference on Advanced Computing, Engineering and Technology,',
       'Research Intern',
       'Senior Software Engineer, Ernst & Young(Technologies - Guidewire Software, Java/JEE applications developer)',
       'Biomedical manufacturing and servicing engineer',
       'Reliance comminications', 'TRAINEE BUSINESS DEVELOPMENT',
       'Electronics and electrical engineering', 'CS/MIS',
       'Software Developer', 'mba', 'Applied Mathematics',
       'Wireless communications', 'MIS/MS CS',
       'Cell and Molecular Biology', 'Information Management',
       'Communication Engineering', 'Management Science and Engg',
       'Management of Technology', 'Biological Sciences, Biotechnology,',
       'Duke University', 'University of Arizona', 'Design Engineer',
       'Programmer Analyst',
       'International Journal of Advanced Trends in Engineering, Science and Technology (IJATEST)Volume.4, Special Issue.1Dec.2016',
       'International Conference in Computational Intelligence in Data Mining',
       'SUNY Buffalo', 'Application development analyst', 'No Research',
       '01-01-1970 06:00', 'Chennai (Madras)',
       'Georgia Institute of Technology',
       'University of North Carolina Charlotte', 'Santa Clara University',
       'Infosys Ltd.', 'Assistant System Engineer', 'Approved',
       'University of Texas Dallas', 'health administration',
       'Sustainable Energy Technology',
       'Masters in Business Administration', 'Architecture',
       'Software Development Engineer', 'Tata Consultancy Services',
       'Entertainment technology-Animations and graphics',
       'Game Development', 'Packaging Science', 'CS, MIS',
       'Computer Graphics and Game Technology',
       'Electrical Engineering and Computer Science',
       'Textile Science & Technology', 'CS/SE', 'IJREAM',
       '01-06-2015 05:00', 'Rochester Institute of Technology',
       'Computer engineering, VLSI CAD', 'Microbiology', 'pharmacy',
       'petroleum engineering', 'Pharmaceutical Sciences, Chemistry',
       'Astronautical Engineering', 'EE / CE / CS',
       'University of Southern California', '01-03-2016 05:00', 'Trainee',
       'Cognitive Science', 'Technische Universiteit Eindhoven',
       'University of Michigan Ann Arbor', 'Fachhochschule Ingolstadt',
       'Kettering University', 'University of Michigan Dearborn',
       'Hochschule Esslingen',
       'Rheinisch Westfalische Technische Hochschule Aachen',
       'Chalmers University of Technology',
       'KTH Royal Institute of Technology', 'Computational Biology',
       'Organizational Behavior', 'advertising', 'Technology Management',
       'Master of engineering management', 'Chemical/Environmental Engg.',
       'Mathematics', 'urban and regional planning', 'physics', 'MIS/MEM',
       'Structural ', 'Nuclear Engineering'], dtype=object)

In [1087]:
Edulix_data_all_college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35014 entries, 0 to 35013
Data columns (total 22 columns):
username             35014 non-null object
firstname            35014 non-null object
undergrad_college    35014 non-null object
undergrad_major      35014 non-null object
undergrad_gpa        35014 non-null object
country              4620 non-null object
gre_quant            35014 non-null object
gre_verbal           35014 non-null object
gre_awa              35014 non-null object
toefl_list           35014 non-null object
toefl_spk            35014 non-null object
toefl_rd             35014 non-null object
toefl_wrt            35014 non-null object
ielts_list           35014 non-null object
ielts_spk            35014 non-null object
ielts_rd             35014 non-null object
program              35014 non-null object
university           35014 non-null object
major                34991 non-null object
term                 35014 non-null object
year                 35014 non-null object
status               35014 non-null object
dtypes: object(22)
memory usage: 5.9+ MB

<b> Taking out computer science department from the dataset </b>

In [1088]:
required_majors = ['Computer Science','CS','Comp Science/Comp Networks/Comp Engg','CS / SE / IT / MIS','MIS/CS','Computer Science/ Mgmt']

In [1089]:
Edulix_data_all_college['major'].value_counts()

Computer Science                                                                                                              11816
Electrical Engineering                                                                                                         3291
MIS                                                                                                                            2659
Mechanical Engineering                                                                                                         1792
Computer Engineering                                                                                                           1628
Industrial Engineering                                                                                                         1412
Electronics and Communication                                                                                                  1392
2013                                                                                                                           1364
2014                                                                                                                           1123
2015                                                                                                                            958
2016                                                                                                                            551
Civil Engineering                                                                                                               516
(MIS / MSIM / MSIS / MSIT)                                                                                                      357
Electrical & Computer Engineering                                                                                               356
Electrical and Computer Engineering                                                                                             328
Management Information System                                                                                                   314
CS                                                                                                                              295
Engineering Management                                                                                                          280
Masters                                                                                                                         246
Telecommunication                                                                                                               238
2017                                                                                                                            232
Aerospace Engineering                                                                                                           200
Business Analytics                                                                                                              181
Comp Science/Comp Networks/Comp Engg                                                                                            176
Chemical Engineering                                                                                                            170
software engineering                                                                                                            149
Computer Engineering / Computer Networking / Computer Science                                                                   143
Information Systems                                                                                                             124
Biomedical Engineering                                                                                                           96
Computer Engineering/Comp Science                                                                                                85
                                                                                                                              ...
Reliance comminications                                                                                                           1
Senior Software Engineer                                                                                                          1
International Journal of Advanced Trends in Engineering, Science and Technology (IJATEST)Volume.4, Special Issue.1Dec.2016        1
University of California Santa Barbara                                                                                            1
Nuclear Engineering                                                                                                               1
Senior Engg                                                                                                                       1
01-06-2017 05:00                                                                                                                  1
01-01-1970 06:00                                                                                                                  1
Schoeffmann K. et al. (eds) MultiMedia Modeling. MMM 2018. Lecture Notes in Computer Science, vol 10704. Springer, Cham           1
ERP                                                                                                                               1
Simon Fraser University                                                                                                           1
01-11-2018 00:00                                                                                                                  1
Senior Software Engineer, Ernst & Young(Technologies - Guidewire Software, Java/JEE applications developer)                       1
University of Arizona                                                                                                             1
Application development analyst                                                                                                   1
Georgia Institute of Technology                                                                                                   1
Regulatory Affairs                                                                                                                1
IEEE MITE Conference                                                                                                              1
International Conference in Computational Intelligence in Data Mining                                                             1
May-12                                                                                                                            1
University of North Carolina Charlotte                                                                                            1
6th International Conference on Advanced Computing, Engineering and Technology,                                                   1
Cognizant Technology sOlutions                                                                                                    1
Masters in Business Administration                                                                                                1
0000-00-00 00:00:00                                                                                                               1
Hochschule Esslingen                                                                                                              1
Infosys Ltd.                                                                                                                      1
University of Florida                                                                                                             1
advertising                                                                                                                       1
Rochester Institute of Technology                                                                                                 1
Name: major, Length: 253, dtype: int64

In [1090]:
Edulix_data_all_college = Edulix_data_all_college[(Edulix_data_all_college['major'] == 'Computer Science') | (Edulix_data_all_college['major'] == 'CS')| (Edulix_data_all_college['major'] == 'Comp Science/Comp Networks/Comp Engg')| (Edulix_data_all_college['major'] == 'CS / SE / IT / MIS')| (Edulix_data_all_college['major'] == 'MIS/CS')| (Edulix_data_all_college['major'] == 'Computer Science/ Mgmt')]

In [1091]:
len(Edulix_data_all_college)

12401

In [1092]:
Edulix_data_all_college['major'].value_counts()

Computer Science                        11816
CS                                        295
Comp Science/Comp Networks/Comp Engg      176
CS / SE / IT / MIS                         56
MIS/CS                                     54
Computer Science/ Mgmt                      4
Name: major, dtype: int64

In [1093]:
Edulix_data_all_college['status'].value_counts()

Admitted    4958
Rejected    4664
Applied     2779
Name: status, dtype: int64

In [1094]:
Edulix_data_all_college

,username,firstname,undergrad_college,undergrad_major,undergrad_gpa,country,gre_quant,gre_verbal,gre_awa,toefl_list,...,toefl_wrt,ielts_list,ielts_spk,ielts_rd,program,university,major,term,year,status
50,arorohan,Abhishek,Mumbai University,Computer Engineering,68.6/100,NaN,170 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Northeastern University,Computer Science,Spring,2013,Admitted
51,arorohan,Abhishek,Mumbai University,Computer Engineering,68.6/100,NaN,170 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Illinois Urbana-Champaign,Computer Science,Spring,2013,Admitted
52,hardik_surana,Hardik,"National Institute of Technology, Durgapur",Computer Science and Engineering,7.36/10,NaN,162 /170,158 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Rutgers University New Brunswick/Piscataway,Computer Science,Spring,2014,Rejected
53,hardik_surana,Hardik,"National Institute of Technology, Durgapur",Computer Science and Engineering,7.36/10,NaN,162 /170,158 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Northeastern University,Computer Science,Spring,2014,Admitted
54,hardik_surana,Hardik,"National Institute of Technology, Durgapur",Computer Science and Engineering,7.36/10,NaN,162 /170,158 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Florida,Computer Science,Spring,2014,Rejected
84,kotasundeep,Sundeep,IIIT Hyderabad,Computer Science and Engineering,7.77/10,NaN,169 /170,151 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Texas A and M University College Station,Computer Science,Fall,2013,Applied
85,kotasundeep,Sundeep,IIIT Hyderabad,Computer Science and Engineering,7.77/10,NaN,169 /170,151 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Virginia Polytechnic Institute and State Unive...,Computer Science,Fall,2013,Applied
86,kotasundeep,Sundeep,IIIT Hyderabad,Computer Science and Engineering,7.77/10,NaN,169 /170,151 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Illinois Chicago,Computer Science,Fall,2013,Applied
87,kotasundeep,Sundeep,IIIT Hyderabad,Computer Science and Engineering,7.77/10,NaN,169 /170,151 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,North Carolina State University,Computer Science,Fall,2013,Admitted
88,kotasundeep,Sundeep,IIIT Hyderabad,Computer Science and Engineering,7.77/10,NaN,169 /170,151 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Georgia Institute of Technology,Computer Science,Fall,2013,Applied
89,kotasundeep,Sundeep,IIIT Hyderabad,Computer Science and Engineering,7.77/10,NaN,169 /170,151 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Northeastern University,Computer Science,Fall,2013,Admitted
90,kotasundeep,Sundeep,IIIT Hyderabad,Computer Science and Engineering,7.77/10,NaN,169 /170,151 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,SUNY Stony Brook,Computer Science,Fall,2013,Applied
91,kotasundeep,Sundeep,IIIT Hyderabad,Computer Science and Engineering,7.77/10,NaN,169 /170,151 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Massachusetts Amherst,Computer Science,Fall,2013,Applied
92,girishpatni,Girish,NIT Patna,Computer Science,8.24/10,NaN,167 /170,155 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Arizona State University,Computer Science,Fall,2015,Admitted
93,girishpatni,Girish,NIT Patna,Computer Science,8.24/10,NaN,167 /170,155 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Arizona,Computer Science,Fall,2015,Rejected
94,girishpatni,Girish,NIT Patna,Computer Science,8.24/10,NaN,167 /170,155 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Texas A and M University College Station,Computer Science,Fall,2015,Rejected
95,girishpatni,Girish,NIT Patna,Computer Science,8.24/10,NaN,167 /170,155 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Indiana University-Bloomington,Computer Science,Fall,2015,Rejected
96,girishpatni,Girish,NIT Patna,Computer Science,8.24/10,NaN,167 /170,155 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Northeastern University,Computer Science,Fall,2015,Admitted
97,girishpatni,Girish,NIT Patna,Computer Science,8.24/10,NaN,167 /170,155 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,SUNY Stony Brook,Computer Science,Fall,2015,Rejected
98,girishpatni,Girish,NIT Patna,Computer Science,8.24/10,NaN,167 /170,155 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of North Carolina Chapel Hill,Computer Science,Fall,2015,Applied
99,girishpatni,Girish,NIT Patna,Computer Science,8.24/10,NaN,167 /170,155 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Massachusetts Amherst,Computer Science,Fall,2015,Rejected
100,girishpatni,Girish,NIT Patna,Computer Science,8.24/10,NaN,167 /170,155 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Pennsylvania State University University Park ...,Computer Science,Fall,2015,Applied
109,mamata49p,Mamata,Sardar Patel University,Information Technology,8.94/10,NaN,164 /170,154 / 170,-0.166666667,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Texas Dallas,Computer Science,Fall,2013,Admitted
110,mamata49p,Mamata,Sardar Patel University,Information Technology,8.94/10,NaN,164 /170,154 / 170,-0.166666667,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Rutgers University New Brunswick/Piscataway,Computer Science,Fall,2013,Rejected
111,mamata49p,Mamata,Sardar Patel University,Information Technology,8.94/10,NaN,164 /170,154 / 170,-0.166666667,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Texas A and M University College Station,Computer Science,Fall,2013,Rejected
112,mamata49p,Mamata,Sardar Patel University,Information Technology,8.94/10,NaN,164 /170,154 / 170,-0.166666667,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,San Jose State University,Computer Science,Fall,2013,Admitted
113,mamata49p,Mamata,Sardar Patel University,Information Technology,8.94/10,NaN,164 /170,154 / 170,-0.166666667,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Northeastern University,Computer Science,Fall,2013,Admitted
114,mamata49p,Mamata,Sardar Patel University,Information Technology,8.94/10,NaN,164 /170,154 / 170,-0.166666667,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,SUNY Stony Brook,Computer Science,Fall,2013,Rejected
115,mamata49p,Mamata,Sardar Patel University,Information Technology,8.94/10,NaN,164 /170,154 / 170,-0.166666667,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Minnesota Twin Cities,Computer Science,Fall,2013,Applied
116,mamata49p,Mamata,Sardar Patel University,Information Technology,8.94/10,NaN,164 /170,154 / 170,-0.166666667,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Polytechnic University of New York,Computer Science,Fall,2013,Admitted
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34904,himanshuvyas18,Himanshu Vyas,"DA-IICT, Gandhinagar",ICT,5.66/10,NaN,165 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Texas Arlington,Computer Science,Fall,2016,Rejected
34905,himanshuvyas18,Himanshu Vyas,"DA-IICT, Gandhinagar",ICT,5.66/10,NaN,165 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Louisiana State University Baton Rouge,Computer Science,Fall,2016,Rejected
34906,karthiknara99,Karthik,Manipal University,Computer Science & Engineering,8.47/10,NaN,164 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Texas Dallas,Computer Science,Fall,2016,Rejected
34907,karthiknara99,Karthik,Manipal University,Computer Science & Engineering,8.47/10,NaN,164 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Arizona State University,Computer Science,Fall,2016,Applied
34908,karthiknara99,Karthik,Manipal University,Computer Science & Engineering,8.47/10,NaN,164 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of California Irvine,Computer Science,Fall,2016,Applied
34909,karthiknara99,Karthik,Manipal University,Computer Science & Engineering,8.47/10,NaN,164 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Southern California,Computer Science,Fall,2016,Rejected
34910,karthiknara99,Karthik,Manipal University,Computer Science & Engineering,8.47/10,NaN,164 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Utah,Computer Science,Fall,2016,Rejected
34911,karthiknara99,Karthik,Manipal University,Computer Science & Engineering,8.47/10,NaN,164 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Iowa State University,Computer Science,Fall,2016,Applied
34912,karthiknara99,Karthik,Manipal University,Computer Science & Engineering,8.47/10,NaN,164 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Syracuse University,Computer Science,Fall,2016,Applied
34913,karthiknara99,Karthik,Manipal University,Computer Science & Engineering,8.47/10,NaN,164 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Florida,Computer Science,Fall,2016,Admitted
34914,karthiknara99,Karthik,Manipal University,Computer Science & Engineering,8.47/10,NaN,164 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,George Mason University,Computer Science,Fall,2016,Applied
34915,karthiknara99,Karthik,Manipal University,Computer Science & Engineering,8.47/10,NaN,164 /170,147 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Polytechnic University of New York,Computer Science,Fall,2016,Admitted
34937,saranyavatti,Saranya Vatti,BITS Pilani,M.Sc. Tech. Information Systems,6.6/10,NaN,170 /170,161 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Texas Dallas,Computer Science,Fall,2017,Rejected
34938,saranyavatti,Saranya Vatti,BITS Pilani,M.Sc. Tech. Information Systems,6.6/10,NaN,170 /170,161 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Texas Austin,Computer Science,Fall,2017,Rejected
34939,saranyavatti,Saranya Vatti,BITS Pilani,M.Sc. Tech. Information Systems,6.6/10,NaN,170 /170,161 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,San Jose State University,Computer Science,Fall,2017,Applied
34940,saranyavatti,Saranya Vatti,BITS Pilani,M.Sc. Tech. Information Systems,6.6/10,NaN,170 /170,161 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Virginia Polytechnic Institute and State Unive...,Computer Science,Fall,2017,Rejected
34941,saranyavatti,Saranya Vatti,BITS Pilani,M.Sc. Tech. Information Systems,6.6/10,NaN,170 /170,161 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,North Carolina State University,Computer Science,Fall,2017,Rejected
34942,saranyavatti,Saranya Vatti,BITS Pilani,M.Sc. Tech. Information Systems,6.6/10,NaN,170 /170,161 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Florida,Computer Science,Fall,2017,Admitted
34943,saranyavatti,Saranya Vatti,BITS Pilani,M.Sc. Tech. Information Systems,6.6/10,NaN,170 /170,161 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Illinois Urbana-Champaign,Computer Science,Fall,2017,Rejected
34944,saranyavatti,Saranya Vatti,BITS Pilani,M.Sc. Tech. Information Systems,6.6/10,NaN,170 /170,161 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of California Santa Barbara,Computer Science,Fall,2017,Applied
34945,saranyavatti,Saranya Vatti,BITS Pilani,M.Sc. Tech. Information Systems,6.6/10,NaN,170 /170,161 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of California San Diego,Computer Science,Fall,2017,Rejected
34946,saranyavatti,Saranya Vatti,BITS Pilani,M.Sc. Tech. Information Systems,6.6/10,NaN,170 /170,161 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of California Berkeley,Computer Science,Fall,2017,Rejected
34947,saranyavatti,Saranya Vatti,BITS Pilani,M.Sc. Tech. Information Systems,6.6/10,NaN,170 /170,161 / 170,04-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of California Santa Cruz,Computer Science,Fall,2017,Rejected
34951,justine91,Reddy,BITS-PIlani,Computer Science and Information Systems,06-Oct,NaN,163 /170,157 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,SUNY Binghamton,Computer Science,Fall,2016,Admitted
34952,justine91,Reddy,BITS-PIlani,Computer Science and Information Systems,06-Oct,NaN,163 /170,157 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Florida,Computer Science,Fall,2016,Admitted
34967,indrajit2017,Indrajit,Walchand college of engineering,Civil,65/100,NaN,162 /170,162 / 170,05-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Florida,Computer Science,Fall,2017,Admitted
34968,leviackerman,Prakash,Bits Pilani,Computer Science,6.24/10,NaN,170 /170,149 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Illinois Chicago,Computer Science,Fall,2017,Rejected
34969,leviackerman,Prakash,Bits Pilani,Computer Science,6.24/10,NaN,170 /170,149 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,North Carolina State University,Computer Science,Fall,2017,Rejected
34970,leviackerman,Prakash,Bits Pilani,Computer Science,6.24/10,NaN,170 /170,149 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,Iowa State University,Computer Science,Fall,2017,Admitted
34971,leviackerman,Prakash,Bits Pilani,Computer Science,6.24/10,NaN,170 /170,149 / 170,03-Jun,0 / 30,...,0 / 30,0 / 9,0 / 9,0 / 9,Masters,University of Florida,Computer Science,Fall,2017,Admitted

<b> Our 15 college admit and rejects for Computer Science</b>

In [1095]:
Edulix_data_all_college.university.unique()
Edulix_data_all_college['university'] = Edulix_data_all_college['university'].str.lower()

In [1096]:
required_colleges = ['northeastern university','illinois institute of technology','michigan technological university','rochester institute of technology','university of southern california','university of north carolina charlotte','university of texas arlington','university of texas dallas','syracuse university','clemson university','new york university','indiana university-bloomington','rutgers university new brunswick/piscataway','san jose state university','university of florida']

In [1097]:
Edulix_data_all_college = Edulix_data_all_college[(Edulix_data_all_college['university'] == 'northeastern university') |(Edulix_data_all_college['university'] =='illinois institute of technology')| (Edulix_data_all_college['university'] =='michigan technological university')| (Edulix_data_all_college['university'] == 'rochester institute of technology')| (Edulix_data_all_college['university'] == 'university of southern california')| (Edulix_data_all_college['university'] == 'university of north carolina charlotte') | (Edulix_data_all_college['university'] =='university of texas arlington')| (Edulix_data_all_college['university'] =='university of texas dallas')|(Edulix_data_all_college['university'] == 'syracuse university')| (Edulix_data_all_college['university'] == 'clemson university')|(Edulix_data_all_college['university'] == 'new york university')|(Edulix_data_all_college['university'] =='indiana university-bloomington')| (Edulix_data_all_college['university'] == 'rutgers university new brunswick/piscataway') | (Edulix_data_all_college['university'] == 'san jose state university')| (Edulix_data_all_college['university'] == 'university of florida')]

In [1098]:
Edulix_data_all_college['university'].value_counts()

university of texas dallas                     716
university of southern california              676
northeastern university                        622
university of florida                          502
indiana university-bloomington                 339
san jose state university                      281
rochester institute of technology              267
syracuse university                            254
university of north carolina charlotte         228
university of texas arlington                  198
illinois institute of technology               158
rutgers university new brunswick/piscataway    156
new york university                            106
clemson university                              65
michigan technological university               16
Name: university, dtype: int64

In [1099]:
for college in required_colleges:
    print(college)
    col_rec = (Edulix_data_all_college['university']== college)
    print(Edulix_data_all_college.loc[col_rec,:]['status'].value_counts())
    print('---------------------------')

northeastern university
Admitted    343
Rejected    166
Applied     113
Name: status, dtype: int64
---------------------------
illinois institute of technology
Admitted    122
Rejected     24
Applied      12
Name: status, dtype: int64
---------------------------
michigan technological university
Admitted    10
Rejected     5
Applied      1
Name: status, dtype: int64
---------------------------
rochester institute of technology
Admitted    241
Applied      18
Rejected      8
Name: status, dtype: int64
---------------------------
university of southern california
Applied     294
Admitted    261
Rejected    121
Name: status, dtype: int64
---------------------------
university of north carolina charlotte
Admitted    119
Rejected     82
Applied      27
Name: status, dtype: int64
---------------------------
university of texas arlington
Admitted    143
Applied      29
Rejected     26
Name: status, dtype: int64
---------------------------
university of texas dallas
Admitted    511
Rejected    153
Applied      52
Name: status, dtype: int64
---------------------------
syracuse university
Admitted    130
Rejected    100
Applied      24
Name: status, dtype: int64
---------------------------
clemson university
Rejected    27
Admitted    24
Applied     14
Name: status, dtype: int64
---------------------------
new york university
Admitted    57
Rejected    33
Applied     16
Name: status, dtype: int64
---------------------------
indiana university-bloomington
Admitted    196
Rejected     75
Applied      68
Name: status, dtype: int64
---------------------------
rutgers university new brunswick/piscataway
Rejected    69
Applied     55
Admitted    32
Name: status, dtype: int64
---------------------------
san jose state university
Admitted    159
Applied      87
Rejected     35
Name: status, dtype: int64
---------------------------
university of florida
Rejected    232
Admitted    171
Applied      99
Name: status, dtype: int64
---------------------------

<b> Removing status = applied </b>

In [1100]:
Edulix_data_all_college = Edulix_data_all_college[(Edulix_data_all_college['status'] == 'Rejected') |(Edulix_data_all_college['status'] == 'Admitted')]

In [1101]:
for college in required_colleges:
    print(college)
    col_rec = (Edulix_data_all_college['university']== college)
    print(Edulix_data_all_college.loc[col_rec,:]['status'].value_counts())
    print('---------------------------')

northeastern university
Admitted    343
Rejected    166
Name: status, dtype: int64
---------------------------
illinois institute of technology
Admitted    122
Rejected     24
Name: status, dtype: int64
---------------------------
michigan technological university
Admitted    10
Rejected     5
Name: status, dtype: int64
---------------------------
rochester institute of technology
Admitted    241
Rejected      8
Name: status, dtype: int64
---------------------------
university of southern california
Admitted    261
Rejected    121
Name: status, dtype: int64
---------------------------
university of north carolina charlotte
Admitted    119
Rejected     82
Name: status, dtype: int64
---------------------------
university of texas arlington
Admitted    143
Rejected     26
Name: status, dtype: int64
---------------------------
university of texas dallas
Admitted    511
Rejected    153
Name: status, dtype: int64
---------------------------
syracuse university
Admitted    130
Rejected    100
Name: status, dtype: int64
---------------------------
clemson university
Rejected    27
Admitted    24
Name: status, dtype: int64
---------------------------
new york university
Admitted    57
Rejected    33
Name: status, dtype: int64
---------------------------
indiana university-bloomington
Admitted    196
Rejected     75
Name: status, dtype: int64
---------------------------
rutgers university new brunswick/piscataway
Rejected    69
Admitted    32
Name: status, dtype: int64
---------------------------
san jose state university
Admitted    159
Rejected     35
Name: status, dtype: int64
---------------------------
university of florida
Rejected    232
Admitted    171
Name: status, dtype: int64
---------------------------

<b> Finding the average GRE Verbal Score for the candidates across all universities respectievely for Accept and Reject </b>

In [1102]:
Edulix_data_all_college.columns

Index(['username', 'firstname', 'undergrad_college', 'undergrad_major',
       'undergrad_gpa', 'country', 'gre_quant', 'gre_verbal', 'gre_awa',
       'toefl_list', 'toefl_spk', 'toefl_rd', 'toefl_wrt', 'ielts_list',
       'ielts_spk', 'ielts_rd', 'program', 'university', 'major', 'term',
       'year', 'status'],
      dtype='object')

In [1103]:
Edulix_data_all_college['gre_quant'].value_counts()

162 /170        362
163 /170        345
164 /170        312
159 /170        306
161 /170        302
158 /170        285
160 /170        243
170 /170        219
157 /170        176
165 /170        172
168 /170        170
167 /170        169
166 /170        160
156 /170        122
169 /170         92
155 /170         69
154 /170         36
152 /170         24
-0.005882353     22
150 /170         22
151 /170         21
153 /170         16
0 /170            8
148 /170          4
147 /170          4
140 /170          3
15-10-2017        3
30-11--0001       2
139 /170          2
138 /170          1
136 /170          1
143 /170          1
03-12-2016        1
Name: gre_quant, dtype: int64

In [1104]:
Edulix_data_all_college['gre_verbal'].value_counts()

152 / 170       356
149 / 170       311
150 / 170       296
153 / 170       253
148 / 170       231
151 / 170       221
155 / 170       215
147 / 170       184
146 / 170       181
154 / 170       174
145 / 170       163
157 / 170       139
144 / 170       120
143 / 170        98
156 / 170        98
158 / 170        83
141 / 170        74
159 / 170        74
161 / 170        65
160 / 170        61
142 / 170        59
162 / 170        42
139 / 170        24
163 / 170        24
140 / 170        17
-0.005882353     17
164 / 170        15
165 / 170        14
138 / 170        10
167 / 170         9
0 / 170           9
137 / 170         8
136 / 170         7
166 / 170         7
Masters           6
168 / 170         3
135 / 170         2
132 / 170         2
134 / 170         1
169 / 170         1
170 / 170         1
Name: gre_verbal, dtype: int64

In [1106]:
#Edulix_data_all_college["gre_verbal"] = Edulix_data_all_college["gre_verbal"].astype(str)
Edulix_data_all_college["gre_verbal"] = [x.replace(' / 170','') for x in Edulix_data_all_college["gre_verbal"]]
Edulix_data_all_college["gre_verbal"] = [x.replace('Masters','') for x in Edulix_data_all_college["gre_verbal"]]
Edulix_data_all_college["gre_verbal"] = [x.replace('-0.005882353','') for x in Edulix_data_all_college["gre_verbal"]]
Edulix_data_all_college["gre_verbal"] = [x.replace('0 ','0') for x in Edulix_data_all_college["gre_verbal"]]
Edulix_data_all_college["gre_verbal"] = [x.replace('0','0') for x in Edulix_data_all_college["gre_verbal"]]

In [1107]:
Edulix_data_all_college['gre_verbal'].unique()

array(['147', '158', '151', '155', '154', '153', '162', '167', '160',
       '149', '141', '148', '152', '165', '144', '157', '145', '156',
       '143', '146', '159', '150', '142', '139', '164', '163', '136',
       '161', '140', '168', '', '137', '166', '0', '138', '135', '132',
       '169', '170', '134'], dtype=object)

In [1108]:
gre_verbal_list = Edulix_data_all_college['gre_verbal'].tolist()

for pos, ele in enumerate(gre_verbal_list):
    if ele == '':
        gre_verbal_list[pos] = '0'

In [1109]:
Edulix_data_all_college['gre_verbal'] = gre_verbal_list

In [1110]:
Edulix_data_all_college['gre_verbal'].value_counts()

152    356
149    311
150    296
153    253
148    231
151    221
155    215
147    184
146    181
154    174
145    163
157    139
144    120
143     98
156     98
158     83
141     74
159     74
161     65
160     61
142     59
162     42
0       32
163     24
139     24
140     17
164     15
165     14
138     10
167      9
137      8
166      7
136      7
168      3
132      2
135      2
169      1
134      1
170      1
Name: gre_verbal, dtype: int64

In [1111]:
Edulix_data_all_college['gre_verbal'] = Edulix_data_all_college['gre_verbal'].astype('int')

In [1112]:
mean_gre_verbal_list = Edulix_data_all_college.groupby(by=['university','status'])['gre_verbal'].mean().to_dict()

In [1113]:
mean_gre_verbal_list

{('clemson university', 'Admitted'): 153.5,
 ('clemson university', 'Rejected'): 149.77777777777777,
 ('illinois institute of technology', 'Admitted'): 147.50819672131146,
 ('illinois institute of technology', 'Rejected'): 148.08333333333334,
 ('indiana university-bloomington', 'Admitted'): 150.94387755102042,
 ('indiana university-bloomington', 'Rejected'): 151.22666666666666,
 ('michigan technological university', 'Admitted'): 149.5,
 ('michigan technological university', 'Rejected'): 152.8,
 ('new york university', 'Admitted'): 149.6140350877193,
 ('new york university', 'Rejected'): 152.63636363636363,
 ('northeastern university', 'Admitted'): 150.865889212828,
 ('northeastern university', 'Rejected'): 149.53614457831324,
 ('rochester institute of technology', 'Admitted'): 149.9253112033195,
 ('rochester institute of technology', 'Rejected'): 150.25,
 ('rutgers university new brunswick/piscataway', 'Admitted'): 154.1875,
 ('rutgers university new brunswick/piscataway',
  'Rejected'): 152.95652173913044,
 ('san jose state university', 'Admitted'): 149.37106918238993,
 ('san jose state university', 'Rejected'): 144.02857142857144,
 ('syracuse university', 'Admitted'): 147.65384615384616,
 ('syracuse university', 'Rejected'): 149.74,
 ('university of florida', 'Admitted'): 152.15204678362574,
 ('university of florida', 'Rejected'): 151.17672413793105,
 ('university of north carolina charlotte', 'Admitted'): 146.9075630252101,
 ('university of north carolina charlotte', 'Rejected'): 149.0609756097561,
 ('university of southern california', 'Admitted'): 151.27586206896552,
 ('university of southern california', 'Rejected'): 149.8595041322314,
 ('university of texas arlington', 'Admitted'): 142.1888111888112,
 ('university of texas arlington', 'Rejected'): 149.5,
 ('university of texas dallas', 'Admitted'): 148.00195694716243,
 ('university of texas dallas', 'Rejected'): 149.2483660130719}

<b> Checking Data for Yocket <b>

Checking total rows and unique values in each column:

In [1114]:
Yocket_data_all_college.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3466 entries, 0 to 3465
Data columns (total 12 columns):
student_name             3466 non-null object
university_name          3342 non-null object
year_applying            3218 non-null object
Status                   3218 non-null object
GRE                      3218 non-null object
GRE_SCORE                3218 non-null object
Eng_test                 3218 non-null object
Test_score               3218 non-null object
Undergraduation          3218 non-null object
Undergraduation_score    3218 non-null object
is_work_ex               3218 non-null object
work_ex                  2547 non-null object
dtypes: object(12)
memory usage: 352.0+ KB

<b> REMOVING - Duplicates and NAN values </b>

In [1115]:
Yocket_data_all_college.drop_duplicates(inplace=True)

In [1116]:
Yocket_data_all_college.isna().sum()

student_name               0
university_name            1
year_applying              3
Status                     3
GRE                        3
GRE_SCORE                  3
Eng_test                   3
Test_score                 3
Undergraduation            3
Undergraduation_score      3
is_work_ex                 3
work_ex                  655
dtype: int64

In [1117]:
Yocket_data_all_college['GRE_SCORE'].dropna(inplace=True)

In [1118]:
Yocket_data_all_college.reset_index(drop=True,inplace=True)

In [1119]:
Yocket_data_all_college = Yocket_data_all_college[Yocket_data_all_college['student_name']!='VIEW ALL EVENTS']

In [1120]:
Yocket_data_all_college = Yocket_data_all_college[Yocket_data_all_college['student_name']!='Q) What is Fast Track Event?']

In [1121]:
Yocket_data_all_college.isna().sum()

student_name               0
university_name            0
year_applying              0
Status                     0
GRE                        0
GRE_SCORE                  0
Eng_test                   0
Test_score                 0
Undergraduation            0
Undergraduation_score      0
is_work_ex                 0
work_ex                  652
dtype: int64

<b>  COLUMN = WORK EX and is_work_ex</b> <br>
- Filling missing values with '0 months'
- Drop 'is_work_ex' column
- Removing months from workex

In [1122]:
Yocket_data_all_college=Yocket_data_all_college.fillna('0 months')

In [1123]:
Yocket_data_all_college['work_ex'].isna().sum()

0

In [1124]:
Yocket_data_all_college.drop(columns = ['is_work_ex'],inplace = True)

In [1125]:
#Yocket_data_all_college["work_ex"] = Yocket_data_all_college["work_ex"].astype(str)
Yocket_data_all_college["work_ex"] = [x.replace(' months','') for x in Yocket_data_all_college["work_ex"]]
Yocket_data_all_college["work_ex"] = [x.replace(' ','') for x in Yocket_data_all_college["work_ex"]]
Yocket_data_all_college["work_ex"] = [x.replace('month','') for x in Yocket_data_all_college["work_ex"]]
Yocket_data_all_college["work_ex"] = [x.replace('NA','') for x in Yocket_data_all_college["work_ex"]]

In [1126]:
Yocket_data_all_college[Yocket_data_all_college["work_ex"]=='']='0'

In [1127]:
Yocket_data_all_college["work_ex"].unique()

array(['4', '24', '6', '13', '8', '48', '1', '5', '30', '20', '0', '9',
       '12', '33', '25', '2', '10', '41', '60', '28', '36', '15', '11',
       '32', '26', '19', '21', '-1', '31', '50', '14', '7', '3', '39',
       '16', '17', '43', '22', '27', '40', '23', '29', '18', '46', '68',
       '47', '35', '37', '34', '57', '38', '44', '77', '42', '53', '45',
       '82', '54', '79', '51', '64', '52', '90', '55', '153', '74', '72',
       '58', '92', '110', '63', '132', '65', '49', '85', '94', '86', '56',
       '84', '61'], dtype=object)

<b> COLUMN = Undergraduation_score and Undergraduation</b>
- Removing % sign
- Removing 'cgpa' character
- Converting Cgpa on scale of 4
- Drop Undergraduation

In [1128]:
Yocket_data_all_college["Undergraduation_score"].unique()

array(['8.8 CGPA ', '8.16 CGPA ', '82.30%', '8.21 CGPA ', '7.2 CGPA ',
       '7 CGPA ', '8.38 CGPA ', '8.86 CGPA ', '9.2 CGPA ', '7.18 CGPA ',
       '8.9 CGPA ', '7.06 CGPA ', '0 CGPA ', '8.87 CGPA ', '68.60%',
       '75%', '8.65 CGPA ', '7.5 CGPA ', '82%', '8.24 CGPA ', '7.8 CGPA ',
       '8.58 CGPA ', '8.68 CGPA ', '7.98 CGPA ', '77%', '8.79 CGPA ',
       '70%', '8 CGPA ', '9.1 CGPA ', '7.83 CGPA ', '9.15 CGPA ',
       '9.12 CGPA ', '9.4 CGPA ', '7.19 CGPA ', '8.5 CGPA ', '8.2 CGPA ',
       '8.7 CGPA ', '8.62 CGPA ', '8.332 CGPA ', '8.26 CGPA ', '91%',
       '7.68 CGPA ', '86.25%', '8.15 CGPA ', '80%', '9.5 CGPA ',
       '8.89 CGPA ', '8.32 CGPA ', '8.75 CGPA ', '8.03 CGPA  ',
       '7.84 CGPA ', '7.34 CGPA ', '9.19 CGPA ', '7.1 CGPA ',
       '8.02 CGPA ', '7.3 CGPA ', '6.48 CGPA ', '9.55 CGPA ',
       '7.66 CGPA ', '7.4 CGPA ', '79%', '8.1 CGPA ', '81%', '7.7 CGPA ',
       '8.6 CGPA ', '8.22 CGPA ', '76.10%', '8.34 CGPA ', '7.6 CGPA ',
       '8.45 CGPA ', '82.82%', '8.76 CGPA ', '73%', '8.64 CGPA ',
       '72.20%', '8.17 CGPA ', '77.80%', '8.702 CGPA ', '9.16 CGPA ',
       '88.70%', ' 8.65 CGPA ', '8.59 CGPA ', '7.45 CGPA ', '8.55 CGPA ',
       '8.67 CGPA ', '8.09 CGPA ', '8.97 CGPA ', '8.91 CGPA ', '68%',
       '8.56 CGPA ', '9.06 CGPA ', '8.52 CGPA ', '9.08 CGPA ',
       '7.49 CGPA ', '8.4 CGPA ', '74%', '64.50%', '8.98 CGPA ',
       '9 CGPA ', '67%', '8.23 CGPA ', '83.70%', '6.97 CGPA ',
       '7.348 CGPA ', '70.60%', '7.22 CGPA ', '8.47 CGPA ', '8.14 CGPA ',
       '7.76 CGPA ', '7.74 CGPA ', '66.67%', '7.54 CGPA ', '7.89 CGPA ',
       '7.94 CGPA ', '71.60%', '7.982 CGPA ', '8.94 CGPA ', '69.20%',
       '8.33 CGPA ', '9.66 CGPA ', '79.34%', '71%', '65%', '63.60%',
       '8.03 CGPA ', '78%', '69%', '77.40%', '74.50%', '66%', '79.67%',
       '9.76 CGPA ', '7.03 CGPA ', '9.435 CGPA ', '76.30%', '89.92%',
       '67.96%', '69.45%', '65.20%', '8.69 CGPA ', '8.49 CGPA ',
       '8.74 CGPA ', '71.90%', '69.14%', ' 8.73 CGPA ', '8.51 CGPA ',
       '72%', '76.16%', '64.88%', '8.48 CGPA ', '8.07 CGPA ', '74.33%',
       '73.60%', '9.04 CGPA ', '66.79%', '67.41%', '79.47%', '9.11 CGPA ',
       '8.81 CGPA ', '70.35%', '86.90%', '9.8 CGPA ', '7.64 CGPA ',
       '82.09%', '64.98%', '76.40%', '8.39 CGPA ', '8.628 CGPA ',
       '9.29 CGPA ', '62.50%', '8.3 CGPA ', '8.46 CGPA ', '7.72 CGPA ',
       '83%', '89%', '6.9 CGPA ', '7.9 CGPA ', '8.36 CGPA ', '8.43 CGPA ',
       '6.7 CGPA ', '68.50%', '8.06 CGPA ', '9.585 CGPA ', '8.63 CGPA ',
       '80.50%', '5.19 CGPA ', '70.29%', '71.64%', '63.23%', '8.13 CGPA ',
       ' 8.06 CGPA ', '7.36 CGPA ', '6.74 CGPA ', '8.31 CGPA ',
       '3.55 CGPA ', '63.42%', '58%', '71.34%', '7.55 CGPA ',
       '7.82 CGPA ', '69.80%', '7.04 CGPA ', '6.389 CGPA ', '8.77 CGPA ',
       '62.66%', '7.41 CGPA ', '60.04%', '3.7 CGPA ', '6.36 CGPA ', '76%',
       '64%', '7.14 CGPA ', '84.20%', '61.23%', '8.88 CGPA ',
       '7.85 CGPA ', '84.92%', '80.39%', '6.87 CGPA ', '86.60%',
       '8.41 CGPA ', '64.34%', '64.42%', '8.08 CGPA ', '88%', '72.50%',
       '70.50%', '7.95 CGPA ', '60.20%', '7.61 CGPA ', '7.704 CGPA ',
       '61.86%', '7.57 CGPA ', '7.71 CGPA ', '56.49%', '65.10%',
       '6.78 CGPA ', '8.37 CGPA ', '7.86 CGPA ', '7.65 CGPA ',
       '8.835 CGPA ', '71.14%', '69.04%', '8.71 CGPA ', '67.50%',
       '7.96 CGPA ', '9.14 CGPA ', '77.50%', '6.37 CGPA ', '6.59 CGPA ',
       '7.53 CGPA ', '6.99 CGPA ', '73.68%', '66.13%', '8.18 CGPA ',
       '7.35 CGPA ', '6.84 CGPA ', '7.24 CGPA ', '8.44 CGPA ', '56%',
       '7.63 CGPA ', '64.56%', '7.29 CGPA ', '72.60%', '74.18%',
       '7.77 CGPA ', '8.93 CGPA ', '8.73 CGPA ', '61.41%', '7.88 CGPA ',
       '83.40%', '77.17%', '9.03 CGPA ', '9.69 CGPA ', '7.11 CGPA ',
       '86.77%', '8.95 CGPA ', '8.85 CGPA ', '9.68 CGPA ', '9.45 CGPA ',
       '9.7 CGPA ', '9.72 CGPA ', '92.11%', '9.56 CGPA ', '9.24 CGPA ',
       '9.36 CGPA ', '84.08%', '9.05 CGPA ', '8.04 CGPA ', '8.96 CGPA ',
       '9.25 CGPA ', '9.41 CGPA ', '9.39 CGPA ', '9.21 CGPA ',
       '9.83 CGPA ', '9.13 CGPA ', '9.54 CGPA ', '9.35 CGPA ',
       '9.37 CGPA ', '9.22 CGPA ', '9.78 CGPA ', '9.75 CGPA ',
       '9.152 CGPA ', '9.38 CGPA ', '9.127 CGPA ', '9.28 CGPA ',
       '9.61 CGPA ', '9.46 CGPA ', '9.3 CGPA ', '9.34 CGPA ', '91.10%',
       '9.33 CGPA ', '9.79 CGPA ', '8.775 CGPA ', '8.84 CGPA ',
       '8.99 CGPA ', '8.78 CGPA ', '9.01 CGPA ', '9.17 CGPA ',
       '9.02 CGPA ', '9.42 CGPA ', '84.40%', '9.09 CGPA ', '73.30%',
       '74.10%', '75.94%', '8.57 CGPA ', '65.49%', '9.18 CGPA ', '71.37%',
       '69.10%', '60%', '7.51 CGPA ', '69.73%', '68.99%', '75.34%',
       '73.08%', '8.28 CGPA ', '85%', '67.30%', '8.72 CGPA ', '84.19%',
       '7.48 CGPA ', '7.12 CGPA ', '9.63 CGPA ', '7.67 CGPA ', '73.86%',
       '86%', '84%', '9.52 CGPA ', '77.24%', '8.61 CGPA ', '71.53%',
       '62%', '61%', '8.19 CGPA ', '10 CGPA ', '7.42 CGPA ', '70.23%',
       '71.36%', '78.79%', '8.25 CGPA ', '73.80%', '7.28 CGPA ',
       '6.5 CGPA ', '58.12%', '61.06%', '7.32 CGPA ', '7.47 CGPA ',
       '7.21 CGPA ', '6.31 CGPA ', '7.08 CGPA ', '7.52 CGPA ', '72.06%',
       '6.72 CGPA ', '78.90%', '68.31%', '74.25%', '79.70%', '7.38 CGPA ',
       '71.50%', '6.1 CGPA ', '72.81%', '62.45%', '63%', '7.02 CGPA ',
       '6.75 CGPA ', '8.05 CGPA ', '93%', '6.95 CGPA ', '72.67%',
       '7.75 CGPA ', '6.89 CGPA ', '6.8 CGPA ', '72.90%', '62.94%',
       '82.70%', '71.16%', '3.13 CGPA ', '8.83 CGPA ', '78.34%', '77.13%',
       '79.38%', '71.98%', '7.62 CGPA ', '75.20%', '8.12 CGPA ', '87.20%',
       '87%', '8.706 CGPA ', '9.27 CGPA ', '8.82 CGPA ', '90%', '80.30%',
       '9.65 CGPA ', '8.42 CGPA ', '9.6 CGPA ', '9.144 CGPA ', '84.55%',
       '7.09 CGPA ', '66.36%', '72.32%', '8.789 CGPA ', '7.79 CGPA ',
       '55%', '7.81 CGPA ', '64.68%', '61.90%', '66.66%', '7.58 CGPA ',
       '66.50%', '72.29%', '3.21 CGPA ', '7.44 CGPA ', '6.58 CGPA ',
       '72.19%', '67.76%', '78.10%', '67.10%', '75.30%', '7.73 CGPA ',
       '7.91 CGPA ', '9.122 CGPA ', '69.56%', '76.28%', '7.23 CGPA ',
       '6.61 CGPA ', '81.11%', '7.87 CGPA ', '7.07 CGPA ', '72.04%',
       '6.93 CGPA ', '73.76%', '80.44%', '7.37 CGPA ', '6.85 CGPA ',
       '70.30%', '77.57%', '76.46%', ' 9.02 CGPA ', '8.35 CGPA ',
       '84.86%', '89.52%', '83.50%', '8.27 CGPA ', '8.11 CGPA ', '80.60%',
       '68.80%', '75.37%', '8.54 CGPA ', '71.73%', '9.48 CGPA ',
       '7.01 CGPA ', '88.06%', '73.51%', '9.99 CGPA ', '8.325 CGPA ',
       '9.272 CGPA ', '6.96 CGPA ', '9.07 CGPA ', '88.90%', '73.70%',
       '82.75%', '63.13%', '8.53 CGPA ', '64.30%', '81.90%', '81.78%',
       '73.62%', '57.67%', '6.7 CGPA  ', '87.05%', '69.90%', ' 7 CGPA ',
       '7.26 CGPA ', '6.86 CGPA ', '66.68%', '80.25%', '7.99 CGPA ',
       '72.41%', ' 8.74 CGPA ', '7.46 CGPA ', '7.97 CGPA ', '6.91 CGPA ',
       '7.78 CGPA ', '7.27 CGPA ', '62.04%', '63.38%', '75.50%', '91.14%',
       '7.39 CGPA ', '80.48%', '67.80%', '7.15 CGPA ', '7.56 CGPA ',
       '88.50%', '6.01 CGPA ', '7.973 CGPA ', '7.956 CGPA ', '9.32 CGPA ',
       '67.06%', '6.98 CGPA ', '8.49 CGPA  ', '67.55%', '6.88 CGPA ',
       '79.50%', '73.47%', '7.93 CGPA ', '74.88%', '66.70%', '59%',
       '78.20%', '7.31 CGPA ', '7.25 CGPA ', '6.34 CGPA ', '64.83%',
       '70.70%', '75.73%', '68.56%', '75.24%', '6.83 CGPA ', '85.60%',
       '77.02%', '60.45%', '40%', '77.20%', '82.10%', '65.40%', '81.40%',
       '66.90%', '7.16 CGPA ', '84.50%', '83.48%', '66.52%', '9.31 CGPA ',
       '70.28%', '6.33 CGPA ', '76.47%', '6.65 CGPA ', '79.90%', '81.60%',
       '76.80%', 'WORK EX', '3.03 CGPA ', '79.83%', '76.70%',
       '6.51 CGPA ', '6.6 CGPA ', '5.2 CGPA ', '53%', '7.574 CGPA ',
       '6.57 CGPA ', '84.15%', '73.33%', '8.5792 CGPA ', '69.50%',
       '6.4 CGPA ', '69.30%', '75.60%', '3.57 CGPA ', '7.463 CGPA ',
       '69.36%', '70.40%', '6.35 CGPA ', '74.30%', '97.15%',
       '8.07 CGPA  ', '6.38 CGPA ', '7.59 CGPA ', '69.33%', '54%',
       '6.52 CGPA ', '6.05 CGPA ', '61.33%', '61.94%', '7.17 CGPA ',
       '63.33%', '83.32%', '55.17%', '6.43 CGPA ', '6.18 CGPA ', '60.08%',
       '70.75%', '6.14 CGPA ', '62.15%', '57%', '6.76 CGPA ',
       '6.19 CGPA ', '6.32 CGPA ', '3.31 CGPA ', '6.06 CGPA ', '85.84%',
       '3.19 CGPA ', '54.40%', '61.53%', '6.2 CGPA ', '6.25 CGPA ',
       '65.50%', '79.31%', '6 CGPA ', '59.12%', '6.3 CGPA ',
       '7.7983 CGPA ', '54.30%', '6.29 CGPA ', '72.80%', '59.89%',
       '75.15%', '7.025 CGPA ', '6.41 CGPA ', '6.64 CGPA ', '63.35%',
       '5.56 CGPA ', '5.9 CGPA ', '57.76%', '62.30%', '8.136 CGPA ',
       '89.70%', '54.60%', '56.46%', '6%', '5.76 CGPA ', '82.50%',
       '73.48%', '5.68 CGPA ', '5 CGPA ', '8.29 CGPA ', '6.81 CGPA ',
       '6.22 CGPA ', '67.32%', '79.16%', '7.92 CGPA ', '67.67%', '70.90%',
       '68.70%', '68.34%', '6.17 CGPA ', '6.67 CGPA ', '7.13 CGPA ',
       '75.25%', '7.449 CGPA ', '5.77 CGPA ', '66.40%', '9.43 CGPA ',
       '73.97%', '64.70%', '52%', '64.97%', '6.56 CGPA ', '63.06%',
       '69.69%', '58.60%', '5.8 CGPA ', '66.95%', '6.92 CGPA ',
       '7.05 CGPA ', '60.50%', '66.80%', '57.98%', '6.45 CGPA ', '65.22%',
       '8.66 CGPA ', '58.80%', '64.74%', '82.41%', '65.56%', '0',
       '71.70%', '72.28%', '73.78%', '7.43 CGPA ', '66.54%',
       ' 6.95 CGPA ', '71.20%', '68.43%', '65.58%', '65.60%', '71.06%',
       '6.825 CGPA ', '63.79%', '79.69%', '60.70%', '62.40%',
       '5.63 CGPA ', '64.10%', '70.47%', '6.79 CGPA ', '75.40%',
       '5.01 CGPA ', '74.20%', '67.60%', '2.65 CGPA ', '3.8 CGPA ',
       '7.69 CGPA ', '6.03 CGPA ', '3.5 CGPA ', '8.01 CGPA ', '79.84%',
       '57.50%', '6.24 CGPA ', '8.92 CGPA ', '73.75%', '65.54%', '67.40%',
       '87.94%', '75.13%', '80.98%', '6.07 CGPA ', '65.08%', '69.25%',
       '6.44 CGPA ', '62.22%', '65.32%', '55.55%', '71.22%',
       '7.256 CGPA ', '7.223 CGPA ', '73.94%', '6.181 CGPA ', '80.81%',
       '9.23 CGPA  ', ' 8.92 CGPA ', '73.36%', '8.995 CGPA ', '69.59%',
       '82.35%', '65.43%', '82.43%', '9.59 CGPA ', '61.05%', '6.66 CGPA ',
       '79.20%', '61.60%', '91.60%', '63.76%', '69.15%', '73.20%',
       '74.60%', '9.711 CGPA '], dtype=object)

In [1129]:
Yocket_data_all_college["Undergraduation_score"] = Yocket_data_all_college["Undergraduation_score"].str.replace('WORKEX',' ')

In [1130]:
#Yocket_data_all_college["Undergraduation_score"] = Yocket_data_all_college["Undergraduation_score"].astype(str)
Yocket_data_all_college["Undergraduation_score"] = [x.replace(' CGPA','') for x in Yocket_data_all_college["Undergraduation_score"]]
Yocket_data_all_college["Undergraduation_score"] = [x.replace('%','') for x in Yocket_data_all_college["Undergraduation_score"]]
Yocket_data_all_college["Undergraduation_score"] = [x.replace(' ','') for x in Yocket_data_all_college["Undergraduation_score"]]

#Yocket_data_all_college.Undergraduation_score = Yocket_data_all_college.Undergraduation_score.astype(float)
#Yocket_data_all_college["Undergraduation_score"].value_counts()
#Yocket_data_all_college["Undergraduation_score"].unique()

In [1131]:
Undergraduation_score_list = Yocket_data_all_college["Undergraduation_score"].tolist()

In [1132]:
for i in Undergraduation_score_list:
    print(i)

8.8
8.16
82.30
8.21
7.2
7
8.38
8.86
9.2
7.18
8.9
7.06
0
8.87
68.60
75
8.65
7.5
82
8.24
75
7.8
8.58
8.68
7.98
77
8.79
70
8
9.1
7.83
9.15
9.12
9.4
7.19
8.5
8.2
8.7
8.62
8.332
8.26
91
7.68
7.5
86.25
8.15
8.5
80
9.5
8.89
8.32
8.75
8.03
7.84
8.65
7.34
9.19
7.1
9.5
8.02
7.3
9.2
8.8
6.48
9.55
7.66
7.4
79
8.1
81
7.7
9.55
8.6
8.22
76.10
7.98
8.34
7.6
8.45
8.15
82.82
8.76
73
8.64
72.20
8.17
77.80
7.5
8.702
9.16
88.70
8.6
8.65
8.65
8.59
7.18
7.4
7.84
7.45
7.4
8.32
8.55
8.67
8.09
8.97
8.91
68
8.56
8.75
9.06
8.52
9.08
7.49
8.4
74
64.50
8.98
9
80
8.58
67
79
7.7
8.65
8.23
75
83.70
7.3
7.2
6.97
7.5
7.348
70.60
8.23
7.22
8.47
8.14
7.76
7.74
7.5
8.22
66.67
7.54
7.89
7.94
71.60
7.982
7.4
8.94
73
69.20
8.23
8.33
70
9.66
79.34
71
65
7.7
63.60
8.8
8.03
78
69
7.68
77.40
7.18
74.50
9.2
70
66
79.67
9.76
7.03
9.435
75
76.30
7.76
7
89.92
67.96
69.45
65.20
68
8.69
8.49
8.74
71.90
9.08
69.14
8.73
8.51
65
72
76.16
64.88
7.7
8.48
8.07
74.33
73.60
9.04
66.79
68
8.2
72
8.23
71
8.52
67.41
9.06
79.47
9.06
9.11
8.81
7.8
70.35
86.90
68
9.8
7.64
82.09
64.98
76.40
8.39
8.628
9.29
62.50
7.84
8.3
8.46
7.72
8.5
83
89
68
6.9
7.8
7.9
8.36
72
8.43
6.7
68.50
8.43
71.90
8.06
9.06
9.585
8.2
8.5
7.7
8.63
79
77.40
80.50
8.21
7.3
7.348
5.19
70.29
75
7.49
71.64
82.09
8.36
63.23
8.13
75
71
8.06
7.36
6.74
8.31
3.55
63.42
80
58
72
71.34
7.55
7.82
69.80
7.04
66
6.389
8.77
62.66
80
7.7
7.41
60.04
3.7
9
6.36
7.9
74
76
76
8.9
64
67
81
9
7.14
84.20
61.23
8.67
78
8.4
8.56
8.88
7.85
7.84
8.2
8.32
84.92
70
80.39
7.8
6.87
76
8.5
86.60
7.34
81
7
7
8.41
70
64.34
8.87
67
70
64.42
8.08
64
7.14
88
8.88
75
74
72.50
70.50
7.95
60.20
65
8.4
68
7.9
7.61
7.704
61.86
8.1
7.57
7.8
7.7
7.5
7.5
7.57
7.8
7.71
8.3
9
8.56
8.5
6.7
7.84
7.1
56.49
7.6
65.10
6.78
8.37
7.86
8.1
7.65
7.4
8.07
8.835
73
71.14
7.84
6.7
69.04
8.71
82
67.50
7.96
65
9.14
77.50
6.37
7.34
6.59
8.23
7.2
7.7
79
9.04
8.14
7.53
6.99
66
73.68
66.13
8.52
7.98
8.18
8.62
7
71
8.17
7.35
79
8.23
6.84
65
7.24
68
7.6
76.10
8.44
56
7.63
64.56
7.29
80
72.20
9.8
72.60
8.02
74.18
8.15
8.88
8.3
7.77
7.55
7.8
8.93
8.24
88
7.57
8.73
61.41
7.88
83.40
77.17
9.03
65.20
7.8
9.69
7.4
7
8.16
7.4
8.7
8.07
8.5
7.11
7.41
7.45
86.77
8.95
8.85
9.68
9.12
9.45
9.7
9.72
9.8
8.8
9.12
8.9
92.11
9.04
9.56
9.12
9.06
9.24
8.6
9
9.36
84.08
9.72
9.05
8.04
91
9.12
8.23
8.56
9.1
8.96
9.25
9.41
9.2
9.1
9.39
9.1
9.19
81
8.9
9.14
9.1
9.21
9.4
9.1
9.1
8.95
9.4
9.66
9.19
9.83
9.5
9.2
9.13
9.54
9.66
9.1
9
9.35
9.72
9.37
9.55
9.22
9.78
9.75
80
83
9.152
9.38
9.39
9.37
9.127
9.28
9.19
9.61
9
9.1
8.9
9.46
79
9.69
83
8.9
9.5
9.3
9.34
91.10
8.8
9.33
9.79
8.775
8.84
9.06
8.98
8.99
8.81
9.36
9.5
9.8
8.84
8.78
9.36
9.2
9.13
68.60
9.01
9.2
9.11
9.17
9.2
80
9.04
9.03
9
9.39
9.02
9.06
9.42
9.04
9.1
72.50
71
8.76
84.40
9.09
68
7.5
8.9
70
7.35
73.30
7.84
7.85
8.65
74.10
7.7
75.94
8.14
8.8
8.45
75
8.57
65.49
7.34
9.18
7
8.07
71.37
8.1
7.54
69.10
60
7.51
69.73
68.99
75.34
9.5
8.48
9.18
73.08
64
8.28
68
8
8.34
85
8.04
67.30
8.72
8.57
8.6
72
8.9
7.19
8.63
7
84.19
82
7.48
63.60
8.4
8
65
75
7.12
74
8.7
9.63
75
8.8
79
8.06
9.4
7.67
73.86
8.55
8.41
7.88
8.75
7.3
86
69.20
8.51
71
7.3
84
7.68
7.2
8.94
75
8.34
9.34
9.52
7.7
73
80
8.47
77.24
8.61
8.45
7.55
7.7
71.53
8.33
62
0
67
7.3
72
9.435
6.7
64
8.6
7.36
8.5
7.3
61
7.9
7.18
8.03
8.19
10
7.74
65
8.18
7.42
70.23
8.13
77
7.57
71.36
9.02
8.06
78.79
8.25
73.80
7
7.28
69
6.5
8.43
7.12
8.89
69.10
58.12
61.06
7.32
80
7.47
71.14
7.21
8
8.17
7.83
6.7
6.31
73.60
7.6
73.30
7.08
66.67
7.74
6.37
69.14
7.52
72.06
6.87
6.37
6.72
78.90
7.7
74
68.31
8.2
74.25
76.30
8.16
79.70
7.38
75
71.50
7.83
8.94
9.08
8.5
6.1
72.81
8.6
62.45
78
63
7.2
7.02
8.36
8.07
80
6.75
72
8.41
75
7
69
7.5
7.08
7.84
7.34
8.05
71.90
8.99
7.6
93
7.36
6.95
72.67
7
7.75
81
6.89
79.47
72
9
63
77
7.65
8.04
7.8
9.06
7.03
6.74
6.8
7.52
72.90
8.23
64
68.60
77
9.29
76
62.94
82.70
7.19
71.16
86
74
80
8.65
7.83
8
8.85
8.76
8.2
8.7
9.68
8.7
85
9.37
8.23
7.8
3.13
8.43
8.36
80
8.2
7.7
8.89
8.9
8.41
8.87
8.83
7.7
78.34
8.07
77.13
8.6
9.56
79.38
8.65
8.84
9.08
0
7.5
8.57
71.98
8
8.16
7.62
7.47
9.12
77
8.65
8.39
8.83
8.8
8.18
8.5
75.20
8.4
8.12
87.20
87
8.91
9.14
9
8.59
8.68
70
8.93
8.51
8.706
9.1
84.19
75
6.8
8.4
9.03
9.14
9.27
8.82
8.73
90
8.89
8.08
8.43
8.81
8.55
9.4
8.46
9.41
77
80
8.49
8.94
80.30
7.96
9.65
8.42
8.21
8.9
8.5
8.5
7.65
9.6
9.1
8.15
8.9
9.04
8.71
8.62
7.55
8.1
9.08
9.2
9.144
9.25
9.1
9
82
84.55
6.59
7.5
7.83
75.34
74.10
8.4
72
8.07
73
7.5
8.14
8.72
76
68
8.65
68
66.67
6.99
7.704
69
7.09
7.36
7.84
7.89
7.5
7.5
71.90
8.64
8.17
64
9.05
72
7.53
9.15
8.6
8.09
73
9
66.36
7.68
7.7
75
8
7.4
73
7.2
7.8
7.75
7.3
8.5
7.75
8.06
70
8.7
7.88
8.12
8.75
72.32
8.46
8.789
9
7.79
55
8.05
7.81
64.68
8.09
70
8.68
8.1
70
8.57
61.90
7.55
8.8
66.66
8.21
67
73
7.58
66.50
74.50
7.96
75
7.86
72.29
8.31
76
9
7.9
8.8
73
7.45
7.34
72
8.7
8.2
7.9
8.07
73
73
8.1
63
7
8.05
8.45
69.80
3.21
7.95
7.44
6.58
7.75
81
7.47
7.86
8.33
72.19
67.76
67
78.10
9.38
67.10
8.4
7.71
8.97
89.92
7.18
7.88
73.68
67.96
75.30
7.73
73
7.91
74
7.4
66.79
9.122
7.9
8.5
7.6
6.78
8.22
86.90
8.82
82
6.5
69.56
8.36
71.64
7.72
8.13
76.28
7.9
9.42
8.89
7.23
7.38
6.99
68
6.61
81.11
7.87
7.36
7.51
66
7.07
72.04
75
72.19
7.6
6.93
7.7
7.72
9.39
72
70
8
7.8
73.76
72
8.2
8.15
70
8.12
80.44
8.13
7.37
85
8.5
76.40
68
8.24
8.2
70
7.7
8.08
9.42
6.85
75
9.6
7.08
9.04
8.75
8.81
70.30
9.29
9
77.57
8.16
76.46
8.25
9.02
8.98
7.81
9.12
8.35
84.86
79.67
88.70
9.7
89.52
8.38
9.04
7.8
71
7.8
8.58
83.50
8.27
8.95
8.11
68
80.60
8.9
9.12
8.2
80
9.4
8.96
68.80
75
7.8
75.37
8.37
8.54
8.58
71.73
9.48
7.01
7.42
72
88.06
7.81
8.98
73.51
9
9.99
8.9
8.325
8.24
9.6
9.272
8.6
8.2
8.87
76.10
9.11
6.96
9.07
9.04
78
8.96
8
8.2
7.49
8.91
8.89
8.2
8.84
8.6
9.01
8.3
9
88.90
73
9
73.70
82.75
8
8.32
69
8.1
70
63.13
71
8.15
77
8.2
65
8.12
7
8.53
66
8.2
8.74
68.99
64.30
8.1
8.16
63
75
8.04
81.90
81.78
73.62
82
8.2
7.55
57.67
8.5
72
73
7.55
8.89
8.6
8.9
6.7
6.7
80
87.05
71
7.3
7.8
6.59
9.01
67
8.5
8.19
69.90
74
7.32
7.88
7
7.44
7.7
7.48
8.1
7.8
7.47
7.71
8.03
8.702
8.1
8.7
8.4
8.21
7.5
7.66
9.04
7.6
7.65
72.50
7.26
8.89
8.25
7.72
8.91
8.5
6.86
7.7
8.14
66.68
7.91
8.44
7.81
8.81
8.1
73
69
61
9.5
8.49
8.5
8.4
80.25
8.75
8.72
7.99
8
72.41
7.64
8.44
8.74
7.46
8.2
8.67
7.83
7.7
9
7.97
6.91
84
80
8
7.78
76.10
7.27
7.62
62.04
63.38
66
70
6.36
8.39
74.50
7.01
75.50
64
64.30
91.14
8.6
7.52
8.3
9.06
7.39
80.48
83
67.80
7.62
8.32
7.2
7.3
75
63
8.6
7.15
9.07
7.22
9.01
8.62
7.5
8.23
75.94
7.65
9
8.98
7.56
8.8
8.5
8.6
8.48
88.50
8.1
9.03
85
8.789
7.56
70
8.39
8.3
80
9.16
8.6
8.1
9.28
7.03
8.11
8.42
9.03
6.01
7.973
8.57
9.07
8.14
8.57
8.43
76
8.1
7.956
7.91
9.06
8.25
8.6
80
8.73
7.99
8.18
8.57
9.24
9.07
8.62
8.03
8.75
9.32
8.94
8.1
7.18
62
8.76
7.57
67.06
8
6.98
6.87
7.81
7.82
8.49
7.9
8.12
8.55
81
67.55
8
7.66
6.88
79.50
73.47
8.8
9.2
8.15
7.93
74.88
7.82
7.61
8.86
66.70
59
63
8.4
78.20
7
8.55
7.8
8.72
7.09
7.02
71
7.8
9.3
9.19
7.2
7.73
8
8.8
7.6
72
7.31
8.16
8.68
7.9
8.69
7.25
9.05
7.93
81
6.34
7.89
73
61.86
67
81
8.35
8.07
7.1
77
64.83
88.70
66.36
70
7.94
8.4
7.8
60
6.97
9.3
80
9.35
70.70
9.5
6.8
8.9
8.31
66
75.73
73
68
68.56
75.24
75
71
77
80
8.59
7.8
6.83
7.7
72
73
71
67
8.03
85.60
77.02
8.02
7.32
8.38
8.55
60.45
7.7
8.11
7.85
7.2
7.84
7.77
7.5
77
60
7.79
70
40
58.12
8.03
8.84
60
77.20
68
82.10
60
88
67
8.15
65.40
9
70
69
81.40
66.90
69
7.87
71
6.88
8.4
86
79
63
62
8.35
67
8.8
73
72
7.16
8.59
84.50
81
83.48
7.75
66.52
9.31
58
68
7.87
8.7
70.28
64.50
80
62
7.72
68
64
8.2
82
71
9.01
7.28
6.33
8
8.38
7.8
80
8.5
80
8.83
76.47
9.09
70
67
9.08
9.39
8.5
9.1
79
9.69
8
89
7.75
80.30
6.65
8.25
84.55
8.44
9.14
8.86
82
7.84
8.77
7.81
9
79
8.41
79.90
81.60
9.16
8.7
7.36
9.3
8.34
9.24
8.15
80
8.55
7.58
8.63
76.80
WORKEX
85
88
7.6
8.82
7.86
8.53
8.5
9.04
7.54
7.07
8.21
9.39
9.15
7.58
7.82
6.5
3.03
71
8.43
9.24
77
8.1
9.03
7.94
8.88
7.91
8.77
8.15
8.5
8.65
79.83
8
8.82
75.30
7.63
8
8.19
76.70
7.03
7.89
6.51
8.41
8.8
8.37
7.9
6.6
7.35
8.87
5.2
8.2
53
67.96
7.91
71.14
7.48
8.79
8.34
72
72
6.97
6.48
7.3
8.19
8
7.574
70.23
75
8.52
6.57
84.15
9.21
73.33
64
69
9
7.8
76
6.1
77
6.95
8.6
8.24
8.5792
79.47
6.7
7.7
8.789
8.5
81
60
68
6.6
7.8
8.3
7.49
69.50
62
55
8.628
6.4
69.30
83
8.15
7.23
7.42
89
77
70
7.65
7.25
7.95
75.60
7.65
58
3.57
8.02
75
60
7.463
69.36
8.93
70
8.17
80
67
76.28
61
8.37
68
62
8.43
70.40
8.21
6.35
73
8.65
7.3
66
8.08
74.30
8.3
97.15
8.39
7.86
8.07
7.24
7.84
65
9.2
72
9.24
8.4
72
70
8.07
7.7
6.38
7.59
61
7.59
6.95
8.8
7.7
7.9
69.33
6.9
7.8
7.47
7.11
6.37
6.88
53
54
6.75
64
75.60
6.52
6.05
7.3
59
61.33
7
6.4
61.94
7.23
8.23
7.17
7.26
7.31
6.389
65
7.23
63.33
7.82
8.56
7.25
7.42
7.41
83.32
55.17
55
6.43
7.53
7
6.18
8.34
60.08
70.75
7.59
62
6.14
62.15
69
62
6.9
8.2
68.50
7.6
6.93
7.12
58
8.5
57
7.02
8.18
69
7.2
7.1
7
6.8
6.76
58
6.19
6.32
7.88
53
65
69
6.7
68
3.31
6.06
85.84
56.49
7.16
3.19
56
8.62
8.3
54.40
61.53
74
8.3
7.26
8.5
6.2
7.3
6.9
79.90
59
6.25
8.4
58
7.65
9.15
65.50
63
79.31
65
77
8
8.3
8.3
85
6
59.12
54
61
83
65.10
75
62
8.37
7.58
7.91
6.3
6.43
7.7983
6.93
54.30
6.29
6.2
7.7
69
8.06
6.57
72.80
6.72
6.76
9.06
7.6
8.8
7.53
59.89
6
6.93
7.54
7.58
8
64
7
66.50
75.15
8.39
6.389
7.025
8
7.8
65
6.41
58
7.75
6.64
6.65
7
55.17
7.1
7.02
63.35
63.13
7
6.34
64
6.61
6.9
65
60
69.30
8.12
5.56
5.9
57.76
62.30
7.54
7.45
7.6
7.73
8.136
89.70
60
61
56
8.23
7.64
58
86.25
54
7
54.60
8.16
8.43
7.12
7.61
56.46
6.1
62
63
6.78
7.56
65
62
6
5.76
64
66.52
7.34
6.5
8.14
7.88
3.21
73
8.15
69
7.08
7.8
7.37
66
7.4
8.67
8.58
8.75
0
8.77
7.79
6.4
8.51
8.56
8.62
7.96
8.69
8.2
8.7
8.8
8.38
8.2
8.37
73
8.09
8.26
8.65
8.72
7.84
8.16
7.91
8.43
8.2
7.07
8.54
8.15
8.5
82.50
7.94
8.6
8.7
62
8.48
8.11
73.48
8.41
8
8.7
8.27
8.23
8.25
8.81
8.34
7.51
8.7
8.69
8.65
8.6
6.8
8.24
8.65
8.42
6.48
7.35
73.68
6.75
64
8.1
8
5.68
7.21
7.48
7.98
7.7
5
7.41
7.58
84
7.42
76
7.4
7.44
7.64
7.75
8.29
76.46
7.1
6.31
7.5
8.5
6.95
7.94
8.28
7.97
7.83
7.95
7.28
8.6
6.33
75
7.7
6.81
6.22
61
8.24
67.32
79.16
6.9
78.79
7.92
7.96
8.41
62
8.8
61
7
8.06
77
8.45
81
7.57
9.1
6.3
70.23
8.8
8.13
7.74
67.67
70.90
75
8.07
73.60
7.3
61
7.08
58
7.49
69
68.70
7.89
8.19
69
7.54
59
8.23
68.34
79
9.03
76
71.50
7.98
73
7.37
8.2
8.8
66.68
8
7.5
8.99
8.44
6.17
75
7.2
8
57.67
6.67
77
89.92
7.54
6.4
7.13
78
75.25
6.97
6.7
65
7.449
5.77
7.9
72.60
9.01
66.40
6.83
70
6.95
7.09
7.88
7.44
7.61
7.16
70
7.73
9.43
8.75
65
7.53
73.97
7.71
64.70
7.74
62
75
6.83
60
75
70.60
7.54
7.3
6.4
53
7.3
8.49
52
7.53
7.91
57
7.22
60
65
62.50
65
64.97
7.84
7.32
69.50
7.26
6.56
60
75
67
63.06
7.47
61
7.23
71
7.37
69.69
65
62
63.33
58
58
65
6.7
58.60
6.06
67.50
74
5.8
7.56
70
57
70
66.95
6.8
77
7.76
7.26
6.72
6.92
66
7.41
7.3
8
8.33
7.05
7.45
76
70.40
71
58
60.50
7.53
75
57.76
66.80
7.12
57.98
7.7
6.45
7.3
8.4
65.22
7.11
7.66
70
69
8.66
6.14
58
60
71
58.80
6.8
8.8
6.95
72
73.60
70.50
7.83
7.28
7.27
7.54
6.61
73
72
8.18
69.14
7.89
77
6.22
7.32
70
6.74
7.5
8
7.37
58
7.55
7.92
7.71
8.9
74.30
8.8
75
7.97
64.74
75
8.57
7.95
82.41
65.56
74.10
77
7.64
8.05
8.13
6.9
7.92
7.6
7.1
75
6.59
6.59
8.06
8.43
7.57
75
76
7.5
7.73
67
8.45
7.31
7.37
7.62
70.23
6.83
8.24
68
8.2
8.87
7.62
7.6
8.19
6.43
69.90
8.36
8.4
58
73
8.07
7.31
69.20
0
65
72.60
8
71
7.6
80
6.9
7.08
67.50
65
71.70
72.06
7.2
7.54
7.54
7.42
8.6
68.31
8.55
6.95
61
7.25
7.22
7.58
62.45
72.28
71.50
5
8.1
77
73.78
7.98
7.43
7.7
7.8
7.92
73
66.54
7.54
7.41
79
73.60
65
7.1
6.74
7.06
6.78
6.7
59
70
61
7.41
6.17
76.10
8.08
7.45
6.95
6.9
7.55
6.37
6.8
7.29
6.57
6.75
7.28
7.52
61
7.66
66.70
8.47
59
55
63.38
71.20
69.50
59
7.9
7.98
6.32
8.55
62
60
62
64
8.16
6.06
7.1
7.2
7.9
74
8.8
6.33
56.49
8.3
7.7
68.43
8.23
7
7.36
65
8.05
65.58
7.9
6.93
7.8
67
69
7.09
64
6.5
7.2
8.55
7
7.4
7.28
84
65.60
7.07
6.18
8.05
6.8
71.06
7.02
56
7.63
74
6.4
6.825
7.73
7.3
71
63.79
7.59
63.13
7.88
7.42
6.5
7.12
67
79.69
7.76
60.70
63
62.40
5.63
7.26
7.45
67
62
64.10
70.47
6.79
75.40
5.01
7.14
8.14
62
66
8.3
6.56
7.4
74.20
84
59.89
6.79
75
8.24
7.4
7.34
8
6.2
67.60
2.65
81
7.28
3.8
6.61
6.51
8.03
7.92
7.69
66.80
58
67
78
60
6.03
62
3.5
8.01
7.02
9.08
84.20
7.4
8.49
7.9
60
79.84
57.50
6.99
7.8
73.60
64
7.83
9.5
7.1
7.37
8.4
9.16
8.64
8.9
7.4
8.78
8.13
8.72
81
8.05
8.75
8.18
8.28
85
8.34
7.97
6.6
8.2
6.24
7.9
64.56
7.5
6.99
7.6
7.99
8.22
6.76
6.3
7.69
7.54
7.8
6.8
8.3
66
7.85
81
8.789
59
8.1
7.98
80
8.62
8.02
8.59
7.86
7.2
58
88
8.57
7.2
8
9.12
79
8.81
8.4
8.15
8.08
7.64
8
9
7.65
8.56
7.66
8
72
9.04
8.1
7.45
7.47
75
8.74
7.72
8.14
8.51
8.04
66.50
9.2
8.92
78
8.35
73.75
7.2
64
8.02
7.56
65.54
9.15
8.68
8.02
67.40
74
87.94
7.07
8.36
7.4
8.54
75.13
8.85
80.98
7.16
7.3
8.57
7.2
6.07
8.59
7.96
81
9.05
8.27
65.08
61
69.25
71.73
6.2
60
7.2
56
55
7.95
6.18
81
6.44
6.87
62.22
87
6.3
7.5
67
8.29
66
67
8.59
8.1
6
82
71
78
80
8.2
8.2
7
7.97
62
65.32
6.6
7.7
65
70
74
66
9
8
73
71.50
7.58
62
76
79
59
55.55
71.22
6.96
73
6.8
8.66
80
59
8.02
62
7.256
8.6
81
60.50
7.95
72
8.06
71
61
7.98
60
70
69
75
8.7
72.28
7.24
65
8.16
7.49
9.12
7.07
7
58
58
8.69
7.31
8.18
7.97
8.63
74.20
6.57
9.5
7.1
7.61
7.83
7.16
9.04
8.45
9.4
8.98
8.4
8.17
7.07
7.223
73.94
7.11
8.1
8.33
7.3
8.08
9.32
8.76
8.26
WORKEX
88
82
72.50
6.93
8.39
8.4
7.31
8.44
9.1
8.16
8.2
8.31
68.34
8.28
7.7
7.6
6.181
7.91
9.1
9
8.8
8.05
7.4
7.9
7.68
9.1
7.2
72.50
7.06
3.03
8.82
9.13
72.90
7.35
8.68
73.97
62
9
6.6
7.79
77
8.34
7.95
80.81
71
74
8
8.43
6.97
9.23
6.5
8.1
7.81
73
8.3
7.38
7.52
8
7.75
7.56
8.84
7.4
8.2
7.74
7.84
7.39
7.63
7.96
7.8
8.92
73.36
8.51
69
8.64
8.7
8.23
8.3
7.3
8.41
6.61
78
8.9
71.14
7.7
6.87
8.995
69.59
7.11
7.2
7.65
67.41
8.94
6.31
9.21
82.41
69.20
6.35
82.35
8.5
6.86
8.6
7.8
7.5
6.17
65.43
7.92
8.99
7.45
8.44
82.43
9.59
7.4
68
8.79
8.06
73
7.35
8.5
6.72
87
9.1
8
7.76
8.66
8.92
61.94
62
66
8.7
61.05
8.64
8.22
6.66
80
8.28
8.1
60
7.48
8.6
7.8
7.2
8.48
66.90
78
8.7
86
7.56
75
7.44
8.54
7.8
7.49
81.11
8.91
71.73
72.29
8.4
8.72
75
79.20
8.98
61.60
7.7
7.8
8.3
7.85
91.60
64.50
8.81
7.61
8.4
8.43
7.46
86.90
63.76
8.1
74
75.50
7.12
69.15
60
84
8.02
7.47
63
7.57
58.60
73.20
8.62
8.14
71
8.66
8.4
56
7.42
8.28
74.60
78
7.48
69
65
8.9
7.22
80
76
8.5
6.59
7.6
7.4
8.3
64.50
66.54
8.38
8.8
7.23
8.51
7.68
7.3
8.19
7.9
60.20
8.1
7.34
66
9.21
9.711
8.18
6.29
8.2
7.29
7.4
7.96
69
8.39
7.85
6.57
7.31
8.88
8.41

In [1133]:
update_cgpa_score_scale_4 = []
for score in Undergraduation_score_list:
    s = 0
    try:
        score = float(score)
    except:
        score= 0
    if score > 10:
        s = ((score)/20) - 1
        s = round(s,2)
        update_cgpa_score_scale_4.append(s)
    else:
        s = ((score)/10)*4
        s = round(s,2)
        update_cgpa_score_scale_4.append(s)

In [1134]:
len(update_cgpa_score_scale_4)

3094

In [1135]:
Yocket_data_all_college["Undergraduation_score"] = update_cgpa_score_scale_4

In [1136]:
Yocket_data_all_college.drop(columns = ['Undergraduation'],inplace = True)

<b> COLUMN = GRE </b>
- Drop GRE

In [1137]:
Yocket_data_all_college.drop(columns = ['GRE'],inplace = True)

<b> COLUMN = Eng_test </b>
- Sepearting TOEFL and IELTS Score into 2 different columns

In [1138]:
Yocket_data_all_college['Eng_test'].value_counts()

TOEFL       2483
IELTS        466
ENG TEST     140
102            2
PTE            2
0              1
Name: Eng_test, dtype: int64

In [1139]:
Yocket_data_all_college = Yocket_data_all_college[(Yocket_data_all_college['Eng_test'] == 'TOEFL')| (Yocket_data_all_college['Eng_test'] == 'IELTS')]

In [1140]:
Yocket_data_all_college.groupby(by =['Eng_test'])['Test_score'].value_counts()

Eng_test  Test_score
IELTS     7             162
          6.5           113
          7.5           106
          8              58
          6              10
          0               9
          8.5             7
          3               1
TOEFL     105           120
          108           119
          104           112
          110           109
          106           107
          107           103
          102           102
          95             97
          96             95
          109            93
          100            92
          103            89
          101            86
          111            79
          0              78
          98             76
          99             76
          93             72
          112            70
          94             65
          97             65
          113            56
          90             56
          91             53
          92             52
          114            47
          115            37
          87             32
          89             32
          88             30
          86             29
          116            25
          82             22
          83             19
          84             16
          85             15
          117            13
          81             13
          118             9
          80              8
          119             5
          120             3
          79              3
          44              1
          69              1
          74              1
Name: Test_score, dtype: int64

In [1141]:
Yocket_data_all_college['Test_score_ielts'] = Yocket_data_all_college['Eng_test']=="IELTS"

In [1142]:
Yocket_data_all_college['Test_score_ielts'] =Yocket_data_all_college[Yocket_data_all_college['Test_score_ielts']]['Test_score']

In [1143]:
Yocket_data_all_college['Test_score_toefl'] = Yocket_data_all_college['Eng_test']=="TOEFL"

In [1144]:
Yocket_data_all_college['Test_score_toefl'] =Yocket_data_all_college[Yocket_data_all_college['Test_score_toefl']]['Test_score']

In [1145]:
Yocket_data_all_college=Yocket_data_all_college.fillna(0)

In [1146]:
Yocket_data_all_college.drop(columns=['Test_score'],inplace=True)

In [1147]:
Yocket_data_all_college.reset_index(drop=True,inplace = True)

<b> COLUMN = University_name </b>
- Removing values 'Computer Science' from every college name

In [1148]:
Yocket_data_all_college['university_name'].value_counts()

Northeastern University Computer Science                      233
New York University Computer Science                          232
Rutgers University-New Brunswick Computer Science             230
Syracuse University Computer Science                          229
University of Texas at Dallas Computer Science                226
San Jose State University Computer Science                    222
Rochester Institute of Technology Computer Science            213
University of Texas at Arlington Computer Science             213
University of North Carolina at Charlotte Computer Science    207
University of Southern California Computer Science            206
Illinois Institute of Technology Computer Science             190
Indiana University Bloomington Computer Science               177
Michigan Technological University Computer Science            143
Clemson University Computer Science                           112
University of Florida Computer Science                        111
 Indiana University Bloomington Computer Science                2
 Northeastern University Computer Science                       1
 New York University Computer Science                           1
 Illinois Institute of Technology Computer Science              1
Name: university_name, dtype: int64

In [1149]:
Yocket_data_all_college["university_name"] = [x.replace(' Computer Science','') for x in Yocket_data_all_college["university_name"]]
Yocket_data_all_college["university_name"] = [x.replace(' Indiana','Indiana') for x in Yocket_data_all_college["university_name"]]
Yocket_data_all_college["university_name"] = [x.replace(' Northeastern','Northeastern') for x in Yocket_data_all_college["university_name"]]
Yocket_data_all_college["university_name"] = [x.replace(' New York','New York') for x in Yocket_data_all_college["university_name"]]
Yocket_data_all_college["university_name"] = [x.replace(' Illinois','Illinois') for x in Yocket_data_all_college["university_name"]]
#Yocket_data_all_college["university_name"] = [x.replace(' ','') for x in Yocket_data_all_college["university_name"]]

In [1150]:
Yocket_data_all_college['university_name'].value_counts()

Northeastern University                      234
New York University                          233
Rutgers University-New Brunswick             230
Syracuse University                          229
University of Texas at Dallas                226
San Jose State University                    222
Rochester Institute of Technology            213
University of Texas at Arlington             213
University of North Carolina at Charlotte    207
University of Southern California            206
Illinois Institute of Technology             191
Indiana University Bloomington               179
Michigan Technological University            143
Clemson University                           112
University of Florida                        111
Name: university_name, dtype: int64

<b> COLUMN = year_applying </b>
- Sepearte it into year and Term columns

In [1151]:
year_term = Yocket_data_all_college['year_applying'].tolist()

In [1152]:
year = []
term = []
for i in year_term:
    aa = i.split(' ')
    
    for i,j in enumerate(aa):
        if i == 0:
            term.append(j)
        elif i == 1:
            year.append(j)
        else:
            continue

In [1153]:
Yocket_data_all_college['year_applying'] = year
Yocket_data_all_college['term_applying'] = term

<b> COLUMN = Gre Score </b>
- Add new column Gre verbal to the dataset
- use mean_gre_verbal_list
- Fill N.A values in Gre score with average score of the university

In [1154]:
university_name_list = Yocket_data_all_college['university_name'].str.lower()
Yocket_data_all_college['university_name'] = university_name_list

In [1155]:
Yocket_data_all_college['GRE_SCORE'].unique()

array(['317', '314', '324', '305', '318', '327', '334', '312', '319',
       '306', '304', '320', '332', '309', '323', '311', 'N.A. ', '315',
       '321', '316', '313', '322', '328', '308', '310', '338', '326',
       '329', '325', '293', '300', '302', '296', '301', '307', '303',
       '298', '299', '294', '292', '291', '330', '288', '297', '295',
       '340', '335', '333', '289', '290', '284', '336', '337', '260',
       '281', '331', '287'], dtype=object)

In [1161]:
Yocket_data_all_college = Yocket_data_all_college[Yocket_data_all_college.GRE_SCORE != 'N.A. ']

In [1163]:
len(Yocket_data_all_college)

2920

In [1165]:
Yocket_data_all_college['university_name'].unique()

array(['northeastern university', 'illinois institute of technology',
       'michigan technological university',
       'rochester institute of technology',
       'university of southern california',
       'university of north carolina at charlotte',
       'university of texas at arlington',
       'university of texas at dallas', 'syracuse university',
       'clemson university', 'new york university',
       'indiana university bloomington',
       'rutgers university-new brunswick', 'san jose state university',
       'university of florida'], dtype=object)

In [1166]:
mean_gre_verbal_list

{('clemson university', 'Admitted'): 153.5,
 ('clemson university', 'Rejected'): 149.77777777777777,
 ('illinois institute of technology', 'Admitted'): 147.50819672131146,
 ('illinois institute of technology', 'Rejected'): 148.08333333333334,
 ('indiana university-bloomington', 'Admitted'): 150.94387755102042,
 ('indiana university-bloomington', 'Rejected'): 151.22666666666666,
 ('michigan technological university', 'Admitted'): 149.5,
 ('michigan technological university', 'Rejected'): 152.8,
 ('new york university', 'Admitted'): 149.6140350877193,
 ('new york university', 'Rejected'): 152.63636363636363,
 ('northeastern university', 'Admitted'): 150.865889212828,
 ('northeastern university', 'Rejected'): 149.53614457831324,
 ('rochester institute of technology', 'Admitted'): 149.9253112033195,
 ('rochester institute of technology', 'Rejected'): 150.25,
 ('rutgers university new brunswick/piscataway', 'Admitted'): 154.1875,
 ('rutgers university new brunswick/piscataway',
  'Rejected'): 152.95652173913044,
 ('san jose state university', 'Admitted'): 149.37106918238993,
 ('san jose state university', 'Rejected'): 144.02857142857144,
 ('syracuse university', 'Admitted'): 147.65384615384616,
 ('syracuse university', 'Rejected'): 149.74,
 ('university of florida', 'Admitted'): 152.15204678362574,
 ('university of florida', 'Rejected'): 151.17672413793105,
 ('university of north carolina charlotte', 'Admitted'): 146.9075630252101,
 ('university of north carolina charlotte', 'Rejected'): 149.0609756097561,
 ('university of southern california', 'Admitted'): 151.27586206896552,
 ('university of southern california', 'Rejected'): 149.8595041322314,
 ('university of texas arlington', 'Admitted'): 142.1888111888112,
 ('university of texas arlington', 'Rejected'): 149.5,
 ('university of texas dallas', 'Admitted'): 148.00195694716243,
 ('university of texas dallas', 'Rejected'): 149.2483660130719}

In [1167]:
uni_list = Yocket_data_all_college['university_name'].tolist()
Status = Yocket_data_all_college['Status'].tolist()
len(Yocket_data_all_college)

2920

In [1174]:
gre_verbal = []
for i in range(0,2920):
 
    if ((uni_list[i] == 'clemson university') and (Status[i] == 'Admit')):
        gre_verbal.append(int(153.5))
    elif ((uni_list[i] == 'clemson university') and (Status[i] == 'Reject')):
        gre_verbal.append(int(149.77777777777777))
    elif ((uni_list[i] == 'illinois institute of technology') and (Status[i] == 'Admit')):
        gre_verbal.append(int(147.50819672131146))
    elif ((uni_list[i] == 'illinois institute of technology') and (Status[i] == 'Reject')):
        gre_verbal.append(int(148.08333333333334))
    elif ((uni_list[i] == 'indiana university bloomington') and (Status[i] == 'Admit')):
        gre_verbal.append(int(151.02214022140222))
    elif ((uni_list[i] == 'indiana university bloomington') and (Status[i] == 'Reject')):
        gre_verbal.append(int(151.22666666666666))
    elif ((uni_list[i] == 'michigan technological university') and (Status[i] == 'Admit')):
        gre_verbal.append(int(149.5))
    elif ((uni_list[i] == 'michigan technological university') and (Status[i] == 'Reject')):
        gre_verbal.append(int(152.8))
    elif ((uni_list[i] == 'new york university') and (Status[i] == 'Admit')):
        gre_verbal.append(int(149.6140350877193))
    elif ((uni_list[i] == 'new york university') and (Status[i] == 'Reject')):
        gre_verbal.append(int(152.63636363636363)) 
    elif ((uni_list[i] == 'rochester institute of technology') and (Status[i] == 'Admit')):
        gre_verbal.append(int(149.9253112033195))
    elif ((uni_list[i] == 'rochester institute of technology') and (Status[i] == 'Reject')): 
        gre_verbal.append(int(150.25))
    elif ((uni_list[i] == 'rutgers university-new brunswick') and (Status[i] == 'Admit')):
        gre_verbal.append(int(154.1875))
    elif ((uni_list[i] == 'rutgers university-new brunswick') and (Status[i] == 'Reject')): 
        gre_verbal.append(int(152.95652173913044))  
    elif ((uni_list[i] == 'san jose state university') and (Status[i] == 'Admit')):
        gre_verbal.append(int(149.37106918238993))
    elif ((uni_list[i] == 'san jose state university') and (Status[i] == 'Reject')): 
        gre_verbal.append(int(149.74))       
    elif ((uni_list[i] == 'syracuse university') and (Status[i] == 'Admit')):
        gre_verbal.append(int(147.65384615384616))
    elif ((uni_list[i] == 'syracuse university') and (Status[i] == 'Reject')):
        gre_verbal.append(int(148.5608695652174))    
    elif ((uni_list[i] == 'university of florida') and (Status[i] == 'Admit')): 
        gre_verbal.append(int(152.15204678362574))
    elif ((uni_list[i] == 'university of florida') and (Status[i] == 'Reject')):
        gre_verbal.append(int(151.17672413793105))   
    elif ((uni_list[i] == 'university of north carolina at charlotte') and (Status[i] == 'Admit')):
        gre_verbal.append(int(146.9075630252101))
    elif ((uni_list[i] == 'university of north carolina at charlotte') and (Status[i] == 'Reject')):
        gre_verbal.append(int(149.0609756097561))
    elif ((uni_list[i] == 'university of southern california') and (Status[i] == 'Admit')):
        gre_verbal.append(int(151.27586206896552))
    elif ((uni_list[i] == 'university of southern california') and (Status[i] == 'Reject')): 
        gre_verbal.append(int(149.8595041322314))      
    elif ((uni_list[i] == 'university of texas at arlington') and (Status[i] == 'Admit')):
        gre_verbal.append(int(142.1888111888112))
    elif ((uni_list[i] == 'university of texas at arlington') and (Status[i] == 'Reject')): 
        gre_verbal.append(int(149.5))       
    elif ((uni_list[i] == 'university of texas at dallas') and (Status[i] == 'Admit')): 
        gre_verbal.append(int(148.00195694716243))
    elif ((uni_list[i] == 'university of texas at dallas') and (Status[i] == 'Reject')): 
        gre_verbal.append(int(149.2483660130719))
    elif ((uni_list[i] == 'northeastern university') and (Status[i] == 'Admit')): 
        gre_verbal.append(int(150.865889212828))
    elif ((uni_list[i] == 'northeastern university') and (Status[i] == 'Reject')): 
        gre_verbal.append(int(149.53))
##len(gre_verbal)

In [1175]:
Yocket_data_all_college['GRE_SCORE_Verbal'] = gre_verbal

In [1176]:
Yocket_data_all_college.groupby(by = ['Status','university_name'])['GRE_SCORE_Verbal'].value_counts()

Status  university_name                            GRE_SCORE_Verbal
Admit   clemson university                         153                  73
        illinois institute of technology           147                 113
        indiana university bloomington             151                 109
        michigan technological university          149                 100
        new york university                        149                 112
        northeastern university                    150                 110
        rochester institute of technology          149                 115
        rutgers university-new brunswick           154                 112
        san jose state university                  149                 106
        syracuse university                        147                 107
        university of florida                      152                  72
        university of north carolina at charlotte  146                 108
        university of southern california          151                 109
        university of texas at arlington           142                 114
        university of texas at dallas              148                 107
Reject  clemson university                         149                  38
        illinois institute of technology           148                  75
        indiana university bloomington             151                  69
        michigan technological university          152                  43
        new york university                        152                 116
        northeastern university                    149                 122
        rochester institute of technology          150                  97
        rutgers university-new brunswick           152                 117
        san jose state university                  149                 115
        syracuse university                        148                 118
        university of florida                      151                  39
        university of north carolina at charlotte  149                  96
        university of southern california          149                  95
        university of texas at arlington           149                  95
        university of texas at dallas              149                 118
Name: GRE_SCORE_Verbal, dtype: int64

In [1196]:
Yocket_data_all_college["GRE_SCORE"] = pd.to_numeric(Yocket_data_all_college["GRE_SCORE"])
Yocket_data_all_college["GRE_SCORE_Verbal"] = pd.to_numeric(Yocket_data_all_college["GRE_SCORE_Verbal"])
Yocket_data_all_college['GRE_SCORE_Quant'] = 0
Yocket_data_all_college['GRE_SCORE_Quant'] = pd.to_numeric(Yocket_data_all_college["GRE_SCORE_Quant"])

In [1197]:
Yocket_data_all_college.info()
print('===================')
print(Yocket_data_all_college['GRE_SCORE'].unique())
print(Yocket_data_all_college['GRE_SCORE_Verbal'].unique())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2920 entries, 0 to 2948
Data columns (total 13 columns):
student_name             2920 non-null object
university_name          2920 non-null object
year_applying            2920 non-null object
Status                   2920 non-null object
GRE_SCORE                2920 non-null int64
Eng_test                 2920 non-null object
Undergraduation_score    2920 non-null float64
work_ex                  2920 non-null object
Test_score_ielts         2920 non-null object
Test_score_toefl         2920 non-null object
term_applying            2920 non-null object
GRE_SCORE_Verbal         2920 non-null int64
GRE_SCORE_Quant          2920 non-null int64
dtypes: float64(1), int64(3), object(9)
memory usage: 319.4+ KB
===================
[317 314 324 305 318 327 334 312 319 306 304 320 332 309 323 311 315 321
 316 313 322 328 308 310 338 326 329 325 293 300 302 296 301 307 303 298
 299 294 292 291 330 288 297 295 340 335 333 289 290 284 336 337 260 281
 331 287]
[150 147 149 151 146 142 148 153 154 152]

In [1198]:
Yocket_data_all_college['GRE_SCORE_Quant'] = Yocket_data_all_college['GRE_SCORE'] - Yocket_data_all_college['GRE_SCORE_Verbal']

In [1200]:
Yocket_data_all_college.reset_index(drop = True, inplace = True)

In [1203]:
Yocket_data_all_college.to_csv('Hello.csv')