In [1739]:
import pandas as pd

<b> Importing the Edulix Dataset </b>

In [1740]:
Edulix_data_all_college = pd.read_csv(r'..\data\Edulix_admission_records.csv')

In [1741]:
Edulix_data_all_college.drop(columns = ['Unnamed: 0'], inplace = True)

In [1742]:
Edulix_data_all_college['major'].unique()

array(['Mechanical Engineering', 'MIS', '2014', '2013',
       'Computer Science', 'Electronics and Communication',
       'Computer Engineering', 'CS / MSIS / ITM', 'Telecommunication',
       '2015', 'Industrial Engineering', 'Engineering Management',
       'Comp Science/Comp Networks/Comp Engg',
       'Manufacturing Engineering', 'Computer Networking',
       'Information Security', 'MIS-management related courses',
       'Industrial Engg/Robotics', 'MIS/CS', 'Telecom management ', nan,
       'Information Systems', 'Electrical Engineering', 'MEM', 'CS',
       'Electronic and Telecommunication Engineering',
       'Civil Engineering', '(MIS / MSIM / MSIS / MSIT)', 'Information',
       'Computer Networks', 'Management Information System',
       'medicinal chemistry', 'Information Science',
       'Information Assurance',
       'Electrical and computer engineering, electrical engineering, telecommunications engineering',
       '2016', 'India', 'Health Informatics', 'Biotechnology',
       'Project Management', 'Technology Leadership', 'Entrepreneurship',
       'Johns Hopkins University', 'Northeastern University',
       'SUNY Stony Brook', 'Oregon State University',
       'University of California Santa Barbara',
       'University of Colorado Boulder', 'Simon Fraser University',
       'University of Alberta', 'University of Waterloo',
       'Electronics & Communication', 'computer science / MIS', 'energy',
       'Operations Research', 'Construction Management', '2017',
       'Business Analytics', 'CS / SE / IT / MIS',
       'Engineering Management / Industrial Engineering / IMSE',
       'Masters', 'Research Assistant', 'ERP', 'Networking',
       'Computational Science', 'Bioinformatics', 'Regulatory Affairs',
       'pharmaceutics', 'Electrical & Computer Engineering', 'Fall',
       'Data Analyst', 'NIL', 'Intern', 'Software Engineer',
       'Senior Software Engineer', 'Deep Dive Vision',
       'Biomedical Engineering', 'Metallurgy and Materials Engineering',
       'Computer vision/image-video processing',
       'Electrical and Electronics',
       'Electrical and Computer Engineering',
       'Computer Engineering/Comp Science',
       'Information technology management', 'EE / CS', 'Robotics',
       'Manufacturing Systems Engineering', 'software engineering',
       'Electronics, Instrumentation and Control', 'Chemical Engineering',
       'Computer Engineering / Computer Networking / Computer Science',
       'Materials Science & Engineering',
       'Computer Engineering / Electrical Computer Engineering',
       'analytics', 'Aerospace Engineering',
       'Mechanical / Industrial Engg.', 'Electrical Engg/ comp engg',
       'microelectronics',
       'Electrical & Computer Engg/MIS/Industrial/Systems Engg',
       'Mechanical And Aerospace', 'HCI / CS',
       'environmental engineering', 'IEEE MITE Conference',
       'Environmental Science', 'civil', 'Hardware Engineer',
       'Arizona State University',
       'Business Analytics and Project Management',
       'Computer Science/ Electronics and Communication',
       'Civil and Environmental Engg', 'Automotive Engineering',
       'Materials Science', 'Electronics Engineering',
       'Supply chain management', 'Data Science',
       'Human Computer Interaction', 'Software Engineer,SAP',
       'Pilani Soft Labs Pvt. ltd. [Redbus.in]', 'Systems Engineering',
       'Computational Science and Engineering', '2018', 'A', 'Wipro',
       'F1', 'University of Florida', 'CAE Engineer', 'Mando ',
       'Associate Consultant',
       'Schoeffmann K. et al. (eds) MultiMedia Modeling. MMM 2018. Lecture Notes in Computer Science, vol 10704. Springer, Cham',
       '01-06-2017 05:00', 'Senior Engg',
       'Business system analysis specialist',
       'Cognizant Technology sOlutions', 'AICV 18',
       'Associate Consultant ', 'Test Analyst',
       'Cognizant Technology Solutions Pvt Ltd',
       'IEEE international conference',
       '35th european photovoltaic solar energy conference and exi., Belgium ',
       '01-12-2017 00:00', '01-11-2018 00:00',
       'International Journal Of Electrical, Electronics And Data Communication',
       '0000-00-00 00:00:00', 'Analyst', 'Electronics design engineer',
       'Intellactual Property of India', 'Data Informatics', 'Finance',
       'Embedded systems', 'Electrical and computer science', 'Business ',
       'Information Technology', 'CyberSecurity',
       'Computer Science/ Mgmt', 'Instrumentation and Control', 'Design',
       'Rejected', 'Admitted', 'May-12', 'Systems Engineer',
       'food science', 'Associate Software Developer', 'MSIM',
       'Chemistry', 'International Affairs.',
       'Biotechnology/bio-engineering', 'MS Analytics/ MIS', 'CS / MIS',
       'economics ',
       '6th International Conference on Advanced Computing, Engineering and Technology,',
       'Research Intern',
       'Senior Software Engineer, Ernst & Young(Technologies - Guidewire Software, Java/JEE applications developer)',
       'Biomedical manufacturing and servicing engineer',
       'Reliance comminications', 'TRAINEE BUSINESS DEVELOPMENT',
       'Electronics and electrical engineering', 'CS/MIS',
       'Software Developer', 'mba', 'Applied Mathematics',
       'Wireless communications', 'MIS/MS CS',
       'Cell and Molecular Biology', 'Information Management',
       'Communication Engineering', 'Management Science and Engg',
       'Management of Technology', 'Biological Sciences, Biotechnology,',
       'Duke University', 'University of Arizona', 'Design Engineer',
       'Programmer Analyst',
       'International Journal of Advanced Trends in Engineering, Science and Technology (IJATEST)Volume.4, Special Issue.1Dec.2016',
       'International Conference in Computational Intelligence in Data Mining',
       'SUNY Buffalo', 'Application development analyst', 'No Research',
       '01-01-1970 06:00', 'Chennai (Madras)',
       'Georgia Institute of Technology',
       'University of North Carolina Charlotte', 'Santa Clara University',
       'Infosys Ltd.', 'Assistant System Engineer', 'Approved',
       'University of Texas Dallas', 'health administration',
       'Sustainable Energy Technology',
       'Masters in Business Administration', 'Architecture',
       'Software Development Engineer', 'Tata Consultancy Services',
       'Entertainment technology-Animations and graphics',
       'Game Development', 'Packaging Science', 'CS, MIS',
       'Computer Graphics and Game Technology',
       'Electrical Engineering and Computer Science',
       'Textile Science & Technology', 'CS/SE', 'IJREAM',
       '01-06-2015 05:00', 'Rochester Institute of Technology',
       'Computer engineering, VLSI CAD', 'Microbiology', 'pharmacy',
       'petroleum engineering', 'Pharmaceutical Sciences, Chemistry',
       'Astronautical Engineering', 'EE / CE / CS',
       'University of Southern California', '01-03-2016 05:00', 'Trainee',
       'Cognitive Science', 'Technische Universiteit Eindhoven',
       'University of Michigan Ann Arbor', 'Fachhochschule Ingolstadt',
       'Kettering University', 'University of Michigan Dearborn',
       'Hochschule Esslingen',
       'Rheinisch Westfalische Technische Hochschule Aachen',
       'Chalmers University of Technology',
       'KTH Royal Institute of Technology', 'Computational Biology',
       'Organizational Behavior', 'advertising', 'Technology Management',
       'Master of engineering management', 'Chemical/Environmental Engg.',
       'Mathematics', 'urban and regional planning', 'physics', 'MIS/MEM',
       'Structural ', 'Nuclear Engineering'], dtype=object)

In [1743]:
Edulix_data_all_college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35014 entries, 0 to 35013
Data columns (total 22 columns):
username             35014 non-null object
firstname            35014 non-null object
undergrad_college    35014 non-null object
undergrad_major      35014 non-null object
undergrad_gpa        35014 non-null object
country              4620 non-null object
gre_quant            35014 non-null object
gre_verbal           35014 non-null object
gre_awa              35014 non-null object
toefl_list           35014 non-null object
toefl_spk            35014 non-null object
toefl_rd             35014 non-null object
toefl_wrt            35014 non-null object
ielts_list           35014 non-null object
ielts_spk            35014 non-null object
ielts_rd             35014 non-null object
program              35014 non-null object
university           35014 non-null object
major                34991 non-null object
term                 35014 non-null object
year                 35014 non-null object
status               35014 non-null object
dtypes: object(22)
memory usage: 5.9+ MB

<b> Taking out computer science department from the dataset </b>

In [1744]:
required_majors = ['Computer Science','CS','Comp Science/Comp Networks/Comp Engg','CS / SE / IT / MIS','MIS/CS','Computer Science/ Mgmt']

In [1745]:
Edulix_data_all_college['major'].value_counts()

Computer Science                                                                                                              11816
Electrical Engineering                                                                                                         3291
MIS                                                                                                                            2659
Mechanical Engineering                                                                                                         1792
Computer Engineering                                                                                                           1628
Industrial Engineering                                                                                                         1412
Electronics and Communication                                                                                                  1392
2013                                                                                                                           1364
2014                                                                                                                           1123
2015                                                                                                                            958
2016                                                                                                                            551
Civil Engineering                                                                                                               516
(MIS / MSIM / MSIS / MSIT)                                                                                                      357
Electrical & Computer Engineering                                                                                               356
Electrical and Computer Engineering                                                                                             328
Management Information System                                                                                                   314
CS                                                                                                                              295
Engineering Management                                                                                                          280
Masters                                                                                                                         246
Telecommunication                                                                                                               238
2017                                                                                                                            232
Aerospace Engineering                                                                                                           200
Business Analytics                                                                                                              181
Comp Science/Comp Networks/Comp Engg                                                                                            176
Chemical Engineering                                                                                                            170
software engineering                                                                                                            149
Computer Engineering / Computer Networking / Computer Science                                                                   143
Information Systems                                                                                                             124
Biomedical Engineering                                                                                                           96
Computer Engineering/Comp Science                                                                                                85
                                                                                                                              ...
Cognizant Technology sOlutions                                                                                                    1
Data Analyst                                                                                                                      1
University of Waterloo                                                                                                            1
Wipro                                                                                                                             1
Simon Fraser University                                                                                                           1
Reliance comminications                                                                                                           1
Rochester Institute of Technology                                                                                                 1
01-06-2017 05:00                                                                                                                  1
Hochschule Esslingen                                                                                                              1
Deep Dive Vision                                                                                                                  1
ERP                                                                                                                               1
Duke University                                                                                                                   1
Kettering University                                                                                                              1
Chennai (Madras)                                                                                                                  1
Nuclear Engineering                                                                                                               1
IEEE international conference                                                                                                     1
Senior Software Engineer, Ernst & Young(Technologies - Guidewire Software, Java/JEE applications developer)                       1
physics                                                                                                                           1
Associate Consultant                                                                                                              1
University of Alberta                                                                                                             1
0000-00-00 00:00:00                                                                                                               1
Infosys Ltd.                                                                                                                      1
University of Arizona                                                                                                             1
A                                                                                                                                 1
Georgia Institute of Technology                                                                                                   1
International Journal of Advanced Trends in Engineering, Science and Technology (IJATEST)Volume.4, Special Issue.1Dec.2016        1
Mando                                                                                                                             1
Trainee                                                                                                                           1
Pilani Soft Labs Pvt. ltd. [Redbus.in]                                                                                            1
Application development analyst                                                                                                   1
Name: major, Length: 253, dtype: int64

In [1746]:
Edulix_data_all_college = Edulix_data_all_college[(Edulix_data_all_college['major'] == 'Computer Science') | (Edulix_data_all_college['major'] == 'CS')| (Edulix_data_all_college['major'] == 'Comp Science/Comp Networks/Comp Engg')| (Edulix_data_all_college['major'] == 'CS / SE / IT / MIS')| (Edulix_data_all_college['major'] == 'MIS/CS')| (Edulix_data_all_college['major'] == 'Computer Science/ Mgmt')]

In [1747]:
len(Edulix_data_all_college)

12401

In [1748]:
Edulix_data_all_college['major'].value_counts()

Computer Science                        11816
CS                                        295
Comp Science/Comp Networks/Comp Engg      176
CS / SE / IT / MIS                         56
MIS/CS                                     54
Computer Science/ Mgmt                      4
Name: major, dtype: int64

In [1749]:
Edulix_data_all_college['status'].value_counts()

Admit      4958
Reject     4664
Applied    2779
Name: status, dtype: int64

In [1750]:
Edulix_data_all_college.groupby(by=['university'])['status'].value_counts()

university                                                status
Arizona State University                                  Admit      420
                                                          Reject     159
                                                          Applied    108
Arizona State University Polytechnic Campus               Admit       12
                                                          Applied      1
                                                          Reject       1
Arizona State University West                             Applied      1
                                                          Reject       1
Arkansas Tech University                                  Admit        1
Auburn University                                         Admit        2
                                                          Applied      2
                                                          Reject       2
Boston University                                         Admit        7
                                                          Applied      3
                                                          Reject       1
Bradley University                                        Admit        1
Brandeis University                                       Admit        1
Brown University                                          Applied      3
                                                          Admit        2
                                                          Reject       1
California Institute of Technology                        Admit        2
California Lutheran University                            Admit        1
                                                          Applied      1
California Polytechnic State University, San Luis Obispo  Applied      2
California State Polytechnic University, Pomona           Admit        1
                                                          Applied      1
California State University Chico                         Admit        2
                                                          Applied      1
California State University East Bay                      Applied      5
                                                          Admit        4
                                                                    ...
Wichita State University                                  Reject       1
Worcester Polytechnic Institute                           Admit        6
                                                          Reject       4
                                                          Applied      1
Wright State University                                   Admit        3
                                                          Reject       2
                                                          Applied      1
Yale University                                           Reject       1
York University                                           Reject       1
indiana university bloomington                            Admit      196
                                                          Reject      75
                                                          Applied     68
rutgers university-new brunswick                          Reject      69
                                                          Applied     55
                                                          Admit       32
university of florida                                     Reject     232
                                                          Admit      171
                                                          Applied     99
university of maryland, college park                      Reject      58
                                                          Applied      5
                                                          Admit        3
university of north carolina at charlotte                 Admit      119
                                                          Reject      82
                                                          Applied     27
university of texas at arlington                          Admit      143
                                                          Applied     29
                                                          Reject      26
university of texas at dallas                             Admit      511
                                                          Reject     153
                                                          Applied     52
Name: status, Length: 571, dtype: int64

<b> Our 30 college admit and rejects for Computer Science</b>

In [1751]:
Edulix_data_all_college.university.unique()
Edulix_data_all_college['university'] = Edulix_data_all_college['university'].str.lower()

In [1752]:
required_colleges = ['northeastern university','illinois institute of technology','michigan technological university','rochester institute of technology','university of southern california','university of north carolina at charlotte','university of texas at arlington','university of texas at dallas','syracuse university','clemson university','new york university','indiana university bloomington','rutgers university-new brunswick','san jose state university','university of florida','Carnegie Mellon University','Georgia Institute of Technology','University of Colorado Boulder','North Carolina State University, Raleigh','University of Iowa','University of Connecticut','Worcester Polytechnic Institute','University of South Carolina','Kansas State University','University of Cincinnati','university of maryland, college park','University of California, Irvine','Texas A&M University, College Station','State University of New York at Stony Brook','George Mason University']

In [1753]:
required_colleges = [req.lower() for req in required_colleges]

In [1754]:
#Edulix_data_all_college = Edulix_data_all_college[(Edulix_data_all_college['university'] == 'northeastern university') |(Edulix_data_all_college['university'] =='illinois institute of technology')| (Edulix_data_all_college['university'] =='michigan technological university')| (Edulix_data_all_college['university'] == 'rochester institute of technology')| (Edulix_data_all_college['university'] == 'university of southern california')| (Edulix_data_all_college['university'] == 'university of north carolina charlotte') | (Edulix_data_all_college['university'] =='university of texas arlington')| (Edulix_data_all_college['university'] =='university of texas dallas')|(Edulix_data_all_college['university'] == 'syracuse university')| (Edulix_data_all_college['university'] == 'clemson university')|(Edulix_data_all_college['university'] == 'new york university')|(Edulix_data_all_college['university'] =='indiana university-bloomington')| (Edulix_data_all_college['university'] == 'rutgers university new brunswick/piscataway') | (Edulix_data_all_college['university'] == 'san jose state university')| (Edulix_data_all_college['university'] == 'university of florida')]

In [1755]:
Edulix_data_all_college=Edulix_data_all_college.loc[Edulix_data_all_college['university'].isin(required_colleges), :]

In [1756]:
Edulix_data_all_college['university'].value_counts()

university of texas at dallas                  716
university of southern california              676
northeastern university                        622
state university of new york at stony brook    581
north carolina state university, raleigh       558
university of florida                          502
indiana university bloomington                 339
texas a&m university, college station          286
san jose state university                      281
georgia institute of technology                274
rochester institute of technology              267
university of california, irvine               260
syracuse university                            254
university of north carolina at charlotte      228
university of texas at arlington               198
illinois institute of technology               158
rutgers university-new brunswick               156
carnegie mellon university                     109
new york university                            106
george mason university                         85
university of cincinnati                        82
university of colorado boulder                  72
university of maryland, college park            66
clemson university                              65
michigan technological university               16
kansas state university                         15
worcester polytechnic institute                 11
university of iowa                               5
university of south carolina                     3
university of connecticut                        2
Name: university, dtype: int64

In [1757]:
for college in required_colleges:
    print(college)
    col_rec = (Edulix_data_all_college['university']== college)
    print(Edulix_data_all_college.loc[col_rec,:]['status'].value_counts())
    print('---------------------------')

northeastern university
Admit      343
Reject     166
Applied    113
Name: status, dtype: int64
---------------------------
illinois institute of technology
Admit      122
Reject      24
Applied     12
Name: status, dtype: int64
---------------------------
michigan technological university
Admit      10
Reject      5
Applied     1
Name: status, dtype: int64
---------------------------
rochester institute of technology
Admit      241
Applied     18
Reject       8
Name: status, dtype: int64
---------------------------
university of southern california
Applied    294
Admit      261
Reject     121
Name: status, dtype: int64
---------------------------
university of north carolina at charlotte
Admit      119
Reject      82
Applied     27
Name: status, dtype: int64
---------------------------
university of texas at arlington
Admit      143
Applied     29
Reject      26
Name: status, dtype: int64
---------------------------
university of texas at dallas
Admit      511
Reject     153
Applied     52
Name: status, dtype: int64
---------------------------
syracuse university
Admit      130
Reject     100
Applied     24
Name: status, dtype: int64
---------------------------
clemson university
Reject     27
Admit      24
Applied    14
Name: status, dtype: int64
---------------------------
new york university
Admit      57
Reject     33
Applied    16
Name: status, dtype: int64
---------------------------
indiana university bloomington
Admit      196
Reject      75
Applied     68
Name: status, dtype: int64
---------------------------
rutgers university-new brunswick
Reject     69
Applied    55
Admit      32
Name: status, dtype: int64
---------------------------
san jose state university
Admit      159
Applied     87
Reject      35
Name: status, dtype: int64
---------------------------
university of florida
Reject     232
Admit      171
Applied     99
Name: status, dtype: int64
---------------------------
carnegie mellon university
Reject     58
Admit      42
Applied     9
Name: status, dtype: int64
---------------------------
georgia institute of technology
Reject     220
Applied     41
Admit       13
Name: status, dtype: int64
---------------------------
university of colorado boulder
Reject     38
Admit      21
Applied    13
Name: status, dtype: int64
---------------------------
north carolina state university, raleigh
Reject     303
Admit      169
Applied     86
Name: status, dtype: int64
---------------------------
university of iowa
Admit      3
Reject     1
Applied    1
Name: status, dtype: int64
---------------------------
university of connecticut
Admit    2
Name: status, dtype: int64
---------------------------
worcester polytechnic institute
Admit      6
Reject     4
Applied    1
Name: status, dtype: int64
---------------------------
university of south carolina
Admit     2
Reject    1
Name: status, dtype: int64
---------------------------
kansas state university
Reject    11
Admit      4
Name: status, dtype: int64
---------------------------
university of cincinnati
Admit      33
Applied    31
Reject     18
Name: status, dtype: int64
---------------------------
university of maryland, college park
Reject     58
Applied     5
Admit       3
Name: status, dtype: int64
---------------------------
university of california, irvine
Reject     145
Applied     96
Admit       19
Name: status, dtype: int64
---------------------------
texas a&m university, college station
Reject     141
Applied    117
Admit       28
Name: status, dtype: int64
---------------------------
state university of new york at stony brook
Reject     285
Admit      150
Applied    146
Name: status, dtype: int64
---------------------------
george mason university
Admit      43
Reject     21
Applied    21
Name: status, dtype: int64
---------------------------

<b> Removing status = applied </b>

In [1758]:
Edulix_data_all_college = Edulix_data_all_college[(Edulix_data_all_college['status'] == 'Reject') |(Edulix_data_all_college['status'] == 'Admit')]

In [1759]:
for college in required_colleges:
    print(college)
    col_rec = (Edulix_data_all_college['university']== college)
    print(Edulix_data_all_college.loc[col_rec,:]['status'].value_counts())
    print('---------------------------')

northeastern university
Admit     343
Reject    166
Name: status, dtype: int64
---------------------------
illinois institute of technology
Admit     122
Reject     24
Name: status, dtype: int64
---------------------------
michigan technological university
Admit     10
Reject     5
Name: status, dtype: int64
---------------------------
rochester institute of technology
Admit     241
Reject      8
Name: status, dtype: int64
---------------------------
university of southern california
Admit     261
Reject    121
Name: status, dtype: int64
---------------------------
university of north carolina at charlotte
Admit     119
Reject     82
Name: status, dtype: int64
---------------------------
university of texas at arlington
Admit     143
Reject     26
Name: status, dtype: int64
---------------------------
university of texas at dallas
Admit     511
Reject    153
Name: status, dtype: int64
---------------------------
syracuse university
Admit     130
Reject    100
Name: status, dtype: int64
---------------------------
clemson university
Reject    27
Admit     24
Name: status, dtype: int64
---------------------------
new york university
Admit     57
Reject    33
Name: status, dtype: int64
---------------------------
indiana university bloomington
Admit     196
Reject     75
Name: status, dtype: int64
---------------------------
rutgers university-new brunswick
Reject    69
Admit     32
Name: status, dtype: int64
---------------------------
san jose state university
Admit     159
Reject     35
Name: status, dtype: int64
---------------------------
university of florida
Reject    232
Admit     171
Name: status, dtype: int64
---------------------------
carnegie mellon university
Reject    58
Admit     42
Name: status, dtype: int64
---------------------------
georgia institute of technology
Reject    220
Admit      13
Name: status, dtype: int64
---------------------------
university of colorado boulder
Reject    38
Admit     21
Name: status, dtype: int64
---------------------------
north carolina state university, raleigh
Reject    303
Admit     169
Name: status, dtype: int64
---------------------------
university of iowa
Admit     3
Reject    1
Name: status, dtype: int64
---------------------------
university of connecticut
Admit    2
Name: status, dtype: int64
---------------------------
worcester polytechnic institute
Admit     6
Reject    4
Name: status, dtype: int64
---------------------------
university of south carolina
Admit     2
Reject    1
Name: status, dtype: int64
---------------------------
kansas state university
Reject    11
Admit      4
Name: status, dtype: int64
---------------------------
university of cincinnati
Admit     33
Reject    18
Name: status, dtype: int64
---------------------------
university of maryland, college park
Reject    58
Admit      3
Name: status, dtype: int64
---------------------------
university of california, irvine
Reject    145
Admit      19
Name: status, dtype: int64
---------------------------
texas a&m university, college station
Reject    141
Admit      28
Name: status, dtype: int64
---------------------------
state university of new york at stony brook
Reject    285
Admit     150
Name: status, dtype: int64
---------------------------
george mason university
Admit     43
Reject    21
Name: status, dtype: int64
---------------------------

In [1760]:
len(Edulix_data_all_college)

5517

In [1761]:
Edulix_data_all_college.columns

Index(['username', 'firstname', 'undergrad_college', 'undergrad_major',
       'undergrad_gpa', 'country', 'gre_quant', 'gre_verbal', 'gre_awa',
       'toefl_list', 'toefl_spk', 'toefl_rd', 'toefl_wrt', 'ielts_list',
       'ielts_spk', 'ielts_rd', 'program', 'university', 'major', 'term',
       'year', 'status'],
      dtype='object')

In [1762]:
Edulix_data_all_college.drop(columns = ['firstname','undergrad_college', 'undergrad_major','country','gre_awa','toefl_list', 'toefl_spk', 'toefl_rd', 'toefl_wrt', 'ielts_list','ielts_spk', 'ielts_rd','major'],inplace=True)
Edulix_data_all_college.drop(columns = ['program'],inplace=True)

In [1763]:
Edulix_data_all_college.columns

Index(['username', 'undergrad_gpa', 'gre_quant', 'gre_verbal', 'university',
       'term', 'year', 'status'],
      dtype='object')

In [1764]:
Edulix_data_all_college = Edulix_data_all_college.rename(columns={'username': 'student_name', 'undergrad_gpa': 'undergraduation_score','gre_quant': 'gre_score_quant', 'gre_verbal': 'gre_score_verbal','university': 'university_name', 'term': 'term_applying','year': 'year_applying', 'status': 'status'})

In [1765]:
Edulix_data_all_college.columns

Index(['student_name', 'undergraduation_score', 'gre_score_quant',
       'gre_score_verbal', 'university_name', 'term_applying', 'year_applying',
       'status'],
      dtype='object')

# Handling values for gre_score_quant and gre_score_verbal

In [1766]:
Edulix_data_all_college.gre_score_quant.unique()

array(['170 /170', '162 /170', '169 /170', '167 /170', '164 /170',
       '160 /170', '154 /170', '161 /170', '163 /170', '159 /170',
       '166 /170', '158 /170', '157 /170', '165 /170', '156 /170',
       '168 /170', '155 /170', '152 /170', '147 /170', '150 /170',
       '30-11--0001', '151 /170', '-0.005882353', '0 /170', '148 /170',
       '153 /170', '140 /170', '143 /170', '15-10-2017', '03-12-2016',
       '139 /170', '136 /170', '138 /170'], dtype=object)

In [1767]:
Edulix_data_all_college["gre_score_quant"] = [x.replace(' /170','') for x in Edulix_data_all_college["gre_score_quant"]]
Edulix_data_all_college["gre_score_quant"] = [x.replace('Masters','0') for x in Edulix_data_all_college["gre_score_quant"]]
Edulix_data_all_college["gre_score_quant"] = [x.replace('30-10-2017','0') for x in Edulix_data_all_college["gre_score_quant"]]
Edulix_data_all_college["gre_score_quant"] = [x.replace('30-11--0001 ','0') for x in Edulix_data_all_college["gre_score_quant"]]
Edulix_data_all_college["gre_score_quant"] = [x.replace('-0.005882353','0') for x in Edulix_data_all_college["gre_score_quant"]]
Edulix_data_all_college["gre_score_quant"] = [x.replace('15-10-2017','0') for x in Edulix_data_all_college["gre_score_quant"]]
Edulix_data_all_college["gre_score_quant"] = [x.replace('03-12-2016','0') for x in Edulix_data_all_college["gre_score_quant"]]
Edulix_data_all_college["gre_score_quant"] = [x.replace('30-10-2017','0') for x in Edulix_data_all_college["gre_score_quant"]]
Edulix_data_all_college["gre_score_quant"] = [x.replace('30-11--0001','0') for x in Edulix_data_all_college["gre_score_quant"]]

In [1768]:
Edulix_data_all_college=Edulix_data_all_college.loc[Edulix_data_all_college['gre_score_quant'] != '0', :]

In [1769]:
Edulix_data_all_college.reset_index(drop=True,inplace=True)

In [1770]:
Edulix_data_all_college

,student_name,undergraduation_score,gre_score_quant,gre_score_verbal,university_name,term_applying,year_applying,status
0,arorohan,68.6/100,170,147 / 170,northeastern university,Spring,2013,Admit
1,hardik_surana,7.36/10,162,158 / 170,rutgers university-new brunswick,Spring,2014,Reject
2,hardik_surana,7.36/10,162,158 / 170,northeastern university,Spring,2014,Admit
3,hardik_surana,7.36/10,162,158 / 170,university of florida,Spring,2014,Reject
4,kotasundeep,7.77/10,169,151 / 170,"north carolina state university, raleigh",Fall,2013,Admit
5,kotasundeep,7.77/10,169,151 / 170,northeastern university,Fall,2013,Admit
6,girishpatni,8.24/10,167,155 / 170,"texas a&m university, college station",Fall,2015,Reject
7,girishpatni,8.24/10,167,155 / 170,indiana university bloomington,Fall,2015,Reject
8,girishpatni,8.24/10,167,155 / 170,northeastern university,Fall,2015,Admit
9,girishpatni,8.24/10,167,155 / 170,state university of new york at stony brook,Fall,2015,Reject
10,mamata49p,8.94/10,164,154 / 170,university of texas at dallas,Fall,2013,Admit
11,mamata49p,8.94/10,164,154 / 170,rutgers university-new brunswick,Fall,2013,Reject
12,mamata49p,8.94/10,164,154 / 170,"texas a&m university, college station",Fall,2013,Reject
13,mamata49p,8.94/10,164,154 / 170,san jose state university,Fall,2013,Admit
14,mamata49p,8.94/10,164,154 / 170,northeastern university,Fall,2013,Admit
15,mamata49p,8.94/10,164,154 / 170,state university of new york at stony brook,Fall,2013,Reject
16,rajeakshay,70.5/100,160,153 / 170,"university of california, irvine",Fall,2014,Reject
17,rajeakshay,70.5/100,160,153 / 170,"north carolina state university, raleigh",Fall,2014,Reject
18,rajeakshay,70.5/100,160,153 / 170,indiana university bloomington,Fall,2014,Reject
19,rajeakshay,70.5/100,160,153 / 170,northeastern university,Fall,2014,Admit
20,rishijosan,7.32/10,170,162 / 170,university of texas at dallas,Spring,2013,Admit
21,rishijosan,7.32/10,170,162 / 170,new york university,Spring,2013,Admit
22,rishijosan,7.32/10,170,162 / 170,clemson university,Spring,2013,Reject
23,rishijosan,7.32/10,170,162 / 170,indiana university bloomington,Spring,2013,Admit
24,rishijosan,7.32/10,170,162 / 170,northeastern university,Spring,2013,Admit
25,rishijosan,7.32/10,170,162 / 170,state university of new york at stony brook,Spring,2013,Admit
26,kush391,7.64/10,164,158 / 170,"north carolina state university, raleigh",Fall,2014,Reject
27,kush391,7.64/10,164,158 / 170,northeastern university,Fall,2014,Admit
28,kush391,7.64/10,164,158 / 170,university of florida,Fall,2014,Reject
29,amoljoshi,8.6/10,154,167 / 170,university of southern california,Fall,2013,Admit
...,...,...,...,...,...,...,...,...
5444,dalvi,73.5/100,167,164 / 170,university of florida,Fall,2016,Admit
5445,singh0777,7.2/10,168,148 / 170,"north carolina state university, raleigh",Fall,2016,Reject
5446,singh0777,7.2/10,168,148 / 170,university of southern california,Fall,2016,Reject
5447,singh0777,7.2/10,168,148 / 170,university of florida,Fall,2016,Admit
5448,sanjanarao83,79/100,158,156 / 170,university of north carolina at charlotte,Fall,2016,Admit
5449,sanjanarao83,79/100,158,156 / 170,"north carolina state university, raleigh",Fall,2016,Reject
5450,sanjanarao83,79/100,158,156 / 170,university of florida,Fall,2016,Admit
5451,sanjanarao83,79/100,158,156 / 170,state university of new york at stony brook,Fall,2016,Reject
5452,krohitm,79.5/100,166,154 / 170,"texas a&m university, college station",Fall,2016,Reject
5453,krohitm,79.5/100,166,154 / 170,georgia institute of technology,Fall,2016,Reject
5454,krohitm,79.5/100,166,154 / 170,northeastern university,Fall,2016,Reject
5455,krohitm,79.5/100,166,154 / 170,university of florida,Fall,2016,Admit
5456,ironspidey,8.6/10,165,152 / 170,rutgers university-new brunswick,Fall,2016,Reject
5457,ironspidey,8.6/10,165,152 / 170,georgia institute of technology,Fall,2016,Reject
5458,ironspidey,8.6/10,165,152 / 170,university of florida,Fall,2016,Admit
5459,ayushigarg1992,7.91/10,166,160 / 170,university of florida,Fall,2016,Admit
5460,himanshuvyas18,5.66/10,165,147 / 170,university of north carolina at charlotte,Fall,2016,Reject
5461,himanshuvyas18,5.66/10,165,147 / 170,clemson university,Fall,2016,Reject
5462,himanshuvyas18,5.66/10,165,147 / 170,university of florida,Fall,2016,Admit
5463,himanshuvyas18,5.66/10,165,147 / 170,university of texas at arlington,Fall,2016,Reject
5464,karthiknara99,8.47/10,164,147 / 170,university of texas at dallas,Fall,2016,Reject
5465,karthiknara99,8.47/10,164,147 / 170,university of southern california,Fall,2016,Reject
5466,karthiknara99,8.47/10,164,147 / 170,university of florida,Fall,2016,Admit
5467,saranyavatti,6.6/10,170,161 / 170,university of texas at dallas,Fall,2017,Reject
5468,saranyavatti,6.6/10,170,161 / 170,"north carolina state university, raleigh",Fall,2017,Reject
5469,saranyavatti,6.6/10,170,161 / 170,university of florida,Fall,2017,Admit
5470,justine91,06-Oct,163,157 / 170,university of florida,Fall,2016,Admit
5471,indrajit2017,65/100,162,162 / 170,university of florida,Fall,2017,Admit
5472,leviackerman,6.24/10,170,149 / 170,"north carolina state university, raleigh",Fall,2017,Reject
5473,leviackerman,6.24/10,170,149 / 170,university of florida,Fall,2017,Admit

In [1771]:
Edulix_data_all_college.gre_score_verbal.unique()

array(['147 / 170', '158 / 170', '151 / 170', '155 / 170', '154 / 170',
       '153 / 170', '162 / 170', '167 / 170', '160 / 170', '149 / 170',
       '141 / 170', '148 / 170', '152 / 170', '165 / 170', '144 / 170',
       '157 / 170', '145 / 170', '156 / 170', '143 / 170', '146 / 170',
       '159 / 170', '150 / 170', '142 / 170', '139 / 170', '164 / 170',
       '163 / 170', '136 / 170', '161 / 170', '140 / 170', '168 / 170',
       '137 / 170', '166 / 170', '170 / 170', '138 / 170', '135 / 170',
       '132 / 170', '0 / 170', '169 / 170', '-0.005882353', '134 / 170'],
      dtype=object)

In [1772]:
Edulix_data_all_college["gre_score_verbal"] = [x.replace(' / 170','') for x in Edulix_data_all_college["gre_score_verbal"]]
Edulix_data_all_college["gre_score_verbal"] = [x.replace('Masters','') for x in Edulix_data_all_college["gre_score_verbal"]]
Edulix_data_all_college["gre_score_verbal"] = [x.replace('-0.005882353','') for x in Edulix_data_all_college["gre_score_verbal"]]
Edulix_data_all_college["gre_score_verbal"] = [x.replace('0 ','0') for x in Edulix_data_all_college["gre_score_verbal"]]
#Edulix_data_all_college["gre_verbal"] = [x.replace('0','0') for x in Edulix_data_all_college["gre_verbal"]]

In [1773]:
Edulix_data_all_college = Edulix_data_all_college.loc[(Edulix_data_all_college['gre_score_verbal'] != '0'), :]

In [1774]:
Edulix_data_all_college = Edulix_data_all_college.loc[(Edulix_data_all_college['gre_score_verbal'] != ''), :]

In [1775]:
Edulix_data_all_college.gre_score_verbal.unique()

array(['147', '158', '151', '155', '154', '153', '162', '167', '160',
       '149', '141', '148', '152', '165', '144', '157', '145', '156',
       '143', '146', '159', '150', '142', '139', '164', '163', '136',
       '161', '140', '168', '137', '166', '170', '138', '135', '132',
       '169', '134'], dtype=object)

## Undergraduation

In [1776]:
Edulix_data_all_college['undergraduation_score'].unique()

array(['68.6/100', '7.36/10', '7.77/10', '8.24/10', '8.94/10', '70.5/100',
       '7.32/10', '7.64/10', '8.6/10', '61.3/100', '72/100', '7.94/10',
       '80.83/100', '69/100', '8.08/10', '9.01/10', '67/100', '65/100',
       '7.89/10', '78/100', '66.45/100', '8.2/10', '73.28/100', '8.55/10',
       '71/100', '76/100', '7.93/10', '66.34/100', '9.46/10', '73/100',
       '75.1/100', '68/100', '66/100', '62/100', '8.81/10', '74/100',
       '91/100', '75/100', '7.22/10', '8.88/10', '77/100', '74.5/100',
       '82.81/100', '57/100', '79.2/100', '82/100', '78.5/100',
       '67.6/100', '8.35/10', '7.6/10', '8.34/10', '7.88/10', '68.21/100',
       '9.26/10', '80.2/100', '8.8/10', '79/100', '73.25/100', '77.8/100',
       '75.28/100', '7.98/10', '3.2/4', '74.11/100', '8.16/10', '3.89/4',
       '70.15/100', '9.27/10', '7.69/10', '72.5/100', '74.41/100',
       '7.2/10', '80/100', '8.87/10', '70/100', '7.53/10', '87/100',
       '7.74/10', '7.75/10', '81.07/100', '79.91/100', '7.3/10',
       '71.1/100', '55/100', '7.68/10', '3.6/4', '64.28/100', '8.57/10',
       '9.15/10', '63/100', '69.45/100', '64.3/100', '73.5/100',
       '62.65/100', '65.8/100', '85/100', '7.66/10', '75.6/100',
       '65.95/100', '7.21/10', '9.1/10', '73.47/100', '8.38/10',
       '63.6/100', '58.6/100', '7.73/10', '64.13/100', '8.4/10',
       '8.75/10', '67.63/100', '-0.25', '76.34/100', '90.2/100',
       '68.8/100', '76.21/100', '84.5/100', '08-Oct', '63.98/100',
       '65.44/100', '63.4/100', '8.27/10', '71.35/100', '72.45/100',
       '8.51/10', '8.84/10', '82.14/100', '3.5/4', '8.06/10', '77.5/100',
       '6.8/10', '73.4/100', '6.57/10', '59.7/100', '7.7/10', '70.23/100',
       '6.7/10', '8.01/10', '70.1/100', '64.74/100', '78.4/100',
       '70.3/100', '7.63/10', '71.2/100', '3.26/4', '8.28/10',
       '67.14/100', '81.5/100', '8.62/10', '8.1/10', '9.05/10',
       '74.13/100', '73.22/100', '74.66/100', '7.97/10', '69.68/100',
       '69.47/100', '64/100', '70.2/100', '3.44/4', '7.67/10', '7.86/10',
       '59.9/100', '78.12/100', '8.7/10', '78.11/100', '74.42/100',
       '3.73/4', '75.3/100', '60/100', '8.52/10', '8.3/10', '8.82/10',
       '7.8/10', '8.5/10', '8.31/10', '8.37/10', '63.17/100', '67.8/100',
       '7.31/10', '83/100', '7.85/10', '9.61/10', '67.96/100',
       '70.42/100', '7.76/10', '8.41/10', '85.79/100', '7.15/10',
       '6.88/10', '9.5/10', '72.23/100', '7.5/10', '9.38/10', '7.71/10',
       '7.87/10', '7.62/10', '76.4/100', '67.11/100', '82.5/100',
       '71.76/100', '67.68/100', '7.04/10', '9.09/10', '6.9/10',
       '83.33/100', '74.7/100', '76.29/100', '78.32/100', '6.59/10',
       '6.36/10', '72.15/100', '69.51/100', '7.45/10', '8.54/10',
       '7.09/10', '8.26/10', '7.12/10', '8.9/10', '3.38/4', '76.8/100',
       '71.5/100', '6.5/10', '7.42/10', '7.54/10', '8.32/10', '8.14/10',
       '84.15/100', '7.96/10', '7.46/10', '77.09/100', '9.17/10',
       '3.34/4', '7.99/10', '8.85/10', '7.26/10', '7.08/10', '9.23/10',
       '9.56/10', '71.26/100', '74.34/100', '66.7/100', '72.7/100',
       '7.9/10', '8.53/10', '8.89/10', '7.27/10', '84/100', '7.79/10',
       '3.23/4', '71.75/100', '07-Oct', '73.78/100', '77.67/100',
       '9.00427/10', '74.93/100', '8.09/10', '80.5/100', '7.72/10',
       '82.74/100', '79.82/100', '70.09/100', '8.22/10', '7.4/10',
       '88/100', '68.2/100', '74.28/100', '76.52/100', '77.43/100',
       '7.1/10', '81/100', '74.4/100', '7.95/10', '8.36/10', '79.18/100',
       '3.77/4', '73.12/100', '8.99/10', '74.73/100', '8.23/10',
       '8.64/10', '77.4/100', '7.81/10', '8.58/10', '7.23/10', '9.02/10',
       '75.2/100', '8.18/10', '66.81/100', '8.05/10', '8.45/10',
       '7.82/10', '8.39/10', '74.2/100', '72.11/100', '8.71/10',
       '65.38/100', '89/100', '67.2/100', '2.8/4', '8.48/10', '9.22/10',
       '65.6/100', '8.43/10', '8.59/10', '8.67/10', '7.49/10', '8.96/10',
       '83.6/100', '84.3/100', '9.08/10', '72.87/100', '9.76/10',
       '8.76/10', '7.52/10', '76.28/100', '65.55/100', '81.6/100',
       '9.18/10', '9.04/10', '80.8/100', '71.8/100', '7.84/10',
       '76.65/100', '70.8/100', '68.52/100', '65.98/100', '8.44/10',
       '75.31/100', '9.31/10', '7.39/10', '65.3/100', '77.45/100',
       '82.04/100', '8.17/10', '90/100', '7.968/10', '8.252/10',
       '79.37/100', '83.1/100', '72.06/100', '8.21/10', '8.33/10',
       '74.6/100', '6.74/10', '70.26/100', '7.25/10', '9.45/10',
       '7.17/10', '78.1/100', '7.19/10', '9.16/10', '8.66/10', '8.74/10',
       '6.99/10', '77.2/100', '73.16/100', '8.56/10', '09-Oct', '6.72/10',
       '7.066/10', '63.2/100', '7.57/10', '6.55/10', '7.61/10',
       '73.2/100', '64.76/100', '8.93/10', '68.4/100', '3.33/4',
       '6.95/10', '70.71/100', '83.75/100', '57.22/100', '74.8/100',
       '68.85/100', '62.3/100', '7.47/10', '7.91/10', '68.5/100',
       '78.87/100', '72.4/100', '66.4/100', '8.15/10', '8.91/10',
       '75.4/100', '69.84/100', '61/100', '7.05/10', '71.25/100',
       '6.97/10', '74.81/100', '6.89/10', '6.31/10', '69.3/100',
       '76.01/100', '76.175/100', '8.92/10', '64.73/100', '8.72/10',
       '73.19/100', '81.4/100', '9.34/10', '63.51/100', '77.7/100',
       '72.3/100', '8.496/10', '64.2/100', '8.04/10', '69.17/100',
       '59/100', '61.27/100', '78.3/100', '7.83/10', '84.57/100',
       '69.42/100', '9.3/10', '833/100', '72.51/100', '8.25/10',
       '70.16/100', '62.22/100', '75.45/100', '73.42/100', '78.2/100',
       '61.45/100', '65.15/100', '7.92/10', '7.43/10', '9.28/10',
       '7.13/10', '71.67/100', '6.54/10', '8.02/10', '74.9/100',
       '8.023/10', '86.52/100', '06-Oct', '62.56/100', '9.21/10',
       '78.48/100', '5.73/10', '78.78/100', '74.46/100', '74.25/100',
       '75.04/100', '7.16/10', '60.93/100', '65.32/100', '77.31/100',
       '7.35/10', '76.5/100', '73.06/100', '80.36/100', '8.98/10',
       '68.89/100', '64.33/100', '77.86/100', '71.59/100', '6.77/10',
       '6.82/10', '9.14/10', '82.9/100', '81.97/100', '72.61/100',
       '7.65/10', '8.68/10', '9.25/10', '8.46/10', '60.88/100',
       '80.92/100', '7.48/10', '9.2/10', '74.45/100', '9.739/10',
       '8.07/10', '8.42/10', '7.56/10', '8.63/10', '62.5/100', '9.54/10',
       '81.78/100', '3.24/4', '79.8/100', '6.1/10', '79.5/100',
       '69.96/100', '80.53/100', '9.24/10', '8.83/10', '8.03/10',
       '8.97/10', '87.5/100', '78.89/100', '9.8/10', '9.11/10', '9.32/10',
       '6.2/10', '9.37/10', '71.92/100', '70.13/100', '6.38/10', '56/100',
       '6.86/10', '64.5/100', '64.86/100', '63.48/100', '67.51/100',
       '6.81/10', '7.02/10', '59.8/100', '69.94/100', '74.07/100',
       '60.52/100', '61.32/100', '6.58/10', '6.76/10', '82.4/100',
       '67.55/100', '6.4/10', '68.7/100', '78.92/100', '6.75/10',
       '60.25/100', '79.26/100', '55.74/100', '7.484/10', '66.79/100',
       '60.2/100', '58/100', '59.33/100', '65.53/100', '60.025/100',
       '57.2/100', '7.58/10', '6.05/10', '71.19/100', '62.6/100',
       '65.03/100', '54/100', '58.75/100', '73.27/100', '53/100',
       '7.01/10', '7.14/10', '68.92/100', '6.46/10', '57.5/100',
       '57.85/100', '5.5/10', '71.44/100', '65.2/100', '6.67/10',
       '75.56/100', '6.66/10', '7.51/10', '3.22/4', '63.3/100', '6.6/10',
       '7.03/10', '57.73/100', '57.72/100', '5.96/10', '52.35/100',
       '59.92/100', '76.6/100', '69.6/100', '9.13/10', '9.95/10',
       '9.67/10', '75.98/100', '83.5/100', '9.29/10', '9.33/10',
       '9.06/10', '82.2/100', '9.36/10', '75.5/100', '83.68/100',
       '77.66/100', '73.58/100', '74.36/100', '82.25/100', '9.07/10',
       '80.91/100', '9.62/10', '76.69/100', '9.44/10', '76.56/100',
       '8.69/10', '73.88/100', '71.47/100', '9.41/10', '75.8/100',
       '9.43/10', '78.58/100', '9.84/10', '9.55/10', '9.68/10', '9.35/10',
       '9.03/10', '79.1/100', '82.55/100', '66.67/100', '71.7/100',
       '61.1/100', '64.6/100', '6.02/10', '80.18/100', '65.83/100',
       '6.94/10', '75.47/100', '66.46/100', '69.2/100', '61.2/100',
       '80.01/100', '69.48/100', '3.36/4', '7.24/10', '87.4/100',
       '8.12/10', '73.55/100', '65.92/100', '6.21/10', '67.5/100',
       '63.12/100', '69.7/100', '62.73/100', '60.5/100', '68.04/100',
       '3.18/4', '58.9/100', '57.28/100', '73.53/100', '3.86/4', '3.25/4',
       '57.4/100', '66.07/100', '59.3/100', '69.82/100', '72.6/100',
       '6.53/10', '68.79/100', '77.93/100', '7.34/10', '60.28/100',
       '66.76/100', '7.06/10', '6.65/10', '7.37/10', '69.5/100',
       '79.13/100', '7.07/10', '6.3/10', '60.29/100', '73.72/100',
       '62.47/100', '5.66/10', '8.47/10', '6.24/10'], dtype=object)

In [1777]:
#Yocket_data_all_college["Undergraduation_score"] = Yocket_data_all_college["Undergraduation_score"].astype(str)
Edulix_data_all_college["undergraduation_score"] = [x.replace('/100','') for x in Edulix_data_all_college["undergraduation_score"]]
Edulix_data_all_college["undergraduation_score"] = [x.replace('/10','') for x in Edulix_data_all_college["undergraduation_score"]]
Edulix_data_all_college["undergraduation_score"] = [x.replace('06-Oct','0') for x in Edulix_data_all_college["undergraduation_score"]]
Edulix_data_all_college["undergraduation_score"] = [x.replace('09-Oct','0') for x in Edulix_data_all_college["undergraduation_score"]]
Edulix_data_all_college["undergraduation_score"] = [x.replace('06-Oct','0') for x in Edulix_data_all_college["undergraduation_score"]]
Edulix_data_all_college["undergraduation_score"] = [x.replace('08-Oct','0') for x in Edulix_data_all_college["undergraduation_score"]]
Edulix_data_all_college["undergraduation_score"] = [x.replace('-0.25','') for x in Edulix_data_all_college["undergraduation_score"]]
Edulix_data_all_college["undergraduation_score"] = [x.replace('07-Oct','0') for x in Edulix_data_all_college["undergraduation_score"]]

#Yocket_data_all_college.Undergraduation_score = Yocket_data_all_college.Undergraduation_score.astype(float)
#Yocket_data_all_college["Undergraduation_score"].value_counts()
#Yocket_data_all_college["Undergraduation_score"].unique()

In [1778]:
len(Edulix_data_all_college['undergraduation_score'])

5467

In [1779]:
undergrad_list_scores = Edulix_data_all_college['undergraduation_score'].tolist()
undergrad_list_scores_new = []
for i in undergrad_list_scores:
    if '/4' in i:
        i = i.replace('/4','')
        i = float(i)*2.5
        undergrad_list_scores_new.append(float(i))
    elif i == '':
        i = i.replace('','0')
        undergrad_list_scores_new.append(float(i))
    else:
        undergrad_list_scores_new.append(float(i))

In [1780]:
len(undergrad_list_scores)

5467

In [1781]:
Edulix_data_all_college['undergraduation_score'] = undergrad_list_scores_new

In [1782]:
len(undergrad_list_scores_new)

5467

In [1783]:
Edulix_data_all_college['undergraduation_score'].unique()

array([ 68.6    ,   7.36   ,   7.77   ,   8.24   ,   8.94   ,  70.5    ,
         7.32   ,   7.64   ,   8.6    ,  61.3    ,  72.     ,   7.94   ,
        80.83   ,  69.     ,   8.08   ,   9.01   ,  67.     ,  65.     ,
         7.89   ,  78.     ,  66.45   ,   8.2    ,  73.28   ,   8.55   ,
        71.     ,  76.     ,   7.93   ,  66.34   ,   9.46   ,  73.     ,
        75.1    ,  68.     ,  66.     ,  62.     ,   8.81   ,  74.     ,
        91.     ,  75.     ,   7.22   ,   8.88   ,  77.     ,  74.5    ,
        82.81   ,  57.     ,  79.2    ,  82.     ,  78.5    ,  67.6    ,
         8.35   ,   7.6    ,   8.34   ,   7.88   ,  68.21   ,   9.26   ,
        80.2    ,   8.8    ,  79.     ,  73.25   ,  77.8    ,  75.28   ,
         7.98   ,   8.     ,  74.11   ,   8.16   ,   9.725  ,  70.15   ,
         9.27   ,   7.69   ,  72.5    ,  74.41   ,   7.2    ,  80.     ,
         8.87   ,  70.     ,   7.53   ,  87.     ,   7.74   ,   7.75   ,
        81.07   ,  79.91   ,   7.3    ,  71.1    ,  55.     ,   7.68   ,
         9.     ,  64.28   ,   8.57   ,   9.15   ,  63.     ,  69.45   ,
        64.3    ,  73.5    ,  62.65   ,  65.8    ,  85.     ,   7.66   ,
        75.6    ,  65.95   ,   7.21   ,   9.1    ,  73.47   ,   8.38   ,
        63.6    ,  58.6    ,   7.73   ,  64.13   ,   8.4    ,   8.75   ,
        67.63   ,   0.     ,  76.34   ,  90.2    ,  68.8    ,  76.21   ,
        84.5    ,  63.98   ,  65.44   ,  63.4    ,   8.27   ,  71.35   ,
        72.45   ,   8.51   ,   8.84   ,  82.14   ,   8.06   ,  77.5    ,
         6.8    ,  73.4    ,   6.57   ,  59.7    ,   7.7    ,  70.23   ,
         6.7    ,   8.01   ,  70.1    ,  64.74   ,  78.4    ,  70.3    ,
         7.63   ,  71.2    ,   8.15   ,   8.28   ,  67.14   ,  81.5    ,
         8.62   ,   8.1    ,   9.05   ,  74.13   ,  73.22   ,  74.66   ,
         7.97   ,  69.68   ,  69.47   ,  64.     ,  70.2    ,   7.67   ,
         7.86   ,  59.9    ,  78.12   ,   8.7    ,  78.11   ,  74.42   ,
         9.325  ,  75.3    ,  60.     ,   8.52   ,   8.3    ,   8.82   ,
         7.8    ,   8.5    ,   8.31   ,   8.37   ,  63.17   ,  67.8    ,
         7.31   ,  83.     ,   7.85   ,   9.61   ,  67.96   ,  70.42   ,
         7.76   ,   8.41   ,  85.79   ,   7.15   ,   6.88   ,   9.5    ,
        72.23   ,   7.5    ,   9.38   ,   7.71   ,   7.87   ,   7.62   ,
        76.4    ,  67.11   ,  82.5    ,  71.76   ,  67.68   ,   7.04   ,
         9.09   ,   6.9    ,  83.33   ,  74.7    ,  76.29   ,  78.32   ,
         6.59   ,   6.36   ,  72.15   ,  69.51   ,   7.45   ,   8.54   ,
         7.09   ,   8.26   ,   7.12   ,   8.9    ,   8.45   ,  76.8    ,
        71.5    ,   6.5    ,   7.42   ,   7.54   ,   8.32   ,   8.14   ,
        84.15   ,   7.96   ,   7.46   ,  77.09   ,   9.17   ,   7.99   ,
         8.85   ,   7.26   ,   7.08   ,   9.23   ,   9.56   ,  71.26   ,
        74.34   ,  66.7    ,  72.7    ,   7.9    ,   8.53   ,   8.89   ,
         7.27   ,  84.     ,   7.79   ,   8.075  ,  71.75   ,  73.78   ,
        77.67   ,   9.00427,  74.93   ,   8.09   ,  80.5    ,   7.72   ,
        82.74   ,  79.82   ,  70.09   ,   8.22   ,   7.4    ,  88.     ,
        68.2    ,  74.28   ,  76.52   ,  77.43   ,   7.1    ,  81.     ,
        74.4    ,   7.95   ,   8.36   ,  79.18   ,   9.425  ,  73.12   ,
         8.99   ,  74.73   ,   8.23   ,   8.64   ,  77.4    ,   7.81   ,
         8.58   ,   7.23   ,   9.02   ,  75.2    ,   8.18   ,  66.81   ,
         8.05   ,   7.82   ,   8.39   ,  74.2    ,  72.11   ,   8.71   ,
        65.38   ,  89.     ,  67.2    ,   7.     ,   8.48   ,   9.22   ,
        65.6    ,   8.43   ,   8.59   ,   8.67   ,   7.49   ,   8.96   ,
        83.6    ,  84.3    ,   9.08   ,  72.87   ,   9.76   ,   8.76   ,
         7.52   ,  76.28   ,  65.55   ,  81.6    ,   9.18   ,   9.04   ,
        80.8    ,  71.8    ,   7.84   ,  76.65   ,  70.8    ,  68.52   ,
        65.98   ,   8.44   ,  75.31   ,   9.31   ,   7.39   ,  65.3    ,
        77.45   ,  82.04   ,   8.17   ,  90.     ,   7.968  ,   8.252  ,
        79.37   ,  83.1    ,  72.06   ,   8.21   ,   8.33   ,  74.6    ,
         6.74   ,  70.26   ,   7.25   ,   9.45   ,   7.17   ,  78.1    ,
         7.19   ,   9.16   ,   8.66   ,   8.74   ,   6.99   ,  77.2    ,
        73.16   ,   8.56   ,   6.72   ,   7.066  ,  63.2    ,   7.57   ,
         6.55   ,   7.61   ,  73.2    ,  64.76   ,   8.93   ,  68.4    ,
         8.325  ,   6.95   ,  70.71   ,  83.75   ,  57.22   ,  74.8    ,
        68.85   ,  62.3    ,   7.47   ,   7.91   ,  68.5    ,  78.87   ,
        72.4    ,  66.4    ,   8.15   ,   8.91   ,  75.4    ,  69.84   ,
        61.     ,   7.05   ,  71.25   ,   6.97   ,  74.81   ,   6.89   ,
         6.31   ,  69.3    ,  76.01   ,  76.175  ,   8.92   ,  64.73   ,
         8.72   ,  73.19   ,  81.4    ,   9.34   ,  63.51   ,  77.7    ,
        72.3    ,   8.496  ,  64.2    ,   8.04   ,  69.17   ,  59.     ,
        61.27   ,  78.3    ,   7.83   ,  84.57   ,  69.42   ,   9.3    ,
       833.     ,  72.51   ,   8.25   ,  70.16   ,  62.22   ,  75.45   ,
        73.42   ,  78.2    ,  61.45   ,  65.15   ,   7.92   ,   7.43   ,
         9.28   ,   7.13   ,  71.67   ,   6.54   ,   8.02   ,  74.9    ,
         8.023  ,  86.52   ,  62.56   ,   9.21   ,  78.48   ,   5.73   ,
        78.78   ,  74.46   ,  74.25   ,  75.04   ,   7.16   ,  60.93   ,
        65.32   ,  77.31   ,   7.35   ,  76.5    ,  73.06   ,  80.36   ,
         8.98   ,  68.89   ,  64.33   ,  77.86   ,  71.59   ,   6.77   ,
         6.82   ,   9.14   ,  82.9    ,  81.97   ,  72.61   ,   7.65   ,
         8.68   ,   9.25   ,   8.46   ,  60.88   ,  80.92   ,   7.48   ,
         9.2    ,  74.45   ,   9.739  ,   8.07   ,   8.42   ,   7.56   ,
         8.63   ,  62.5    ,   9.54   ,  81.78   ,   8.1    ,  79.8    ,
         6.1    ,  79.5    ,  69.96   ,  80.53   ,   9.24   ,   8.83   ,
         8.03   ,   8.97   ,  87.5    ,  78.89   ,   9.8    ,   9.11   ,
         9.32   ,   6.2    ,   9.37   ,  71.92   ,  70.13   ,   6.38   ,
        56.     ,   6.86   ,  64.5    ,  64.86   ,  63.48   ,  67.51   ,
         6.81   ,   7.02   ,  59.8    ,  69.94   ,  74.07   ,  60.52   ,
        61.32   ,   6.58   ,   6.76   ,  82.4    ,  67.55   ,   6.4    ,
        68.7    ,  78.92   ,   6.75   ,  60.25   ,  79.26   ,  55.74   ,
         7.484  ,  66.79   ,  60.2    ,  58.     ,  59.33   ,  65.53   ,
        60.025  ,  57.2    ,   7.58   ,   6.05   ,  71.19   ,  62.6    ,
        65.03   ,  54.     ,  58.75   ,  73.27   ,  53.     ,   7.01   ,
         7.14   ,  68.92   ,   6.46   ,  57.5    ,  57.85   ,   5.5    ,
        71.44   ,  65.2    ,   6.67   ,  75.56   ,   6.66   ,   7.51   ,
        63.3    ,   6.6    ,   7.03   ,  57.73   ,  57.72   ,   5.96   ,
        52.35   ,  59.92   ,  76.6    ,  69.6    ,   9.13   ,   9.95   ,
         9.67   ,  75.98   ,  83.5    ,   9.29   ,   9.33   ,   9.06   ,
        82.2    ,   9.36   ,  75.5    ,  83.68   ,  77.66   ,  73.58   ,
        74.36   ,  82.25   ,   9.07   ,  80.91   ,   9.62   ,  76.69   ,
         9.44   ,  76.56   ,   8.69   ,  73.88   ,  71.47   ,   9.41   ,
        75.8    ,   9.43   ,  78.58   ,   9.84   ,   9.55   ,   9.68   ,
         9.35   ,   9.03   ,  79.1    ,  82.55   ,  66.67   ,  71.7    ,
        61.1    ,  64.6    ,   6.02   ,  80.18   ,  65.83   ,   6.94   ,
        75.47   ,  66.46   ,  69.2    ,  61.2    ,  80.01   ,  69.48   ,
         7.24   ,  87.4    ,   8.12   ,  73.55   ,  65.92   ,   6.21   ,
        67.5    ,  63.12   ,  69.7    ,  62.73   ,  60.5    ,  68.04   ,
        58.9    ,  57.28   ,  73.53   ,   9.65   ,   8.125  ,  57.4    ,
        66.07   ,  59.3    ,  69.82   ,  72.6    ,   6.53   ,  68.79   ,
        77.93   ,   7.34   ,  60.28   ,  66.76   ,   7.06   ,   6.65   ,
         7.37   ,  69.5    ,  79.13   ,   7.07   ,   6.3    ,  60.29   ,
        73.72   ,  62.47   ,   5.66   ,   8.47   ,   6.24   ])

In [1784]:
Undergraduation_score_list_edulix = Edulix_data_all_college["undergraduation_score"].tolist()

In [1785]:
update_cgpa_score_scale_4 = []
for score in undergrad_list_scores_new:
    s = 0
    try:
        score = float(score)
    except:
        score= 0
    if score > 10:
        s = ((score)/20) - 1
        s = round(s,2)
        update_cgpa_score_scale_4.append(s)
    else:
        s = ((score)/10)*4
        s = round(s,2)
        update_cgpa_score_scale_4.append(s)

In [1786]:
len(update_cgpa_score_scale_4)

5467

In [1787]:
len(Edulix_data_all_college)

5467

In [1788]:
Edulix_data_all_college['undergraduation_score'] = update_cgpa_score_scale_4

In [1789]:
update_cgpa_score_scale_4

[2.43,
 2.94,
 2.94,
 2.94,
 3.11,
 3.11,
 3.3,
 3.3,
 3.3,
 3.3,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 2.52,
 2.52,
 2.52,
 2.52,
 2.93,
 2.93,
 2.93,
 2.93,
 2.93,
 2.93,
 3.06,
 3.06,
 3.06,
 3.44,
 3.44,
 3.44,
 3.44,
 2.06,
 2.06,
 2.6,
 2.6,
 2.6,
 3.18,
 3.18,
 3.18,
 3.04,
 3.04,
 3.04,
 3.04,
 3.04,
 3.04,
 2.45,
 2.45,
 2.45,
 2.45,
 2.45,
 3.23,
 3.6,
 3.6,
 3.6,
 3.6,
 3.6,
 2.35,
 2.35,
 2.35,
 2.35,
 2.35,
 2.35,
 2.25,
 2.25,
 2.25,
 2.43,
 2.94,
 2.94,
 2.94,
 3.11,
 3.11,
 3.3,
 3.3,
 3.3,
 3.3,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 2.52,
 2.52,
 2.52,
 2.52,
 2.93,
 2.93,
 2.93,
 2.93,
 2.93,
 2.93,
 3.06,
 3.06,
 3.06,
 3.44,
 3.44,
 3.44,
 3.44,
 2.06,
 2.06,
 2.6,
 2.6,
 2.6,
 3.18,
 3.18,
 3.18,
 3.04,
 3.04,
 3.04,
 3.04,
 3.04,
 3.04,
 2.45,
 2.45,
 2.45,
 2.45,
 2.45,
 3.23,
 3.6,
 3.6,
 3.6,
 3.6,
 3.6,
 2.35,
 2.35,
 2.35,
 2.35,
 2.35,
 2.35,
 2.25,
 2.25,
 2.25,
 3.16,
 3.16,
 2.9,
 2.9,
 2.9,
 2.32,
 2.32,
 2.32,
 2.32,
 2.32,
 2.32,
 3.28,
 2.66,
 2.66,
 2.66,
 2.66,
 2.66,
 2.66,
 2.66,
 3.42,
 3.42,
 2.55,
 2.55,
 2.55,
 2.55,
 2.55,
 2.55,
 2.45,
 2.45,
 2.8,
 3.17,
 3.17,
 2.32,
 2.32,
 2.32,
 2.32,
 3.78,
 3.78,
 3.78,
 3.78,
 3.78,
 3.78,
 2.65,
 2.65,
 2.65,
 2.65,
 2.75,
 2.75,
 2.75,
 2.75,
 2.75,
 2.4,
 2.4,
 2.4,
 2.4,
 2.4,
 2.3,
 2.3,
 2.3,
 2.3,
 2.3,
 2.3,
 2.1,
 2.1,
 2.1,
 2.1,
 3.52,
 3.52,
 3.52,
 3.52,
 3.52,
 3.52,
 3.52,
 2.7,
 2.7,
 2.7,
 2.7,
 3.55,
 3.55,
 3.55,
 2.75,
 2.75,
 2.75,
 2.75,
 2.75,
 2.75,
 2.75,
 2.75,
 2.75,
 2.89,
 3.55,
 3.55,
 2.85,
 2.85,
 2.85,
 2.85,
 2.55,
 2.55,
 2.55,
 2.25,
 2.25,
 2.25,
 2.25,
 2.25,
 2.9,
 2.9,
 2.9,
 2.9,
 2.73,
 2.73,
 3.14,
 3.14,
 3.14,
 2.4,
 2.4,
 2.4,
 1.85,
 1.85,
 1.85,
 2.96,
 2.96,
 2.96,
 2.96,
 2.96,
 3.1,
 3.1,
 3.1,
 3.1,
 2.92,
 2.92,
 2.92,
 2.92,
 2.38,
 2.38,
 2.38,
 2.38,
 2.38,
 2.38,
 3.34,
 3.34,
 3.34,
 3.34,
 3.34,
 3.34,
 3.04,
 3.04,
 3.04,
 3.04,
 3.34,
 3.34,
 3.34,
 3.34,
 3.34,
 3.15,
 3.15,
 3.15,
 3.15,
 3.15,
 2.41,
 3.7,
 3.7,
 3.7,
 3.7,
 3.7,
 3.7,
 3.7,
 3.7,
 3.01,
 3.01,
 3.01,
 3.01,
 3.01,
 2.25,
 3.52,
 3.52,
 3.52,
 3.52,
 3.52,
 3.52,
 3.52,
 3.52,
 2.25,
 2.25,
 2.25,
 2.25,
 2.25,
 2.25,
 2.25,
 2.95,
 2.95,
 2.95,
 2.95,
 2.66,
 2.66,
 2.66,
 2.66,
 2.66,
 2.66,
 2.66,
 2.89,
 2.89,
 2.89,
 2.89,
 2.89,
 2.9,
 2.9,
 2.9,
 2.65,
 2.65,
 2.65,
 2.65,
 2.25,
 2.25,
 2.25,
 2.25,
 2.9,
 2.9,
 2.76,
 2.76,
 2.76,
 2.76,
 2.76,
 2.75,
 2.75,
 2.75,
 2.75,
 2.75,
 2.8,
 2.8,
 2.8,
 2.8,
 2.8,
 3.19,
 3.19,
 3.2,
 2.55,
 2.55,
 2.55,
 2.55,
 2.55,
 2.4,
 2.25,
 2.25,
 2.25,
 2.25,
 2.71,
 3.26,
 3.26,
 3.26,
 3.26,
 3.26,
 3.26,
 3.89,
 3.89,
 3.89,
 2.51,
 2.51,
 2.51,
 2.51,
 2.51,
 3.71,
 3.71,
 3.71,
 3.71,
 3.71,
 2.65,
 2.65,
 2.65,
 2.65,
 3.08,
 3.08,
 3.08,
 3.08,
 2.62,
 2.62,
 2.62,
 2.62,
 2.62,
 2.62,
 2.72,
 2.88,
 2.88,
 2.8,
 2.8,
 2.8,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 2.8,
 2.8,
 2.8,
 2.8,
 2.8,
 2.8,
 2.8,
 3.55,
 3.55,
 3.55,
 2.5,
 2.5,
 2.5,
 2.5,
 3.01,
 3.01,
 3.01,
 3.01,
 2.1,
 2.1,
 2.1,
 2.1,
 2.1,
 2.1,
 3.35,
 3.35,
 2.55,
 2.55,
 2.25,
 2.25,
 2.25,
 3.1,
 3.1,
 2.55,
 3.1,
 3.1,
 3.1,
 3.1,
 3.1,
 3.1,
 3.05,
 3.05,
 3.05,
 3.05,
 3.05,
 3.0,
 3.0,
 3.0,
 3.0,
 2.92,
 2.55,
 2.55,
 2.55,
 2.55,
 2.55,
 1.75,
 1.75,
 1.75,
 3.07,
 3.07,
 3.07,
 3.07,
 2.75,
 2.75,
 2.75,
 2.75,
 3.6,
 3.6,
 3.6,
 3.6,
 3.6,
 3.6,
 3.6,
 2.75,
 2.21,
 2.21,
 2.21,
 2.8,
 2.8,
 2.8,
 2.8,
 3.43,
 3.43,
 3.43,
 3.43,
 3.66,
 3.66,
 3.66,
 2.15,
 2.15,
 2.15,
 2.15,
 2.15,
 2.15,
 3.52,
 3.52,
 3.52,
 3.52,
 3.52,
 2.5,
 2.5,
 2.5,
 2.5,
 2.5,
 2.47,
 2.47,
 2.47,
 2.47,
 2.21,
 2.67,
 2.67,
 2.67,
 2.67,
 2.75,
 2.75,
 2.75,
 2.75,
 2.75,
 2.75,
 2.75,
 2.13,
 2.13,
 2.13,
 2.29,
 2.29,
 2.29,
 2.29,
 2.29,
 2.45,
 2.45,
 2.45,
 2.45,
 3.25,
 3.25,
 3.25,
 3.25,
 3.25,
 3.25,
 2.65,
 2.65,
 2.65,
 2.65,
 2.65,
 2.65,
 2.65,
 2.65,
 3.06,
 2.78,
 2.3,
 2.3,
 2.3,
 2.3,
 2.88,
 2.88,
 2.88,
 2.88,
 2.88,
 2.88,
 2.62,
 3.64,
 3.64,
 3.64,
 3.64,
 3.06,
 3.06,
 2.25,
 2.67,
 2.67,
 2.67,
 2.67,
 2.67,
 2.67,
 3.35,
 3.35,
 3.35,
 2.85,
 2.85,
 2.85,
 2.85,
 2.18,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 2.9,
 2.9,
 2.9,
 2.9,
 2.9,
 2.9,
 3.09,
 3.09,
 3.09,
 3.09,
 2.21,
 2.21,
 3.36,
 3.5,
 3.5,
 3.5,
 2.38,
 0.0,
 0.0,
 0.0,
 2.82,
 2.82,
 2.82,
 2.82,
 2.82,
 3.51,
 3.51,
 3.51,
 2.44,
 2.44,
 2.44,
 2.44,
 2.44,
 2.44,
 2.35,
 2.35,
 2.35,
 2.35,
 2.35,
 2.35,
 2.35,
 2.35,
 3.04,
 3.04,
 2.7,
 2.7,
 2.81,
 2.81,
 3.22,
 3.22,
 3.22,
 0.0,
 2.2,
 2.2,
 2.2,
 2.2,
 2.2,
 2.2,
 2.27,
 2.27,
 2.17,
 2.17,
 2.17,
 3.31,
 3.31,
 3.31,
 3.31,
 3.31,
 3.31,
 2.57,
 2.57,
 2.57,
 2.57,
 2.62,
 3.4,
 3.4,
 3.4,
 3.4,
 2.9,
 2.9,
 2.9,
 2.9,
 3.54,
 3.54,
 3.54,
 3.11,
 3.5,
 3.22,
 3.22,
 3.22,
 3.22,
 3.22,
 3.22,
 2.88,
 2.88,
 2.55,
 2.55,
 2.6,
 2.6,
 2.6,
 2.6,
 2.72,
 2.72,
 2.72,
 2.67,
 2.67,
 2.67,
 2.67,
 2.63,
 1.99,
 1.99,
 1.99,
 3.08,
 3.08,
 3.08,
 3.08,
 2.51,
 2.51,
 2.51,
 2.45,
 2.45,
 2.45,
 2.45,
 2.45,
 2.68,
 3.2,
 3.2,
 3.2,
 3.2,
 2.5,
 2.5,
 2.5,
 2.5,
 2.5,
 2.5,
 2.5,
 2.5,
 2.5,
 2.24,
 2.24,
 2.24,
 2.24,
 3.52,
 3.52,
 3.52,
 3.52,
 3.52,
 2.92,
 2.92,
 2.51,
 2.51,
 2.51,
 3.05,
 3.05,
 3.05,
 3.05,
 3.05,
 2.65,
 2.65,
 2.56,
 2.56,
 2.56,
 2.56,
 2.56,
 2.56,
 2.56,
 3.26,
 3.26,
 3.26,
 3.26,
 3.26,
 3.26,
 3.26,
 3.26,
 3.31,
 3.31,
 3.31,
 3.31,
 2.44,
 2.44,
 2.44,
 2.44,
 2.44,
 2.44,
 2.36,
 2.36,
 2.36,
 3.08,
 3.08,
 3.08,
 3.45,
 3.45,
 3.45,
 3.45,
 3.45,
 3.24,
 3.24,
 3.24,
 3.24,
 3.24,
 3.62,
 3.62,
 3.62,
 3.62,
 2.71,
 2.71,
 2.71,
 2.71,
 2.71,
 2.66,
 2.66,
 2.66,
 2.66,
 2.66,
 2.66,
 3.08,
 3.08,
 3.08,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.65,
 2.65,
 2.65,
 2.65,
 2.65,
 3.19,
 3.19,
 3.19,
 2.48,
 2.48,
 2.48,
 2.48,
 2.48,
 2.48,
 2.47,
 2.47,
 2.47,
 2.47,
 2.47,
 2.47,
 2.47,
 2.2,
 2.2,
 2.2,
 2.2,
 2.7,
 2.7,
 2.7,
 2.7,
 2.7,
 2.7,
 2.4,
 2.4,
 2.4,
 2.4,
 2.4,
 3.22,
 3.22,
 3.22,
 3.22,
 3.22,
 3.22,
 2.9,
 2.9,
 2.51,
 2.51,
 2.51,
 2.51,
 2.51,
 3.44,
 3.44,
 3.44,
 3.44,
 3.44,
 3.44,
 3.44,
 3.44,
 3.07,
 3.07,
 3.07,
 3.07,
 3.07,
 3.14,
 3.14,
 3.14,
 3.14,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.5,
 2.5,
 2.91,
 2.91,
 2.91,
 2.91,
 2.91,
 3.48,
 3.48,
 3.48,
 2.93,
 2.93,
 2.93,
 2.91,
 2.91,
 2.91,
 2.91,
 2.91,
 2.91,
 2.91,
 2.72,
 2.72,
 2.72,
 3.73,
 3.73,
 3.73,
 3.73,
 3.73,
 3.73,
 2.76,
 2.76,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 3.41,
 2.6,
 2.6,
 2.6,
 2.1,
 2.1,
 2.1,
 2.1,
 2.56,
 2.56,
 3.32,
 3.32,
 3.32,
 3.32,
 3.32,
 2.8,
 2.8,
 2.8,
 2.95,
 2.95,
 2.95,
 2.95,
 2.95,
 2.95,
 3.53,
 3.53,
 3.53,
 3.53,
 3.12,
 3.12,
 3.12,
 3.12,
 3.4,
 3.4,
 3.32,
 3.32,
 3.32,
 3.32,
 3.1,
 3.1,
 3.1,
 3.35,
 3.35,
 2.16,
 2.39,
 2.39,
 2.92,
 3.15,
 3.15,
 3.15,
 3.44,
 3.44,
 3.44,
 3.44,
 3.44,
 3.44,
 ...]

In [1790]:
Edulix_data_all_college

,student_name,undergraduation_score,gre_score_quant,gre_score_verbal,university_name,term_applying,year_applying,status
0,arorohan,2.43,170,147,northeastern university,Spring,2013,Admit
1,hardik_surana,2.94,162,158,rutgers university-new brunswick,Spring,2014,Reject
2,hardik_surana,2.94,162,158,northeastern university,Spring,2014,Admit
3,hardik_surana,2.94,162,158,university of florida,Spring,2014,Reject
4,kotasundeep,3.11,169,151,"north carolina state university, raleigh",Fall,2013,Admit
5,kotasundeep,3.11,169,151,northeastern university,Fall,2013,Admit
6,girishpatni,3.30,167,155,"texas a&m university, college station",Fall,2015,Reject
7,girishpatni,3.30,167,155,indiana university bloomington,Fall,2015,Reject
8,girishpatni,3.30,167,155,northeastern university,Fall,2015,Admit
9,girishpatni,3.30,167,155,state university of new york at stony brook,Fall,2015,Reject
10,mamata49p,3.58,164,154,university of texas at dallas,Fall,2013,Admit
11,mamata49p,3.58,164,154,rutgers university-new brunswick,Fall,2013,Reject
12,mamata49p,3.58,164,154,"texas a&m university, college station",Fall,2013,Reject
13,mamata49p,3.58,164,154,san jose state university,Fall,2013,Admit
14,mamata49p,3.58,164,154,northeastern university,Fall,2013,Admit
15,mamata49p,3.58,164,154,state university of new york at stony brook,Fall,2013,Reject
16,rajeakshay,2.52,160,153,"university of california, irvine",Fall,2014,Reject
17,rajeakshay,2.52,160,153,"north carolina state university, raleigh",Fall,2014,Reject
18,rajeakshay,2.52,160,153,indiana university bloomington,Fall,2014,Reject
19,rajeakshay,2.52,160,153,northeastern university,Fall,2014,Admit
20,rishijosan,2.93,170,162,university of texas at dallas,Spring,2013,Admit
21,rishijosan,2.93,170,162,new york university,Spring,2013,Admit
22,rishijosan,2.93,170,162,clemson university,Spring,2013,Reject
23,rishijosan,2.93,170,162,indiana university bloomington,Spring,2013,Admit
24,rishijosan,2.93,170,162,northeastern university,Spring,2013,Admit
25,rishijosan,2.93,170,162,state university of new york at stony brook,Spring,2013,Admit
26,kush391,3.06,164,158,"north carolina state university, raleigh",Fall,2014,Reject
27,kush391,3.06,164,158,northeastern university,Fall,2014,Admit
28,kush391,3.06,164,158,university of florida,Fall,2014,Reject
29,amoljoshi,3.44,154,167,university of southern california,Fall,2013,Admit
...,...,...,...,...,...,...,...,...
5444,dalvi,2.67,167,164,university of florida,Fall,2016,Admit
5445,singh0777,2.88,168,148,"north carolina state university, raleigh",Fall,2016,Reject
5446,singh0777,2.88,168,148,university of southern california,Fall,2016,Reject
5447,singh0777,2.88,168,148,university of florida,Fall,2016,Admit
5448,sanjanarao83,2.95,158,156,university of north carolina at charlotte,Fall,2016,Admit
5449,sanjanarao83,2.95,158,156,"north carolina state university, raleigh",Fall,2016,Reject
5450,sanjanarao83,2.95,158,156,university of florida,Fall,2016,Admit
5451,sanjanarao83,2.95,158,156,state university of new york at stony brook,Fall,2016,Reject
5452,krohitm,2.98,166,154,"texas a&m university, college station",Fall,2016,Reject
5453,krohitm,2.98,166,154,georgia institute of technology,Fall,2016,Reject
5454,krohitm,2.98,166,154,northeastern university,Fall,2016,Reject
5455,krohitm,2.98,166,154,university of florida,Fall,2016,Admit
5456,ironspidey,3.44,165,152,rutgers university-new brunswick,Fall,2016,Reject
5457,ironspidey,3.44,165,152,georgia institute of technology,Fall,2016,Reject
5458,ironspidey,3.44,165,152,university of florida,Fall,2016,Admit
5459,ayushigarg1992,3.16,166,160,university of florida,Fall,2016,Admit
5460,himanshuvyas18,2.26,165,147,university of north carolina at charlotte,Fall,2016,Reject
5461,himanshuvyas18,2.26,165,147,clemson university,Fall,2016,Reject
5462,himanshuvyas18,2.26,165,147,university of florida,Fall,2016,Admit
5463,himanshuvyas18,2.26,165,147,university of texas at arlington,Fall,2016,Reject
5464,karthiknara99,3.39,164,147,university of texas at dallas,Fall,2016,Reject
5465,karthiknara99,3.39,164,147,university of southern california,Fall,2016,Reject
5466,karthiknara99,3.39,164,147,university of florida,Fall,2016,Admit
5467,saranyavatti,2.64,170,161,university of texas at dallas,Fall,2017,Reject
5468,saranyavatti,2.64,170,161,"north carolina state university, raleigh",Fall,2017,Reject
5469,saranyavatti,2.64,170,161,university of florida,Fall,2017,Admit
5470,justine91,0.00,163,157,university of florida,Fall,2016,Admit
5471,indrajit2017,2.25,162,162,university of florida,Fall,2017,Admit
5472,leviackerman,2.50,170,149,"north carolina state university, raleigh",Fall,2017,Reject
5473,leviackerman,2.50,170,149,university of florida,Fall,2017,Admit

## TERM AND YEAR

In [1791]:
Edulix_data_all_college['term_applying'].value_counts()

Fall      4792
Spring     674
Summer       1
Name: term_applying, dtype: int64

In [1792]:
Edulix_data_all_college = Edulix_data_all_college.loc[Edulix_data_all_college['term_applying'] != 'Summer',:]

In [1793]:
Edulix_data_all_college['term_applying'].value_counts()

Fall      4792
Spring     674
Name: term_applying, dtype: int64

In [1794]:
Edulix_data_all_college=Edulix_data_all_college.loc[((Edulix_data_all_college['undergraduation_score']!=0 ) & (Edulix_data_all_college['undergraduation_score'] <4)),:]

In [1795]:
Edulix_data_all_college.reset_index(drop=True,inplace=True)

In [1796]:
Edulix_data_all_college

,student_name,undergraduation_score,gre_score_quant,gre_score_verbal,university_name,term_applying,year_applying,status
0,arorohan,2.43,170,147,northeastern university,Spring,2013,Admit
1,hardik_surana,2.94,162,158,rutgers university-new brunswick,Spring,2014,Reject
2,hardik_surana,2.94,162,158,northeastern university,Spring,2014,Admit
3,hardik_surana,2.94,162,158,university of florida,Spring,2014,Reject
4,kotasundeep,3.11,169,151,"north carolina state university, raleigh",Fall,2013,Admit
5,kotasundeep,3.11,169,151,northeastern university,Fall,2013,Admit
6,girishpatni,3.30,167,155,"texas a&m university, college station",Fall,2015,Reject
7,girishpatni,3.30,167,155,indiana university bloomington,Fall,2015,Reject
8,girishpatni,3.30,167,155,northeastern university,Fall,2015,Admit
9,girishpatni,3.30,167,155,state university of new york at stony brook,Fall,2015,Reject
10,mamata49p,3.58,164,154,university of texas at dallas,Fall,2013,Admit
11,mamata49p,3.58,164,154,rutgers university-new brunswick,Fall,2013,Reject
12,mamata49p,3.58,164,154,"texas a&m university, college station",Fall,2013,Reject
13,mamata49p,3.58,164,154,san jose state university,Fall,2013,Admit
14,mamata49p,3.58,164,154,northeastern university,Fall,2013,Admit
15,mamata49p,3.58,164,154,state university of new york at stony brook,Fall,2013,Reject
16,rajeakshay,2.52,160,153,"university of california, irvine",Fall,2014,Reject
17,rajeakshay,2.52,160,153,"north carolina state university, raleigh",Fall,2014,Reject
18,rajeakshay,2.52,160,153,indiana university bloomington,Fall,2014,Reject
19,rajeakshay,2.52,160,153,northeastern university,Fall,2014,Admit
20,rishijosan,2.93,170,162,university of texas at dallas,Spring,2013,Admit
21,rishijosan,2.93,170,162,new york university,Spring,2013,Admit
22,rishijosan,2.93,170,162,clemson university,Spring,2013,Reject
23,rishijosan,2.93,170,162,indiana university bloomington,Spring,2013,Admit
24,rishijosan,2.93,170,162,northeastern university,Spring,2013,Admit
25,rishijosan,2.93,170,162,state university of new york at stony brook,Spring,2013,Admit
26,kush391,3.06,164,158,"north carolina state university, raleigh",Fall,2014,Reject
27,kush391,3.06,164,158,northeastern university,Fall,2014,Admit
28,kush391,3.06,164,158,university of florida,Fall,2014,Reject
29,amoljoshi,3.44,154,167,university of southern california,Fall,2013,Admit
...,...,...,...,...,...,...,...,...
5326,dalvi,2.67,167,164,state university of new york at stony brook,Fall,2016,Reject
5327,dalvi,2.67,167,164,university of florida,Fall,2016,Admit
5328,singh0777,2.88,168,148,"north carolina state university, raleigh",Fall,2016,Reject
5329,singh0777,2.88,168,148,university of southern california,Fall,2016,Reject
5330,singh0777,2.88,168,148,university of florida,Fall,2016,Admit
5331,sanjanarao83,2.95,158,156,university of north carolina at charlotte,Fall,2016,Admit
5332,sanjanarao83,2.95,158,156,"north carolina state university, raleigh",Fall,2016,Reject
5333,sanjanarao83,2.95,158,156,university of florida,Fall,2016,Admit
5334,sanjanarao83,2.95,158,156,state university of new york at stony brook,Fall,2016,Reject
5335,krohitm,2.98,166,154,"texas a&m university, college station",Fall,2016,Reject
5336,krohitm,2.98,166,154,georgia institute of technology,Fall,2016,Reject
5337,krohitm,2.98,166,154,northeastern university,Fall,2016,Reject
5338,krohitm,2.98,166,154,university of florida,Fall,2016,Admit
5339,ironspidey,3.44,165,152,rutgers university-new brunswick,Fall,2016,Reject
5340,ironspidey,3.44,165,152,georgia institute of technology,Fall,2016,Reject
5341,ironspidey,3.44,165,152,university of florida,Fall,2016,Admit
5342,ayushigarg1992,3.16,166,160,university of florida,Fall,2016,Admit
5343,himanshuvyas18,2.26,165,147,university of north carolina at charlotte,Fall,2016,Reject
5344,himanshuvyas18,2.26,165,147,clemson university,Fall,2016,Reject
5345,himanshuvyas18,2.26,165,147,university of florida,Fall,2016,Admit
5346,himanshuvyas18,2.26,165,147,university of texas at arlington,Fall,2016,Reject
5347,karthiknara99,3.39,164,147,university of texas at dallas,Fall,2016,Reject
5348,karthiknara99,3.39,164,147,university of southern california,Fall,2016,Reject
5349,karthiknara99,3.39,164,147,university of florida,Fall,2016,Admit
5350,saranyavatti,2.64,170,161,university of texas at dallas,Fall,2017,Reject
5351,saranyavatti,2.64,170,161,"north carolina state university, raleigh",Fall,2017,Reject
5352,saranyavatti,2.64,170,161,university of florida,Fall,2017,Admit
5353,indrajit2017,2.25,162,162,university of florida,Fall,2017,Admit
5354,leviackerman,2.50,170,149,"north carolina state university, raleigh",Fall,2017,Reject
5355,leviackerman,2.50,170,149,university of florida,Fall,2017,Admit

In [1797]:
Edulix_data_all_college.gre_score_quant=Edulix_data_all_college.gre_score_quant.astype('int64')
Edulix_data_all_college.gre_score_verbal = Edulix_data_all_college.gre_score_verbal.astype('int64')

In [1798]:
Edulix_data_all_college.dtypes

student_name              object
undergraduation_score    float64
gre_score_quant            int64
gre_score_verbal           int64
university_name           object
term_applying             object
year_applying             object
status                    object
dtype: object

In [1799]:
Edulix_data_all_college['gre_score'] = Edulix_data_all_college['gre_score_quant']+Edulix_data_all_college['gre_score_verbal']

In [1800]:
Edulix_data_all_college

,student_name,undergraduation_score,gre_score_quant,gre_score_verbal,university_name,term_applying,year_applying,status,gre_score
0,arorohan,2.43,170,147,northeastern university,Spring,2013,Admit,317
1,hardik_surana,2.94,162,158,rutgers university-new brunswick,Spring,2014,Reject,320
2,hardik_surana,2.94,162,158,northeastern university,Spring,2014,Admit,320
3,hardik_surana,2.94,162,158,university of florida,Spring,2014,Reject,320
4,kotasundeep,3.11,169,151,"north carolina state university, raleigh",Fall,2013,Admit,320
5,kotasundeep,3.11,169,151,northeastern university,Fall,2013,Admit,320
6,girishpatni,3.30,167,155,"texas a&m university, college station",Fall,2015,Reject,322
7,girishpatni,3.30,167,155,indiana university bloomington,Fall,2015,Reject,322
8,girishpatni,3.30,167,155,northeastern university,Fall,2015,Admit,322
9,girishpatni,3.30,167,155,state university of new york at stony brook,Fall,2015,Reject,322
10,mamata49p,3.58,164,154,university of texas at dallas,Fall,2013,Admit,318
11,mamata49p,3.58,164,154,rutgers university-new brunswick,Fall,2013,Reject,318
12,mamata49p,3.58,164,154,"texas a&m university, college station",Fall,2013,Reject,318
13,mamata49p,3.58,164,154,san jose state university,Fall,2013,Admit,318
14,mamata49p,3.58,164,154,northeastern university,Fall,2013,Admit,318
15,mamata49p,3.58,164,154,state university of new york at stony brook,Fall,2013,Reject,318
16,rajeakshay,2.52,160,153,"university of california, irvine",Fall,2014,Reject,313
17,rajeakshay,2.52,160,153,"north carolina state university, raleigh",Fall,2014,Reject,313
18,rajeakshay,2.52,160,153,indiana university bloomington,Fall,2014,Reject,313
19,rajeakshay,2.52,160,153,northeastern university,Fall,2014,Admit,313
20,rishijosan,2.93,170,162,university of texas at dallas,Spring,2013,Admit,332
21,rishijosan,2.93,170,162,new york university,Spring,2013,Admit,332
22,rishijosan,2.93,170,162,clemson university,Spring,2013,Reject,332
23,rishijosan,2.93,170,162,indiana university bloomington,Spring,2013,Admit,332
24,rishijosan,2.93,170,162,northeastern university,Spring,2013,Admit,332
25,rishijosan,2.93,170,162,state university of new york at stony brook,Spring,2013,Admit,332
26,kush391,3.06,164,158,"north carolina state university, raleigh",Fall,2014,Reject,322
27,kush391,3.06,164,158,northeastern university,Fall,2014,Admit,322
28,kush391,3.06,164,158,university of florida,Fall,2014,Reject,322
29,amoljoshi,3.44,154,167,university of southern california,Fall,2013,Admit,321
...,...,...,...,...,...,...,...,...,...
5326,dalvi,2.67,167,164,state university of new york at stony brook,Fall,2016,Reject,331
5327,dalvi,2.67,167,164,university of florida,Fall,2016,Admit,331
5328,singh0777,2.88,168,148,"north carolina state university, raleigh",Fall,2016,Reject,316
5329,singh0777,2.88,168,148,university of southern california,Fall,2016,Reject,316
5330,singh0777,2.88,168,148,university of florida,Fall,2016,Admit,316
5331,sanjanarao83,2.95,158,156,university of north carolina at charlotte,Fall,2016,Admit,314
5332,sanjanarao83,2.95,158,156,"north carolina state university, raleigh",Fall,2016,Reject,314
5333,sanjanarao83,2.95,158,156,university of florida,Fall,2016,Admit,314
5334,sanjanarao83,2.95,158,156,state university of new york at stony brook,Fall,2016,Reject,314
5335,krohitm,2.98,166,154,"texas a&m university, college station",Fall,2016,Reject,320
5336,krohitm,2.98,166,154,georgia institute of technology,Fall,2016,Reject,320
5337,krohitm,2.98,166,154,northeastern university,Fall,2016,Reject,320
5338,krohitm,2.98,166,154,university of florida,Fall,2016,Admit,320
5339,ironspidey,3.44,165,152,rutgers university-new brunswick,Fall,2016,Reject,317
5340,ironspidey,3.44,165,152,georgia institute of technology,Fall,2016,Reject,317
5341,ironspidey,3.44,165,152,university of florida,Fall,2016,Admit,317
5342,ayushigarg1992,3.16,166,160,university of florida,Fall,2016,Admit,326
5343,himanshuvyas18,2.26,165,147,university of north carolina at charlotte,Fall,2016,Reject,312
5344,himanshuvyas18,2.26,165,147,clemson university,Fall,2016,Reject,312
5345,himanshuvyas18,2.26,165,147,university of florida,Fall,2016,Admit,312
5346,himanshuvyas18,2.26,165,147,university of texas at arlington,Fall,2016,Reject,312
5347,karthiknara99,3.39,164,147,university of texas at dallas,Fall,2016,Reject,311
5348,karthiknara99,3.39,164,147,university of southern california,Fall,2016,Reject,311
5349,karthiknara99,3.39,164,147,university of florida,Fall,2016,Admit,311
5350,saranyavatti,2.64,170,161,university of texas at dallas,Fall,2017,Reject,331
5351,saranyavatti,2.64,170,161,"north carolina state university, raleigh",Fall,2017,Reject,331
5352,saranyavatti,2.64,170,161,university of florida,Fall,2017,Admit,331
5353,indrajit2017,2.25,162,162,university of florida,Fall,2017,Admit,324
5354,leviackerman,2.50,170,149,"north carolina state university, raleigh",Fall,2017,Reject,319
5355,leviackerman,2.50,170,149,university of florida,Fall,2017,Admit,319

In [1801]:
Edulix_data_all_college['gre_score_quant'].value_counts()

164    518
162    518
163    456
161    442
170    417
159    413
158    362
160    328
166    304
167    299
168    299
165    290
157    197
169    146
156    143
155     75
154     44
152     30
150     24
151     23
153     13
148      4
147      4
139      2
140      2
138      1
143      1
136      1
Name: gre_score_quant, dtype: int64

In [1802]:
Edulix_data_all_college['gre_score_verbal'].value_counts()

152    522
149    432
150    420
155    382
153    376
151    322
148    309
154    282
147    221
146    221
157    220
145    213
156    170
158    167
159    146
144    145
161    131
143    116
160    111
141     81
162     78
142     72
163     48
165     26
139     25
164     22
140     20
166     18
167     17
138     11
137      8
136      8
168      5
170      4
169      3
135      2
134      1
132      1
Name: gre_score_verbal, dtype: int64

In [1803]:
mean_gre_verbal_list = Edulix_data_all_college.groupby(by=['university_name','status'])['gre_score_verbal'].median().to_dict()

In [1804]:
mean_gre_verbal_list

{('carnegie mellon university', 'Admit'): 154.0,
 ('carnegie mellon university', 'Reject'): 155.0,
 ('clemson university', 'Admit'): 154.5,
 ('clemson university', 'Reject'): 147.0,
 ('george mason university', 'Admit'): 149.0,
 ('george mason university', 'Reject'): 145.0,
 ('georgia institute of technology', 'Admit'): 158.0,
 ('georgia institute of technology', 'Reject'): 155.0,
 ('illinois institute of technology', 'Admit'): 147.0,
 ('illinois institute of technology', 'Reject'): 148.0,
 ('indiana university bloomington', 'Admit'): 151.0,
 ('indiana university bloomington', 'Reject'): 152.0,
 ('kansas state university', 'Admit'): 149.0,
 ('kansas state university', 'Reject'): 145.0,
 ('michigan technological university', 'Admit'): 148.0,
 ('michigan technological university', 'Reject'): 152.5,
 ('new york university', 'Admit'): 155.0,
 ('new york university', 'Reject'): 152.5,
 ('north carolina state university, raleigh', 'Admit'): 153.0,
 ('north carolina state university, raleigh', 'Reject'): 152.0,
 ('northeastern university', 'Admit'): 152.0,
 ('northeastern university', 'Reject'): 151.0,
 ('rochester institute of technology', 'Admit'): 151.0,
 ('rochester institute of technology', 'Reject'): 149.0,
 ('rutgers university-new brunswick', 'Admit'): 154.0,
 ('rutgers university-new brunswick', 'Reject'): 153.0,
 ('san jose state university', 'Admit'): 150.0,
 ('san jose state university', 'Reject'): 147.0,
 ('state university of new york at stony brook', 'Admit'): 154.0,
 ('state university of new york at stony brook', 'Reject'): 152.0,
 ('syracuse university', 'Admit'): 150.0,
 ('syracuse university', 'Reject'): 150.0,
 ('texas a&m university, college station', 'Admit'): 154.0,
 ('texas a&m university, college station', 'Reject'): 154.0,
 ('university of california, irvine', 'Admit'): 155.0,
 ('university of california, irvine', 'Reject'): 153.0,
 ('university of cincinnati', 'Admit'): 151.5,
 ('university of cincinnati', 'Reject'): 149.0,
 ('university of colorado boulder', 'Admit'): 153.0,
 ('university of colorado boulder', 'Reject'): 152.0,
 ('university of connecticut', 'Admit'): 149.0,
 ('university of florida', 'Admit'): 153.0,
 ('university of florida', 'Reject'): 151.0,
 ('university of iowa', 'Admit'): 148.0,
 ('university of iowa', 'Reject'): 149.0,
 ('university of maryland, college park', 'Admit'): 155.0,
 ('university of maryland, college park', 'Reject'): 154.0,
 ('university of north carolina at charlotte', 'Admit'): 149.0,
 ('university of north carolina at charlotte', 'Reject'): 149.0,
 ('university of south carolina', 'Admit'): 155.5,
 ('university of south carolina', 'Reject'): 149.0,
 ('university of southern california', 'Admit'): 152.0,
 ('university of southern california', 'Reject'): 152.0,
 ('university of texas at arlington', 'Admit'): 147.0,
 ('university of texas at arlington', 'Reject'): 149.0,
 ('university of texas at dallas', 'Admit'): 150.0,
 ('university of texas at dallas', 'Reject'): 150.0,
 ('worcester polytechnic institute', 'Admit'): 152.0,
 ('worcester polytechnic institute', 'Reject'): 152.5}

<b> Checking Data for Yocket <b>

<b> Importing the Yocket Dataset(Accept and reject csv file) </b><br>

In [1805]:
Yocket_Accept_data_all_college = pd.read_csv(r'..\Data\Yocket_Acccept_University_student_data.csv')

In [1806]:
Yocket_Reject_data_all_college = pd.read_csv(r'..\Data\Yocket_Reject_University_student_data.csv')

In [1807]:
Yocket_Accept_data_all_college = Yocket_Accept_data_all_college.set_index('index')

In [1808]:
Yocket_Reject_data_all_college = Yocket_Reject_data_all_college.set_index('index')

In [1809]:
Yocket_data_all_college = pd.concat([Yocket_Accept_data_all_college, Yocket_Reject_data_all_college])

In [1810]:
Yocket_data_all_college.to_csv(r'..\Data\Yocket_data_all_college.csv')

In [1811]:
Yocket_data_all_college
#Yocket_data_all_college = Yocket_data_all_college.set_index('index')

,student_name,university_name,year_applying,Status,GRE,GRE_SCORE,Eng_test,Test_score,Undergraduation,Undergraduation_score,is_work_ex,work_ex
index,,,,,,,,,,,,
0,VIEW ALL EVENTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Q) What is Fast Track Event?,You can register online or by phone or by mail...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abdul kadir,Northeastern University Computer Science,Fall 2019,Admit,GRE,317,TOEFL,114,UNDERGRAD,8.8 CGPA,WORK EX,4 months
3,Yashwanth Reddy,Northeastern University Computer Science,Fall 2019,Admit,GRE,314,TOEFL,103,UNDERGRAD,8.16 CGPA,WORK EX,24 months
4,Raj Shrivastava,Northeastern University Computer Science,Fall 2019,Admit,GRE,324,TOEFL,108,UNDERGRAD,82.30%,WORK EX,6 months
5,Sumeet Bhadale,Northeastern University Computer Science,Fall 2019,Admit,GRE,305,TOEFL,0,UNDERGRAD,8.21 CGPA,WORK EX,13 months
6,piyush goel,Northeastern University Computer Science,Fall 2019,Admit,GRE,324,TOEFL,112,UNDERGRAD,7.2 CGPA,WORK EX,8 months
7,Kamineni sai sugeeth,Northeastern University Computer Science,Fall 2019,Admit,GRE,318,TOEFL,102,UNDERGRAD,7 CGPA,WORK EX,4 months
8,Daman M,Northeastern University Computer Science,Fall 2019,Admit,GRE,327,TOEFL,114,UNDERGRAD,8.38 CGPA,WORK EX,48 months
9,Utsav Das,Northeastern University Computer Science,Fall 2019,Admit,GRE,334,TOEFL,120,UNDERGRAD,8.86 CGPA,WORK EX,1 month
10,Shankar Telaprolu,Northeastern University Computer Science,Fall 2019,Admit,GRE,312,IELTS,6.5,UNDERGRAD,9.2 CGPA,WORK EX,5 months
11,Aayush Atul Kubitkar,Northeastern University Computer Science,Fall 2019,Admit,GRE,319,TOEFL,99,UNDERGRAD,7.18 CGPA,WORK EX,30 months
12,ketaki udipi,Northeastern University Computer Science,Fall 2019,Admit,GRE,306,TOEFL,100,UNDERGRAD,8.9 CGPA,WORK EX,20 months
13,Mojave,Northeastern University Computer Science,Fall 2019,Admit,GRE,304,TOEFL,95,UNDERGRAD,7.06 CGPA,WORK EX,NaN
14,Aishwarya Radhakrishnan,Northeastern University Computer Science,Fall 2019,Admit,GRE,320,TOEFL,109,UNDERGRAD,0 CGPA,WORK EX,24 months
15,Naiya Shah,Northeastern University Computer Science,Fall 2019,Admit,GRE,306,TOEFL,111,UNDERGRAD,8.87 CGPA,WORK EX,NaN
16,RituSE,Northeastern University Computer Science,Fall 2019,Admit,GRE,N.A.,ENG TEST,NA,UNDERGRAD,68.60%,WORK EX,NaN
17,Flame Alchemist,Northeastern University Computer Science,Fall 2019,Admit,GRE,332,TOEFL,115,UNDERGRAD,75%,WORK EX,9 months
18,Archita Sundaray,Northeastern University Computer Science,Fall 2019,Admit,GRE,317,TOEFL,101,UNDERGRAD,8.65 CGPA,WORK EX,48 months
19,Neha Pande,Northeastern University Computer Science,Fall 2019,Admit,GRE,320,TOEFL,103,UNDERGRAD,7.5 CGPA,WORK EX,12 months
20,Jasvinder Singh,Northeastern University Computer Science,Fall 2018,Admit,GRE,309,TOEFL,102,UNDERGRAD,82%,WORK EX,33 months
21,MVSN Bharath,Northeastern University Computer Science,Fall 2019,Admit,GRE,320,TOEFL,99,UNDERGRAD,8.24 CGPA,WORK EX,25 months
22,VIEW ALL EVENTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Q) What is Fast Track Event?,You can register online or by phone or by mail...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,deepali tolia,Northeastern University Computer Science,Fall 2019,Admit,GRE,305,TOEFL,107,UNDERGRAD,75%,WORK EX,24 months
25,Samaksh Yadav,Northeastern University Computer Science,Fall 2018,Admit,GRE,323,TOEFL,110,UNDERGRAD,7.8 CGPA,WORK EX,12 months
26,bipin dr,Northeastern University Computer Science,Fall 2019,Admit,GRE,311,TOEFL,105,UNDERGRAD,8.58 CGPA,WORK EX,2 months
27,neel parikh,Northeastern University Computer Science,Fall 2019,Admit,GRE,318,TOEFL,104,UNDERGRAD,8.68 CGPA,WORK EX,9 months
28,Dhruvatara Bhogishetty,Northeastern University Computer Science,Fall 2019,Admit,GRE,327,TOEFL,115,UNDERGRAD,7.98 CGPA,WORK EX,2 months
29,meghna singhal,Northeastern University Computer Science,Fall 2019,Admit,GRE,N.A.,ENG TEST,NA,UNDERGRAD,77%,WORK EX,10 months
...,...,...,...,...,...,...,...,...,...,...,...,...
5642,Ronak Thakkar,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,314,TOEFL,105,UNDERGRAD,7.66 CGPA,WORK EX,2 months
5643,chirag,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,305,TOEFL,97,UNDERGRAD,8.673 CGPA,WORK EX,3 months
5644,Bulla,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,319,TOEFL,103,UNDERGRAD,59.22%,WORK EX,27 months
5645,Yash Tare,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,315,TOEFL,103,UNDERGRAD,60%,WORK EX,30 months
5646,Abhishek Shah,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,317,TOEFL,111,UNDERGRAD,8.12 CGPA,WORK EX,6 months
5647,Annu,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,306,TOEFL,95,UNDERGRAD,7.1 CGPA,WORK EX,NaN
5648,Aravind,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,303,TOEFL,91,UNDERGRAD,7.67 CGPA,WORK EX,17 months
5649,Rishab Vaishya,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,306,IELTS,7,UNDERGRAD,54.34%,WORK EX,18 months
5650,VIEW ALL EVENTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5651,Q) What is Fast Track Event?,You can register online or by phone or by mail...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5652,Hiten Nirmal,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,304,TOEFL,85,UNDERGRAD,7.8 CGPA,WORK EX,NaN
5653,Saurabh,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,307,TOEFL,104,UNDERGRAD,59%,WORK EX,5 months
5654,amit,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,304,TOEFL,88,UNDERGRAD,67.16%,WORK EX,46 months
5655,anup dasari,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,310,TOEFL,97,UNDERGRAD,7.77 CGPA,WORK EX,24 months
5656,Aditi Singhai,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,306,TOEFL,91,UNDERGRAD,63.47%,WORK EX,25 months
5657,Sujoy Das,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,307,TOEFL,93,UNDERGRAD,65%,WORK EX,30 months
5658,Noman,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,306,TOEFL,100,UNDERGRAD,73.10%,WORK EX,18 months
5659,Snehal,Worcester Polytechnic Institute Computer Science,Fall 2017,Reject,GRE,318,TOEFL,106,UNDERGRAD,57.50%,WORK EX,18 months
5660,Ishaan Jain,Worcester Polytechnic Institute Computer Science,Spring 2017,Reject,GRE,327,TOEFL,117,UNDERGRAD,8.19 CGPA,WORK EX,6 months
5661,Jai,Worcester Polytechnic Institute Computer Science,Spring 2017,Reject,GRE,317,TOEFL,108,UNDERGRAD,58%,WORK EX,14 months
5662,Speed,Worcester Polytechnic Institute Computer Science,Fall 2016,Reject,GRE,316,TOEFL,113,UNDERGRAD,6.25 CGPA,WORK EX,3 months
5663,Tanmay Jain,Worcester Polytechnic Institute Computer Science,Fall 2019,Reject,GRE,328,TOEFL,115,UNDERGRAD,7.3 CGPA,WORK EX,12 months
5664,mithil,Worcester Polytechnic Institute Computer Science,Fall 2016,Reject,GRE,316,TOEFL,109,UNDERGRAD,62%,WORK EX,18 months
5665,Abhimanyu,Worcester Polytechnic Institute Computer Science,Fall 2016,Reject,GRE,312,TOEFL,89,UNDERGRAD,72%,WORK EX,NaN
5666,Mitesh Gandhi,Worcester Polytechnic Institute Computer Science,Fall 2016,Reject,GRE,304,TOEFL,83,UNDERGRAD,63.42%,WORK EX,19 months
5667,Suwas,Worcester Polytechnic Institute Computer Science,Fall 2015,Reject,GRE,315,TOEFL,90,UNDERGRAD,64%,WORK EX,NaN
5668,Aswani Kumar,Worcester Polytechnic Institute Computer Science,Fall 2016,Reject,GRE,294,TOEFL,86,UNDERGRAD,77%,WORK EX,30 months
5669,Rudresh Pandit,Worcester Polytechnic Institute Computer Science,Fall 2015,Reject,GRE,308,TOEFL,100,UNDERGRAD,62%,WORK EX,NaN
5670,Kelvin,Worcester Polytechnic Institute Computer Science,Fall 2016,Reject,GRE,309,TOEFL,100,UNDERGRAD,8.45 CGPA,WORK EX,33 months
5671,Prathamesh Jagtap,Worcester Polytechnic Institute Computer Science,Fall 2013,Reject,GRE,304,TOEFL,86,UNDERGRAD,58%,WORK EX,NaN

<b> Checking Data for Yocket <b>

- Checking total rows and unique values in each column:

In [1812]:
Yocket_data_all_college.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5672 entries, 0 to 5671
Data columns (total 12 columns):
student_name             5672 non-null object
university_name          5442 non-null object
year_applying            5209 non-null object
Status                   5209 non-null object
GRE                      5209 non-null object
GRE_SCORE                5209 non-null object
Eng_test                 5209 non-null object
Test_score               5209 non-null object
Undergraduation          5209 non-null object
Undergraduation_score    5209 non-null object
is_work_ex               5209 non-null object
work_ex                  4177 non-null object
dtypes: object(12)
memory usage: 576.1+ KB

<b> Handling Duplicate and noisy data </b>

In [1813]:
Yocket_data_all_college.drop_duplicates(inplace=True)

In [1814]:
Yocket_data_all_college.isna().sum()

student_name                0
university_name             1
year_applying               3
Status                      3
GRE                         3
GRE_SCORE                   3
Eng_test                    3
Test_score                  3
Undergraduation             3
Undergraduation_score       3
is_work_ex                  3
work_ex                  1016
dtype: int64

In [1815]:
Yocket_data_all_college['Status'].value_counts()

Admit     2643
Reject    2439
GRE          3
Name: Status, dtype: int64

In [1816]:
Yocket_data_all_college.reset_index(drop=True,inplace=True)

In [1817]:
Yocket_data_all_college = Yocket_data_all_college[Yocket_data_all_college['student_name']!='VIEW ALL EVENTS']

In [1818]:
Yocket_data_all_college = Yocket_data_all_college[Yocket_data_all_college['student_name']!='Q) What is Fast Track Event?']

In [1819]:
Yocket_data_all_college.isna().sum()

student_name                0
university_name             0
year_applying               0
Status                      0
GRE                         0
GRE_SCORE                   0
Eng_test                    0
Test_score                  0
Undergraduation             0
Undergraduation_score       0
is_work_ex                  0
work_ex                  1013
dtype: int64

<b>  COLUMN = WORK EX and is_work_ex</b> <br>
- Filling missing values with '0 months'
- Drop 'is_work_ex' column
- Removing months from workex

In [1820]:
Yocket_data_all_college.drop(columns = ['is_work_ex'],inplace = True)

In [1821]:
Yocket_data_all_college['work_ex'].unique()

array(['4 months', '24 months', '6 months', '13 months', '8 months',
       '48 months', '1 month', '5 months', '30 months', '20 months', nan,
       '9 months', '12 months', '33 months', '25 months', '2 months',
       '10 months', '41 months', '60 months', '28 months', '36 months',
       '15 months', '11 months', '32 months', '26 months', '19 months',
       '21 months', '-1 months', '31 months', '50 months', '14 months',
       '7 months', '3 months', '39 months', '16 months', '17 months',
       '43 months', '22 months', ' 27 months', '40 months', '23 months',
       '29 months', '18 months', '46 months', '68 months', '47 months',
       '35 months', '27 months', '37 months', '34 months', '57 months',
       '38 months', '44 months', '77 months', '42 months', '53 months',
       ' 34 months', '45 months', '82 months', '54 months', ' 10 months',
       '79 months', '51 months', '64 months', '52 months', ' 3 months',
       '90 months', '55 months', ' 6 months', '153 months', '74 months',
       '72 months', '58 months', ' 14 months', '75 months', '92 months',
       '110 months', '63 months', ' 26 months', '132 months', '65 months',
       ' 9 months', '49 months', '85 months', '94 months', ' NA',
       ' 5 months', '86 months', '56 months', '84 months', '61 months',
       ' 32 months', '112 months', ' 30 months'], dtype=object)

In [1822]:
Yocket_data_all_college=Yocket_data_all_college.fillna('0 months')

In [1823]:
Yocket_data_all_college['work_ex'].isna().sum()

0

In [1824]:
#Yocket_data_all_college["work_ex"] = Yocket_data_all_college["work_ex"].astype(str)
Yocket_data_all_college["work_ex"] = [x.replace('-1','0 months') for x in Yocket_data_all_college["work_ex"]]
Yocket_data_all_college["work_ex"] = [x.replace(' months','') for x in Yocket_data_all_college["work_ex"]]
Yocket_data_all_college["work_ex"] = [x.replace(' ','') for x in Yocket_data_all_college["work_ex"]]
Yocket_data_all_college["work_ex"] = [x.replace('month','') for x in Yocket_data_all_college["work_ex"]]
Yocket_data_all_college["work_ex"] = [x.replace('NA','') for x in Yocket_data_all_college["work_ex"]]

In [1825]:
Yocket_data_all_college[Yocket_data_all_college["work_ex"]=='']='0'

In [1826]:
Yocket_data_all_college["work_ex"].unique()

array(['4', '24', '6', '13', '8', '48', '1', '5', '30', '20', '0', '9',
       '12', '33', '25', '2', '10', '41', '60', '28', '36', '15', '11',
       '32', '26', '19', '21', '31', '50', '14', '7', '3', '39', '16',
       '17', '43', '22', '27', '40', '23', '29', '18', '46', '68', '47',
       '35', '37', '34', '57', '38', '44', '77', '42', '53', '45', '82',
       '54', '79', '51', '64', '52', '90', '55', '153', '74', '72', '58',
       '75', '92', '110', '63', '132', '65', '49', '85', '94', '86', '56',
       '84', '61', '112'], dtype=object)

<b> COLUMN = Undergraduation_score and Undergraduation</b>
- Removing % sign
- Removing 'cgpa' character
- Converting Cgpa on scale of 4
- Drop Undergraduation

In [1827]:
a = Yocket_data_all_college[Yocket_data_all_college["Undergraduation_score"] == 'WORK EX']['Undergraduation'].tolist()

In [1828]:
a

['7.86 CGPA ', '7.86 CGPA ', '7.86 CGPA ']

In [1829]:
Yocket_data_all_college.loc[Yocket_data_all_college["Undergraduation_score"] == 'WORK EX','Undergraduation_score'] = a

In [1830]:
Yocket_data_all_college[Yocket_data_all_college["Undergraduation"] == '7.86 CGPA ']

,student_name,university_name,year_applying,Status,GRE,GRE_SCORE,Eng_test,Test_score,Undergraduation,Undergraduation_score,work_ex
1667,University of Florida Computer Science,Fall 2019,Admit,GRE,312,TOEFL,102,UNDERGRAD,7.86 CGPA,7.86 CGPA,0
3816,Rutgers University-New Brunswick Computer Science,Fall 2019,Reject,GRE,312,TOEFL,102,UNDERGRAD,7.86 CGPA,7.86 CGPA,0
5037,"University of Maryland, College Park Computer ...",Fall 2019,Reject,GRE,312,TOEFL,102,UNDERGRAD,7.86 CGPA,7.86 CGPA,0

In [1831]:
#Yocket_data_all_college["Undergraduation_score"] = Yocket_data_all_college["Undergraduation_score"].str.replace('WORKEX',' ')

In [1832]:
#Yocket_data_all_college["Undergraduation_score"] = Yocket_data_all_college["Undergraduation_score"].astype(str)
Yocket_data_all_college["Undergraduation_score"] = [x.replace(' CGPA','') for x in Yocket_data_all_college["Undergraduation_score"]]
Yocket_data_all_college["Undergraduation_score"] = [x.replace('%','') for x in Yocket_data_all_college["Undergraduation_score"]]
Yocket_data_all_college["Undergraduation_score"] = [x.replace(' ','') for x in Yocket_data_all_college["Undergraduation_score"]]

#Yocket_data_all_college.Undergraduation_score = Yocket_data_all_college.Undergraduation_score.astype(float)
#Yocket_data_all_college["Undergraduation_score"].value_counts()
#Yocket_data_all_college["Undergraduation_score"].unique()

In [1833]:
Undergraduation_score_list = Yocket_data_all_college["Undergraduation_score"].tolist()

In [1834]:
for i in Undergraduation_score_list:
    print(i)

8.8
8.16
82.30
8.21
7.2
7
8.38
8.86
9.2
7.18
8.9
7.06
0
8.87
68.60
75
8.65
7.5
82
8.24
75
7.8
8.58
8.68
7.98
77
8.79
70
8
9.1
7.83
9.15
9.12
9.4
7.19
8.5
8.2
8.7
8.62
8.332
8.26
91
7.68
7.5
86.25
8.15
8.5
80
9.5
8.89
8.32
8.75
8.03
7.84
8.65
7.34
9.19
7.1
9.5
8.02
7.3
9.2
8.8
6.48
9.55
7.66
7.4
79
8.1
81
7.7
9.55
8.6
8.22
76.10
7.98
8.34
7.6
8.45
8.15
82.82
8.76
73
8.64
72.20
8.17
77.80
7.5
8.702
9.16
88.70
8.6
8.65
8.65
8.59
7.18
7.4
7.84
7.45
7.4
8.32
8.55
8.67
8.09
8.97
8.91
68
8.56
8.75
9.06
8.52
9.08
7.49
8.4
74
64.50
8.98
9
80
8.58
67
79
7.7
8.65
8.23
75
83.70
7.3
7.2
6.97
7.5
7.348
70.60
8.23
7.22
8.47
8.14
7.76
7.74
7.5
8.22
66.67
7.54
7.89
7.94
71.60
7.982
7.4
8.94
73
69.20
8.23
8.33
70
9.66
79.34
71
65
7.7
63.60
8.8
8.03
78
69
7.68
77.40
7.18
74.50
9.2
70
66
79.67
9.76
7.03
9.435
75
76.30
7.76
7
89.92
67.96
69.45
65.20
68
8.69
8.49
8.74
71.90
9.08
69.14
8.73
8.51
65
72
76.16
64.88
7.7
8.48
8.07
74.33
73.60
9.04
66.79
68
8.2
72
8.23
71
8.52
67.41
9.06
79.47
9.06
9.11
8.81
7.8
70.35
86.90
68
9.8
7.64
82.09
64.98
76.40
8.39
8.628
9.29
62.50
7.84
8.3
8.46
7.72
8.5
83
89
68
6.9
7.8
7.9
8.36
72
8.43
6.7
68.50
8.43
71.90
8.06
9.06
9.585
8.2
8.5
7.7
8.63
79
77.40
80.50
8.21
7.3
7.348
5.19
70.29
75
7.49
71.64
82.09
8.36
63.23
8.13
75
71
8.06
7.36
6.74
8.31
3.55
63.42
80
58
72
71.34
7.55
7.82
69.80
7.04
66
6.389
8.77
62.66
80
7.7
7.41
60.04
3.7
9
6.36
7.9
74
76
76
8.9
64
67
81
9
7.14
84.20
61.23
8.67
78
8.4
8.56
8.88
7.85
7.84
8.2
8.32
84.92
70
80.39
7.8
6.87
76
8.5
86.60
7.34
81
7
7
8.41
70
64.34
8.87
67
70
64.42
8.08
64
7.14
88
8.88
75
74
72.50
70.50
7.95
60.20
65
8.4
68
7.9
7.61
7.704
61.86
8.1
7.57
7.8
7.7
7.5
7.5
7.57
7.8
7.71
8.3
9
8.56
8.5
6.7
7.84
7.1
56.49
7.6
65.10
6.78
8.37
7.86
8.1
7.65
7.4
8.07
8.835
73
71.14
7.84
6.7
69.04
8.71
82
67.50
7.96
65
9.14
77.50
6.37
7.34
6.59
8.23
7.2
7.7
79
9.04
8.14
7.53
6.99
66
73.68
66.13
8.52
7.98
8.18
8.62
7
71
8.17
7.35
79
8.23
6.84
65
7.24
68
7.6
76.10
8.44
56
7.63
64.56
7.29
80
72.20
9.8
72.60
8.02
74.18
8.15
8.88
8.3
7.77
7.55
7.8
8.93
8.24
88
7.57
8.73
61.41
7.88
83.40
77.17
9.03
65.20
7.8
9.69
7.4
7
8.16
7.4
8.7
8.07
8.5
7.11
7.41
7.45
86.77
8.95
8.85
9.68
9.12
9.45
9.7
9.72
9.8
8.8
9.12
8.9
92.11
9.04
9.56
9.12
9.06
9.24
8.6
9
9.36
84.08
9.72
9.05
8.04
91
9.12
8.23
8.56
9.1
8.96
9.25
9.41
9.2
9.1
9.39
9.1
9.19
81
8.9
9.14
9.1
9.21
9.4
9.1
9.1
8.95
9.4
9.66
9.19
9.83
9.5
9.2
9.13
9.54
9.66
9.1
9
9.35
9.72
9.37
9.55
9.22
9.78
9.75
80
83
9.152
9.38
9.39
9.37
9.127
9.28
9.19
9.61
9
9.1
8.9
9.46
79
9.69
83
8.9
9.5
9.3
9.34
91.10
8.8
9.33
9.79
8.775
8.84
9.06
8.98
8.99
8.81
9.36
9.5
9.8
8.84
8.78
9.36
9.2
9.13
68.60
9.01
9.2
9.11
9.17
9.2
80
9.04
9.03
9
9.39
9.02
9.06
9.42
9.04
9.1
72.50
71
8.76
84.40
9.09
68
7.5
8.9
70
7.35
73.30
7.84
7.85
8.65
74.10
7.7
75.94
8.14
8.8
8.45
75
8.57
65.49
7.34
9.18
7
8.07
71.37
8.1
7.54
69.10
60
7.51
69.73
68.99
75.34
9.5
8.48
9.18
73.08
64
8.28
68
8
8.34
85
8.04
67.30
8.72
8.57
8.6
72
8.9
7.19
8.63
7
84.19
82
7.48
63.60
8.4
8
65
75
7.12
74
8.7
9.63
75
8.8
79
8.06
9.4
7.67
73.86
8.55
8.41
7.88
8.75
7.3
86
69.20
8.51
71
7.3
84
7.68
7.2
8.94
75
8.34
9.34
9.52
7.7
73
80
8.47
77.24
8.61
8.45
7.55
7.7
71.53
8.33
62
0
67
7.3
72
9.435
6.7
64
8.6
7.36
8.5
7.3
61
7.9
7.18
8.03
8.19
10
7.74
65
8.18
7.42
70.23
8.13
77
7.57
71.36
9.02
8.06
78.79
8.25
73.80
7
7.28
69
6.5
8.43
7.12
8.89
69.10
58.12
61.06
7.32
80
7.47
71.14
7.21
8
8.17
7.83
6.7
6.31
73.60
7.6
73.30
7.08
66.67
7.74
6.37
69.14
7.52
72.06
6.87
6.37
6.72
78.90
7.7
74
68.31
8.2
74.25
76.30
8.16
79.70
7.38
75
71.50
7.83
8.94
9.08
8.5
6.1
72.81
8.6
62.45
78
63
7.2
7.02
8.36
8.07
80
6.75
72
8.41
75
7
69
7.5
7.08
7.84
7.34
8.05
71.90
8.99
7.6
93
7.36
6.95
72.67
7
7.75
81
6.89
79.47
72
9
63
77
7.65
8.04
7.8
9.06
7.03
6.74
6.8
7.52
72.90
8.23
64
68.60
77
9.29
76
62.94
82.70
7.19
71.16
86
74
80
8.65
7.83
8
8.85
8.76
8.2
8.7
9.68
8.7
85
9.37
8.23
7.8
3.13
8.43
8.36
80
8.2
7.7
8.89
8.9
8.41
8.87
8.83
7.7
78.34
8.07
77.13
8.6
9.56
79.38
8.65
8.84
9.08
0
7.5
8.57
71.98
8
8.16
7.62
7.47
9.12
77
8.65
8.39
8.83
8.8
8.18
8.5
75.20
8.4
8.12
87.20
87
8.91
9.14
9
8.59
8.68
70
8.93
8.51
8.706
9.1
84.19
75
6.8
8.4
9.03
9.14
9.27
8.82
8.73
90
8.89
8.08
8.43
8.81
8.55
9.4
8.46
9.41
77
80
8.49
8.94
80.30
7.96
9.65
8.42
8.21
8.9
8.5
8.5
7.65
9.6
9.1
8.15
8.9
9.04
8.71
8.62
7.55
8.1
9.08
9.2
9.144
9.25
9.1
9
82
84.55
6.59
7.5
7.83
75.34
74.10
8.4
72
8.07
73
7.5
8.14
8.72
76
68
8.65
68
66.67
6.99
7.704
69
7.09
7.36
7.84
7.89
7.5
7.5
71.90
8.64
8.17
64
9.05
72
7.53
9.15
8.6
8.09
73
9
66.36
7.68
7.7
75
8
7.4
73
7.2
7.8
7.75
7.3
8.5
7.75
8.06
70
8.7
7.88
8.12
8.75
72.32
8.46
8.789
9
7.79
55
8.05
7.81
64.68
8.09
70
8.68
8.1
70
8.57
61.90
7.55
8.8
66.66
8.21
67
73
7.58
66.50
74.50
7.96
75
7.86
72.29
8.31
76
9
7.9
8.8
73
7.45
7.34
72
8.7
8.2
7.9
8.07
73
73
8.1
63
7
8.05
8.45
69.80
3.21
7.95
7.44
6.58
7.75
81
7.47
7.86
8.33
72.19
67.76
67
78.10
9.38
67.10
8.4
7.71
8.97
89.92
7.18
7.88
73.68
67.96
75.30
7.73
73
7.91
74
7.4
66.79
9.122
7.9
8.5
7.6
6.78
8.22
86.90
8.82
82
6.5
69.56
8.36
71.64
7.72
8.13
76.28
7.9
9.42
8.89
7.23
7.38
6.99
68
6.61
81.11
7.87
7.36
7.51
66
7.07
72.04
75
72.19
7.6
6.93
7.7
7.72
9.39
72
70
8
7.8
73.76
72
8.2
8.15
70
8.12
80.44
8.13
7.37
85
8.5
76.40
68
8.24
8.2
70
7.7
8.08
9.42
6.85
75
9.6
7.08
9.04
8.75
8.81
70.30
9.29
9
77.57
8.16
76.46
8.25
9.02
8.98
7.81
9.12
8.35
84.86
79.67
88.70
9.7
89.52
8.38
9.04
7.8
71
7.8
8.58
83.50
8.27
8.95
8.11
68
80.60
8.9
9.12
8.2
80
9.4
8.96
68.80
75
7.8
75.37
8.37
8.54
8.58
71.73
9.48
7.01
7.42
72
88.06
7.81
8.98
73.51
9
9.99
8.9
8.325
8.24
9.6
9.272
8.6
8.2
8.87
76.10
9.11
6.96
9.07
9.04
78
8.96
8
8.2
7.49
8.91
8.89
8.2
8.84
8.6
9.01
8.3
9
88.90
73
9
73.70
82.75
8
8.32
69
8.1
70
63.13
71
8.15
77
8.2
65
8.12
7
8.53
66
8.2
8.74
68.99
64.30
8.1
8.16
63
75
8.04
81.90
81.78
73.62
82
8.2
7.55
57.67
8.5
72
73
7.55
8.89
8.6
8.9
6.7
6.7
80
87.05
71
7.3
7.8
6.59
9.01
67
8.5
8.19
69.90
74
7.32
7.88
7
7.44
7.7
7.48
8.1
7.8
7.47
7.71
8.03
8.702
8.1
8.7
8.4
8.21
7.5
7.66
9.04
7.6
7.65
72.50
7.26
8.89
8.25
7.72
8.91
8.5
6.86
7.7
8.14
66.68
7.91
8.44
7.81
8.81
8.1
73
69
61
9.5
8.49
8.5
8.4
80.25
8.75
8.72
7.99
8
72.41
7.64
8.44
8.74
7.46
8.2
8.67
7.83
7.7
9
7.97
6.91
84
80
8
7.78
76.10
7.27
7.62
62.04
63.38
66
70
6.36
8.39
74.50
7.01
75.50
64
64.30
91.14
8.6
7.52
8.3
9.06
7.39
80.48
83
67.80
7.62
8.32
7.2
7.3
75
63
8.6
7.15
9.07
7.22
9.01
8.62
7.5
8.23
75.94
7.65
9
8.98
7.56
8.8
8.5
8.6
8.48
88.50
8.1
9.03
85
8.789
7.56
70
8.39
8.3
80
9.16
8.6
8.1
9.28
7.03
8.11
8.42
9.03
6.01
7.973
8.57
9.07
8.14
8.57
8.43
76
8.1
7.956
7.91
9.06
8.25
8.6
80
8.73
7.99
8.18
8.57
9.24
9.07
8.62
8.03
8.75
9.32
8.94
8.1
7.18
62
8.76
7.57
67.06
8
6.98
6.87
7.81
7.82
8.49
7.9
8.12
8.55
81
67.55
8
7.66
6.88
79.50
73.47
8.8
9.2
8.15
7.93
74.88
7.82
7.61
8.86
66.70
59
63
8.4
78.20
7
8.55
7.8
8.72
7.09
7.02
71
7.8
9.3
9.19
7.2
7.73
8
8.8
7.6
72
7.31
8.16
8.68
7.9
8.69
7.25
9.05
7.93
81
6.34
7.89
73
61.86
67
81
8.35
8.07
7.1
77
64.83
88.70
66.36
70
7.94
8.4
7.8
60
6.97
9.3
80
9.35
70.70
9.5
6.8
8.9
8.31
66
75.73
73
68
68.56
75.24
75
71
77
80
8.59
7.8
6.83
7.7
72
73
71
67
8.03
85.60
77.02
8.02
7.32
8.38
8.55
60.45
7.7
8.11
7.85
7.2
7.84
7.77
7.5
77
60
7.79
70
40
58.12
8.03
8.84
60
77.20
68
82.10
60
88
67
8.15
65.40
9
70
69
81.40
66.90
69
7.87
71
6.88
8.4
86
79
63
62
8.35
67
8.8
73
72
7.16
8.59
84.50
81
83.48
7.75
66.52
9.31
58
68
7.87
8.7
70.28
64.50
80
62
7.72
68
64
8.2
82
71
9.01
7.28
6.33
8
8.38
7.8
80
8.5
80
8.83
76.47
9.09
70
67
9.08
9.39
8.5
9.1
79
9.69
8
89
7.75
80.30
6.65
8.25
84.55
8.44
9.14
8.86
82
7.84
8.77
7.81
9
79
8.41
79.90
81.60
9.16
8.7
7.36
9.3
8.34
9.24
8.15
80
8.55
7.58
8.63
76.80
7.86
85
88
7.6
8.82
7.86
8.53
8.5
9.04
7.54
7.07
8.21
9.39
9.15
7.58
7.82
6.5
3.03
71
8.43
9.24
77
8.1
9.03
7.94
8.88
7.91
8.77
8.15
8.5
8.65
79.83
8
9.66
9.69
9.6
9.37
9.98
9.41
8.54
75.34
8.57
8.25
8.89
7.89
6.8
8.14
7.86
70.90
6.52
72.60
75
8.84
70
8.44
81
80
8.41
67
8.95
7.78
9.3
72.70
63.94
6.96
62.45
7.56
75
63
8.19
71
75.50
62
7.2
8.17
62.30
66.25
75
8.67
8.4
8.72
62
72
72
9.81
8.57
66
65
8.08
8.4
67.89
8.23
8.34
7.27
7.75
7.5
78
75
7.73
7.35
75
7
7.03
65.83
8.8
68.07
82.13
8.07
6.6
78.60
75.20
8.5
64.40
69.80
8.02
7.82
79
7.54
8.88
8.4
70
9.11
63.35
63.13
77
6.5
88
8.1
70.20
76.22
70
7.46
8.24
84
7.8
9
78.60
82.70
56
8.74
7.4
72
55
60
84
71
8.1
7.83
60.03
77
8.69
60
59.50
65.60
9.2
56.28
68
76
65.58
69.50
8.2
9.13
9.5
8.4
83.30
9.57
8.43
9.39
8.8
9.81
9.22
8.5
7.5
9.2
9.02
8.75
8.43
9.13
8.202
8.48
8.44
8.83
9.66
7.63
7.3
77.50
80
71.37
62.40
7.55
7.3
78
77
72.90
60
68
65
9.54
77.65
86.28
76
64
77.62
8.424
7.02
71
6.89
77.20
86.18
6.98
70
7.63
69.74
8.3
8.68
9.12
72
87
70
7
7.45
76
7.45
7.5
9.57
7.12
70
77.11
74.92
9.86
55
70.50
8.88
82.30
8.17
82
9.41
9.5
82.79
77
9.22
8.5
9.2
81
8.34
9.32
8.3
8.31
81
87.30
8.79
8.64
8.5
81.90
73
10
8.45
8.44
72
9.69
8.7
9.41
8.77
7.93
9.1
9.32
8.49
71.50
8.17
79
8
8.62
9.36
87.50
9.5
84
8
9.42
9.26
8.3
8.85
9.25
8.05
8.96
9.5
6.98
8.74
8.71
9.36
8.76
9
9.2
9
8.3
8.5
85
8.87
8.91
7.81
7.9
85.34
8.32
81.68
8.8
9.19
8.25
8.4
8.702
83
9.6
9.3
8.15
75.33
9.21
8.2
9.146
73.38
8.67
9.4
8.5
9.2
8.47
81.65
83.50
9.2
9.01
8.15
9.37
9.05
8.8
7.21
70.30
8.48
75.20
8.6
8.9
8.24
8.84
8.8
9.05
9.17
8.24
9.45
8.2
9.25
8.38
8.07
8.13
8.02
9.09
74.50
8.34
9.03
8.13
8.3
8.08
8.1
8.67
8.1
9.42
8.16
8.64
9.37
7.46
61
7.9
8.86
7.83
8.6
8.44
8.7
7.4
8.37
8.97
8.55
9.11
9.14
8.2
72.90
9.26
7.51
77
9.7
75.33
8.4
9.2
81
7.45
7.7
9.51
7.13
8.7
9.32
8.07
8.48
9.1
7.44
65.56
7
68.60
88.65
8.57
8.6
8.13
8.31
81
7.7
9.4
8.99
9.7
8
9.25
7.9
7.7
8.84
75.20
9
7.98
8.63
7.6
9.03
8.64
8.96
70
7.59
8.71
7.73
8.2
75
8.76
8.1
8.76
8.5
8.74
8.27
70
77.20
81.68
82.82
8.4
8.81
9.53
8.39
8.83
8.4
76.46
8.1
88
8.7
8.69
7.57
8.45
8.48
9.1
87.50
8.45
8.38
9.12
7.01
92.11
7.43
9.38
8.59
8.8
9.15
75
9.21
6.8
78.50
8.7
9.11
75
8.9
6.8
9.78
8.37
9.81
8.7
8.63
8.17
9.59
8.54
8.62
9.74
7.93
8.27
9.66
8.34
8.92
9.08
8.44
7.38
8.74
8.5
9.24
8.32
9.5
8.75
8.85
8.6
8.44
8.47
8.21
8.61
9.01
9.12
9.2
8.78
8.6
8.64
8.9
8.61
9
9.69
8.2
8.47
9.17
8.76
9.37
8.36
8.4
8.12
8.82
75.12
6.91
8.65
8.89
8
8.9
8.11
8.3
8.47
7.56
9.11
8.2
79.41
8.14
7.78
7.5
9.2
9.13
8.56
8.2
6.5
7.956
8.7
8.92
9
9.24
85.50
8.06
8.6
8.85
8.5
8.09
8.25
9.14
8.31
8.54
83.43
96
9.7
9.02
60
83
9.45
8.67
9.05
9.48
8.55
7.92
7.8
8.67
9.62
9.05
8.3
8.33
9.3
8.15
8.52
9.32
8
8.71
8
9.6
8.3
9.5
8.5
9
84.16
8.7
7.58
8.2
9.14
9.48
8.89
68.60
8
9.09
8.28
8.9
7.93
8.5
8.37
8.82
7.61
9.4
9.36
9.45
9.04
7.54
8.64
9.03
8.61
8.1
7.13
8.5
8.2
9.42
8.38
9.26
7.4
8.42
8.41
76.70
8.5
9.23
8.25
8.17
9.11
8.36
86.14
7.9
9
8
8.72
8.37
8.3
9.01
8.85
8.2
9
9.07
8.88
7.68
8.59
8.22
9.69
8.52
8.17
80.05
9.28
8.3
7.25
75.60
7.6
8.41
8.9
9
7.65
7.09
7.84
8
8.68
9.1
9.273
9.4
8.9
9.48
8.1
9.28
8.35
8.67
8.46
8.57
8.68
8.88
8.89
8.2
8.83
76
8.95
8.68
8.01
8.25
8.75
8.91
80
8.1
8.8
8.23
8.74
8.19
70
77.60
8.8
8.89
9
8.6
88.60
8.5
87
8.41
8.67
71.30
7.1
8.58
8.67
8.99
7.3
7.53
8.7
8.06
9.03
8.65
3.5
8.7
9.1
8.8
8.2
8.67
8.45
9.4
8.71
7.75
80
9.86
9.35
76
9.4
9.19
8.86
9.31
8.76
8.11
9.49
8
8.01
55
82
7.73
6.22
9.45
79.16
8.4
78.79
72.25
8.44
6.65
70
76
78
8.12
7.5
7.91
68.60
8.45
63
7.9
76
7.41
82.70
7.5
8.7
9.12
7.9
8.18
8.67
55
65
6.3
8.66
8.07
8.4
9.07
7.94
66.47
6.31
7.7
7.13
76.23
72
76.90
6.95
82.50
8.4

7.1
7.9
7.11
8.07
7.88
61
82
8.95
8.18
8.75
8.75
9.18
9.3
6.31
8.6
6.37
6.7
8.57
8
8.6
9
84
8.85
9
8.23
7.21
75
8.51
68.99
8.66
8.07
76
9.34
7.34
7.99
82.19
82.35
7.42
7.16
69
8.42
8.67
8.81
68.90
78.97
77.17
9.3
83.40
80
7.2
7.574
8.31
66.68
8.33
68.60
85.70
3.13
8.88
86
78
8.23
7.4
7.4
74
79.37
8.48
7.65
7.12
9.2
8.45
8.872
78
7.2
86.28
8.11
9.17
72.20
7.67
8.15
74.42
73.80
70
74.50
71
69.70
76
8.35
70
7
8.59
8.4
7.08
70.78
6.9
80.60
65
6.84
7.5
64
7.84
63.38
7.77
64.50
6.46
7.75
60.70
7
74.50
72.27
6.9
6.98
7.01
81.39
75
5.5
77
8.25
79
72
8.2
74
7.25
7.14
70.50
7.2
9.01
7.7
82.30
9.8
8.08
3.5
9.75
9.22
83.28
9.66
9.38
9.14
8.91
9.37
9
9
9.69
70
9.56
9.3
65.87
9
79
9.3
8.92
69.22
9.68
7.6
8.3
9
7.82
84
9.16
8.26
8.08
8.7
7.36
7.42
7.7
8.4
7.22
9.02
75
7.81
8.702
9
6.65
8.5
8.19
8.17
9.14
8.78
7.12
9.47
7.7
71
74.34
9.44
7.7
87
70
8.09
7.5
9
3.79
69.30
67.35
85.60
61
56
62
67.86
67.50
8.88
60
61.50
8
9.12
70
81
8.72
8.82
75.30
7.63
8
8.19
76.70
7.03
7.89
6.51
8.41
8.8
8.37
7.9
6.6
7.35
8.87
5.2
8.2
53
67.96
7.91
71.14
7.48
8.79
8.34
72
72
6.97
6.48
7.3
8.19
8
7.574
70.23
75
8.52
6.57
84.15
9.21
73.33
64
69
9
7.8
76
6.1
77
6.95
8.6
8.24
8.5792
79.47
6.7
7.7
8.789
8.5
81
60
68
6.6
7.8
8.3
7.49
69.50
62
55
8.628
6.4
69.30
83
8.15
7.23
7.42
89
77
70
7.65
7.25
7.95
75.60
7.65
58
3.57
8.02
75
60
7.463
69.36
8.93
70
8.17
80
67
76.28
61
8.37
68
62
8.43
70.40
8.21
6.35
73
8.65
7.3
66
8.08
74.30
8.3
97.15
8.39
7.86
8.07
7.24
7.84
65
9.2
72
9.24
8.4
72
70
8.07
7.7
6.38
7.59
61
7.59
6.95
8.8
7.7
7.9
69.33
6.9
7.8
7.47
7.11
6.37
6.88
53
54
6.75
64
75.60
6.52
6.05
7.3
59
61.33
7
6.4
61.94
7.23
8.23
7.17
7.26
7.31
6.389
65
7.23
63.33
7.82
8.56
7.25
7.42
7.41
83.32
55.17
55
6.43
7.53
7
6.18
8.34
60.08
70.75
7.59
62
6.14
62.15
69
62
6.9
8.2
68.50
7.6
6.93
7.12
58
8.5
57
7.02
8.18
69
7.2
7.1
7
6.8
6.76
58
6.19
6.32
7.88
53
65
69
6.7
68
3.31
6.06
85.84
56.49
7.16
3.19
56
8.62
8.3
54.40
61.53
74
8.3
7.26
8.5
6.2
7.3
6.9
79.90
59
6.25
8.4
58
7.65
9.15
65.50
63
79.31
65
77
8
8.3
8.3
85
6
59.12
54
61
83
65.10
75
62
8.37
7.58
7.91
6.3
6.43
7.7983
6.93
54.30
6.29
6.2
7.7
69
8.06
6.57
72.80
6.72
6.76
9.06
7.6
8.8
7.53
59.89
6
6.93
7.54
7.58
8
64
7
66.50
75.15
8.39
6.389
7.025
8
7.8
65
6.41
58
7.75
6.64
6.65
7
55.17
7.1
7.02
63.35
63.13
7
6.34
64
6.61
6.9
65
60
69.30
8.12
5.56
5.9
57.76
62.30
7.54
7.45
7.6
7.73
8.136
89.70
60
61
56
8.23
7.64
58
86.25
54
7
54.60
8.16
8.43
7.12
7.61
56.46
6.1
62
63
6.78
7.56
65
62
6
5.76
64
66.52
7.34
6.5
8.14
7.88
3.21
73
8.15
69
7.08
7.8
7.37
66
7.4
8.67
8.58
8.75
0
8.77
7.79
6.4
8.51
8.56
8.62
7.96
8.69
8.2
8.7
8.8
8.38
8.2
8.37
73
8.09
8.26
8.65
8.72
7.84
8.16
7.91
8.43
8.2
7.07
8.54
8.15
8.5
82.50
7.94
8.6
8.7
62
8.48
8.11
73.48
8.41
8
8.7
8.27
8.23
8.25
8.81
8.34
7.51
8.7
8.69
8.65
8.6
6.8
8.24
8.65
8.42
6.48
7.35
73.68
6.75
64
8.1
8
5.68
7.21
7.48
7.98
7.7
5
7.41
7.58
84
7.42
76
7.4
7.44
7.64
7.75
8.29
76.46
7.1
6.31
7.5
8.5
6.95
7.94
8.28
7.97
7.83
7.95
7.28
8.6
6.33
75
7.7
6.81
6.22
61
8.24
67.32
79.16
6.9
78.79
7.92
7.96
8.41
62
8.8
61
7
8.06
77
8.45
81
7.57
9.1
6.3
70.23
8.8
8.13
7.74
67.67
70.90
75
8.07
73.60
7.3
61
7.08
58
7.49
69
68.70
7.89
8.19
69
7.54
59
8.23
68.34
79
9.03
76
71.50
7.98
73
7.37
8.2
8.8
66.68
8
7.5
8.99
8.44
6.17
75
7.2
8
57.67
6.67
77
89.92
7.54
6.4
7.13
78
75.25
6.97
6.7
65
7.449
5.77
7.9
72.60
9.01
66.40
6.83
70
6.95
7.09
7.88
7.44
7.61
7.16
70
7.73
9.43
8.75
65
7.53
73.97
7.71
64.70
7.74
62
75
6.83
60
75
70.60
7.54
7.3
6.4
53
7.3
8.49
52
7.53
7.91
57
7.22
60
65
62.50
65
64.97
7.84
7.32
69.50
7.26
6.56
60
75
67
63.06
7.47
61
7.23
71
7.37
69.69
65
62
63.33
58
58
65
6.7
58.60
6.06
67.50
74
5.8
7.56
70
57
70
66.95
6.8
77
7.76
7.26
6.72
6.92
66
7.41
7.3
8
8.33
7.05
7.45
76
70.40
71
58
60.50
7.53
75
57.76
66.80
7.12
57.98
7.7
6.45
7.3
8.4
65.22
7.11
7.66
70
69
8.66
6.14
58
60
71
58.80
6.8
8.8
6.95
72
73.60
70.50
7.83
7.28
7.27
7.54
6.61
73
72
8.18
69.14
7.89
77
6.22
7.32
70
6.74
7.5
8
7.37
58
7.55
7.92
7.71
8.9
74.30
8.8
75
7.97
64.74
75
8.57
7.95
82.41
65.56
74.10
77
7.64
8.05
8.13
6.9
7.92
7.6
7.1
75
6.59
6.59
8.06
8.43
7.57
75
76
7.5
7.73
67
8.45
7.31
7.37
7.62
70.23
6.83
8.24
68
8.2
8.87
7.62
7.6
8.19
6.43
69.90
8.36
8.4
58
73
8.07
7.31
69.20
0
65
72.60
8
71
7.6
80
6.9
7.08
67.50
65
71.70
72.06
7.2
7.54
7.54
7.42
8.6
68.31
8.55
6.95
61
7.25
7.22
7.58
62.45
72.28
71.50
5
8.1
77
73.78
7.98
7.43
7.7
7.8
7.92
73
66.54
7.54
7.41
79
73.60
65
7.1
6.74
7.06
6.78
6.7
59
70
61
7.41
6.17
76.10
8.08
7.45
6.95
6.9
7.55
6.37
6.8
7.29
6.57
6.75
7.28
7.52
61
7.66
66.70
8.47
59
55
63.38
71.20
69.50
59
7.9
7.98
6.32
8.55
62
60
62
64
8.16
6.06
7.1
7.2
7.9
74
8.8
6.33
56.49
8.3
7.7
68.43
8.23
7
7.36
65
8.05
65.58
7.9
6.93
7.8
67
69
7.09
64
6.5
7.2
8.55
7
7.4
7.28
84
65.60
7.07
6.18
8.05
6.8
71.06
7.02
56
7.63
74
6.4
6.825
7.73
7.3
71
63.79
7.59
63.13
7.88
7.42
6.5
7.12
67
79.69
7.76
60.70
63
62.40
5.63
7.26
7.45
67
62
64.10
70.47
6.79
75.40
5.01
7.14
8.14
62
66
8.3
6.56
7.4
74.20
84
59.89
6.79
75
8.24
7.4
7.34
8
6.2
67.60
2.65
81
7.28
3.8
6.61
6.51
8.03
7.92
7.69
66.80
58
67
78
60
6.03
62
3.5
8.01
7.02
9.08
84.20
7.4
8.49
7.9
60
79.84
57.50
6.99
7.8
73.60
64
7.83
9.5
7.1
7.37
8.4
9.16
8.64
8.9
7.4
8.78
8.13
8.72
81
8.05
8.75
8.18
8.28
85
8.34
7.97
6.6
8.2
6.24
7.9
64.56
7.5
6.99
7.6
7.99
8.22
6.76
6.3
7.69
7.54
7.8
6.8
8.3
66
7.85
81
8.789
59
8.1
7.98
80
8.62
8.02
8.59
7.86
7.2
58
88
8.57
7.2
8
9.12
79
8.81
8.4
8.15
8.08
7.64
8
9
7.65
8.56
7.66
8
72
9.04
8.1
7.45
7.47
75
8.74
7.72
8.14
8.51
8.04
66.50
9.2
8.92
78
8.35
73.75
7.2
64
8.02
7.56
65.54
9.15
8.68
8.02
67.40
74
87.94
7.07
8.36
7.4
8.54
75.13
8.85
80.98
7.16
7.3
8.57
7.2
6.07
8.59
7.96
81
9.05
8.27
65.08
61
69.25
71.73
6.2
60
7.2
56
55
7.95
6.18
81
6.44
6.87
62.22
87
6.3
7.5
67
8.29
66
67
8.59
8.1
6
82
71
78
80
8.2
8.2
7
7.97
62
65.32
6.6
7.7
65
70
74
66
9
8
73
71.50
7.58
62
76
79
59
55.55
71.22
6.96
73
6.8
8.66
80
59
8.02
62
7.256
8.6
81
60.50
7.95
72
8.06
71
61
7.98
60
70
69
75
8.7
72.28
7.24
65
8.16
7.49
9.12
7.07
7
58
58
8.69
7.31
8.18
7.97
8.63
74.20
6.57
9.5
7.1
7.61
7.83
7.16
9.04
8.45
9.4
8.98
8.4
8.17
7.07
7.223
73.94
7.11
8.1
8.33
7.3
8.08
9.32
8.76
8.26
7.86
88
82
72.50
6.93
8.39
8.4
7.31
8.44
9.1
8.16
8.2
8.31
68.34
8.28
7.7
7.6
6.181
7.91
9.1
9
8.8
8.05
7.4
7.9
7.68
9.1
7.2
72.50
7.06
3.03
8.82
9.13
72.90
7.35
8.68
73.97
62
9
6.6
7.79
77
8.34
7.95
80.81
71
74
8
8.43
6.97
9.23
6.5
8.1
7.81
73
8.3
7.38
7.52
8
7.75
7.56
8.84
7.4
8.2
7.74
7.84
7.39
7.63
7.96
7.8
8.92
73.36
8.51
69
8.64
8.7
8.23
8.3
7.3
8.41
6.61
78
8.9
71.14
7.7
6.87
8.995
69.59
7.11
7.2
7.65
67.41
8.94
6.31
9.21
82.41
69.20
6.35
82.35
8.5
6.86
8.6
7.8
7.5
6.17
65.43
7.92
8.99
7.45
8.44
82.43
9.59
7.4
68
8.79
8.06
73
7.35
8.5
6.72
87
9.1
8
7.76
8.66
8.92
61.94
62
66
8.7
61.05
8.64
8.22
6.66
80
8.28
8.1
60
7.48
8.6
7.8
7.2
8.48
66.90
78
8.7
86
7.56
75
7.44
8.54
7.8
7.49
81.11
8.91
71.73
72.29
8.4
8.72
75
79.20
8.98
61.60
7.7
7.8
8.3
7.85
91.60
64.50
8.81
7.61
8.4
8.43
7.46
86.90
63.76
8.1
74
75.50
7.12
69.15
60
84
8.02
7.47
63
7.57
58.60
73.20
8.62
8.14
71
8.66
8.4
56
7.42
8.28
74.60
78
7.48
69
65
8.9
7.22
80
76
8.5
6.59
7.6
7.4
8.3
64.50
66.54
8.38
8.8
7.23
8.51
7.68
7.3
8.19
7.9
60.20
8.1
7.34
66
9.21
9.711
8.18
6.29
8.2
7.29
7.4
7.96
69
8.39
7.85
6.57
7.31
8.88
8.41
7.83
9.12
9.5
9.3
8.2
8.47
9.52
8.48
8.4
8.25
9.74
9.39
8.27
8.9
7.6
8.2
9.25
9.5
7.7
9.144
72.29
8.71
8.5
8.65
8.72
8.7
8.9
87.30
7.54
9.01
9
9.12
7.96
9.03
8.74
8.55
9.55
8.29
9.37
90
9.04
8.84
76
7.61
9.2
75
8.42
8.45
69.50
73.60
8.6
64
8
77.17
92
71.98
5.81
7.72
7.24
3.13
77
70.60
62.94
76
66
7.2
78.47
6.8
66
8
8.8
7.37
6.9
6.87
7.55
62
6.34
9.23
6.335
70
9.11
64.50
7.81
59.10
7.95
6.8
67.75
8.66
60
6.32
78
6.5
6.89
7.2
66.95
7.74
67
74.25
72
67
67.15
62
7.31
60.50
85.43
76.80
69
7.7
62.45
8.3
62.61
59
63
76
6.58
6.8
7.3
7.42
7.8
57.50
63
6.8
8.02
8.65
8.702
8.66
82.30
9.1
9.46
8.55
9.14
63.13
9.48
7.96
9.5
68.30
9.05
8.25
8.4
8.46
7.91
7.7
7.54
8.84
7.55
9.06
9.1
81.90
9.07
9.08
9.01
8.86
9.2
8.9
8.78
9.37
8.4
8.47
73.22
7.9
88
8.7
9.01
8.33
9.6
72
9.5
9.39
70
9.5
72.29
8.59
8.81
8.99
8.96
9.127
80
87.30
9.14
8.76
80.02
9.51
8.81
8.1
8.34
9
8
8.39
7.65
8.5
9.3
9.152
8.72
76
8.86
67.07
8.07
7.84
9.28
8.86
9.25
9.14
8.2
9.1
8.4
8.08
7.72
7.4
9.55
9.21
9.1
82
7.57
9
8.4
8.9
9.13
9
8.7
8.75
8.17
9.66
7.5
8.43
9.38
78
8.47
8.7
9.23
8.4
8.42
8.59
8.79
8.65
8.576
9
6.8
8.66
87.65
8.775
7.43
9.2
67
6.37
8.06
7.46
75
6.7
62
8
84
77
9.2
7.74
69
6.86
81
8.2
59
8.51
69
62.73
74
60
8.6
72
69
74
81
7.31
6
80.17
7.31
8.13
83.40
8.7
8.8
9.04
7.8
70
8.41
7.7
8.75
75
9.28
7.62
8.3
9.15
7.91
7.5
8.7
8.5
7.75
67
9.12
8.25
8.706
9.16
72.64
9.04
7.65
7.1
7.35
8.5
8.4
8.35
7.48
66.44
7.94
7.6
8
82.50
8.07
6.59
63
8.61
77
7.23
80
9.15
68.90
7.8
7.3
7.13
7.08
7.34
8.52
7.54
8.61
7.13
8.65
9.01
7.2
8.17
76.16
81.60
8.08
8.34
76
8.88
61.12
8.5
8.54
7.63
73
8.2
8.34
8.09
8.96
8.08
86.93
9.24
8.35
7.57
8.6
7.3
8.06
7.81
7.47
8.95
7.9
7.5
7.73
8.51
8.9
8.74
8.25
7.49
7.15
8.44
7.73
8.08
7.34
8.25
85.31
9.16
7.39
7.54
8.11
8.77
81
7.85
67
8.5
7.44
89.61
76
8.85
7.6
91
7.43
7.69
7.31
9.13
78.69
8.8
7.69

70.30
84
64
8.04
85.70
7.64
8.36
68.34
7.67
7.8
8.61
9.09
9.41
7.58
82.79
8.2
82
8.41
70
0
8.46
7.18
8.87
67.90
70.59
7.08
7.11
8.76
8.54
8.19
78.34
9.152
6.72
8.77
8.34
76
7.8
8.77
67
7.47
7.1
7.7
8.7
8.32
8.5
7.47
76.73
8.57
8.18
8.2
7.96
73.08
7.89
8.702
66.13
9.12
9.17
8.22
84
80
69
72.64
7.98
7
8.08
8.49
9.36
7.1
7.9
9
8.5
8.88
8.97
8.4
8.5
7.68
9.01
8.7
8.34
69
8.5
8.8
7.92
8.9
87.30
67
64.56
8.84
80
7.5
7.37
8.43
73.38
7.02
7.1
7.94
7.6
88.70
8.15
8.5
9.34
7.57
7.75
9.18
7.85
7.8
8.17
8.2
8.79
8.29
9.1
8.7
7.9
73
72
9.09
8.86
7.7
7.95
8.6
67.90
8.91
80.78
84
7.28
8.33
8.26
9.28
8.72
7.96
8.68
7.97
8.07
77.07
7.7
87.96
7.65
8.98
8.99
8.59
65
8.34
9.17
85.96
70.28
7.07
9
7.65
8.18
68.95
8.13
70
59
7.59
78
8.1
7.91
8.33
8.07
8.15
8.2
8.6
80
8.19
64.30
9.31
8.28
74.86
8.48
80
8.46
72
70
70
73.28
8.25
8.41
85
8.68
8.6
8.88
78
8.83
8.69
7.69
8.57
8.93
8.6
76
8.01
79
8.9
9.27
8.6
8.16
9.06
8.3
9.35
9.14
7.72
76.81
8.04
8.04
7.1
8.55
71.73
7.65
7.96
8.11
8.585
80.98
3.7
8.72
7.8
65
76.28
8.84
8.1
9
7.99
8.5
8.67
8.1
8.55
8.48
8.92
7.92
73.70
7.3
74.84
8.9
9.12
9.4
74
8.4
8.03
78.69
8.38
7.98
8.9
7.11
7.6
7.7
8.25
7.31
8.3
8.58
8.5
7.32
8.4
9.05
8.48
9.5
7.65
84
7.58
72
7.54
79
8.15
7.4
9.01
8.2
8.4
8.4
76
6.51
9.1
9.55
8.68
8.9
70.66
77
8.8
8.67
9.2
8.23
7.69
6.8
73.33
7.9
8.6
8.43
72.90
8.24
66.54
79
8.7
8.64
8.8
73
7.34
65
77
7.45
7.11
8.64
8.42
7.13
76.90
9.13
7.5
9.28
78.50
6.72
65
7.84
8.702
73
8.82
9.17
67
8.35
7.55
7.77
8.09
8.835
9.4
8.25
7.45
8.12
8.1
9.11
8.53
7.16
8.64
82.50
8.07
7.85
7.98
8.08
7.42
7.57
9.42
8.96
8.8
8.3
7.9
8.44
7.54
7.64
8.9
8.77
76.16
8.7
8.82
8.73
8.35
7.77
9.03
8.8
7.65
8.08
6.24
8.84
6.14
9.54
8.34
9.33
8
7
7.98
8.39
7.65
9.33
7.6
8.87
8.52
8.89
8.35
77.80
85.31
8.46
7.37
8
9.2
7.5
8.2
8.49
9.01
9.1
7.5
7.31
7.06
8
7.8
8.72
8.7
8.76
8.95
76
8.49
8.99
84
8.44
89
8.88
8.9
8.23
6.97
80.66
73.33
6.9
7.91
8.55
9.52
61
8.6
8.61
77
7.3
60
6.5
6.96
6.8
76.30
6.6
2.82
7
74
7.8
80
8.33
62
5.9
83
7.2
71
7
7.9
8.31
62
55.12
67
8.81
7
82.95
70
74.50
65
66
73
64.53
8.07
7.38
6.06
6.96
7.34
79
61.80
62
8.02
95
62.61
8.66
63
58
7.49
7
7.3
8.44
86
79
65
8.01
8.18
6.26
5.81
78
7.41
6.75
71.90
62
7.16
8.48
7.38
80
8.64
8.76
70.30
7.63
8.37
9.46
9.68
7.73
7.26
9.26
75
9
7.5
9.7
7.55
8.89
79
9.32
9.07
7.21
8.55
80.66
9.01
7.54
9.13
9.1
8.25
8.75
7.1
9.28
7.79
87.30
7.31
9.7
9.2
8.71
8.99
81.56
67.50
8.23
8.81
7.47
8.4
7.95
7
8.202
8.19
8.5
7.32
8.62
83
3.13
9.12
8.76
9.69
9.09
0
8.7
81.02
8.65
8.86
8.21
6.48
85
9.15
7.1
9.1
70.84
69
8.59
8.35
7.58
9.1
81.90
8
72
8.05
8.98
9.23
7.75
8.48
70
9.19
8.75
7.6
8.55
7.16
8.59
3.13
8.15
8.6
8.1
0
9.11
8.5
80.05
7.82
8.18
8.38
8.84
9.13
73.20
7.37
68.87
8.86
80
7.02
7.86
7.7
86.14
90
7.49
8.65
7.9
7.54
9.72
8.46
7.18
8.5
65
6.87
7.58
71.73
61
7.48
3.19
7.07
7.51
7.15
7.8
7.66
8.673
59.22
60
8.12
7.1
7.67
54.34
7.8
59
67.16
7.77
63.47
65
73.10
57.50
8.19
58
6.25
7.3
62
72
63.42
64
77
62
8.45
58

In [1835]:
update_cgpa_score_scale_4 = []
for score in Undergraduation_score_list:
    s = 0
    try:
        score = float(score)
    except:
        score= 0
    if score > 10:
        s = ((score)/20) - 1
        s = round(s,2)
        update_cgpa_score_scale_4.append(s)
    else:
        s = ((score)/10)*4
        s = round(s,2)
        update_cgpa_score_scale_4.append(s)

In [1836]:
len(update_cgpa_score_scale_4)

5085

In [1837]:
Yocket_data_all_college["Undergraduation_score"] = update_cgpa_score_scale_4

In [1838]:
Yocket_data_all_college.drop(columns = ['Undergraduation'],inplace = True)

In [1839]:
Yocket_data_all_college["Undergraduation_score"].isna().sum()

0

<b> COLUMN = University_name </b>
- Removing values 'Computer Science' from every college name

In [1840]:
Yocket_data_all_college['university_name'].value_counts()

Northeastern University Computer Science                        242
State University of New York at Stony Brook Computer Science    240
North Carolina State University, Raleigh Computer Science       240
Syracuse University Computer Science                            240
San Jose State University Computer Science                      240
Texas A&M University, College Station Computer Science          240
University of California, Irvine Computer Science               239
Rutgers University-New Brunswick Computer Science               239
New York University Computer Science                            238
University of Texas at Dallas Computer Science                  238
University of Southern California Computer Science              233
University of North Carolina at Charlotte Computer Science      220
University of Texas at Arlington Computer Science               220
Rochester Institute of Technology Computer Science              220
Illinois Institute of Technology Computer Science               199
George Mason University Computer Science                        194
Indiana University Bloomington Computer Science                 187
University of Cincinnati Computer Science                       153
University of Maryland, College Park Computer Science           152
Michigan Technological University Computer Science              146
Georgia Institute of Technology Computer Science                146
University of Florida Computer Science                          120
Clemson University Computer Science                             116
Kansas State University Computer Science                         77
University of Colorado Boulder Computer Science                  76
Worcester Polytechnic Institute Computer Science                 74
Carnegie Mellon University Computer Science                      55
University of Connecticut Computer Science                       45
University of Iowa Computer Science                              43
Fall 2019                                                         3
 New York University Computer Science                             2
0                                                                 2
 Indiana University Bloomington Computer Science                  2
 Northeastern University Computer Science                         1
 University of California, Irvine Computer Science                1
 Georgia Institute of Technology Computer Science                 1
 Illinois Institute of Technology Computer Science                1
Name: university_name, dtype: int64

In [1841]:
Yocket_data_all_college[Yocket_data_all_college['university_name'].str.contains('Fall')]
Yocket_data_all_college.loc[Yocket_data_all_college["university_name"].str.contains('Fall'),'university_name'] = Yocket_data_all_college.loc[Yocket_data_all_college["university_name"].str.contains('Fall'),'student_name']
Yocket_data_all_college = Yocket_data_all_college[Yocket_data_all_college['university_name']!='0']
#Yocket_data_all_college[(Yocket_data_all_college['university_name']=='0')]

In [1842]:
Yocket_data_all_college["university_name"] = [x.replace(' Computer Science','') for x in Yocket_data_all_college["university_name"]]
Yocket_data_all_college["university_name"] = [x.replace(' Indiana','Indiana') for x in Yocket_data_all_college["university_name"]]
Yocket_data_all_college["university_name"] = [x.replace(' Northeastern','Northeastern') for x in Yocket_data_all_college["university_name"]]
Yocket_data_all_college["university_name"] = [x.replace(' New York','New York') for x in Yocket_data_all_college["university_name"]]
Yocket_data_all_college["university_name"] = [x.replace(' Illinois','Illinois') for x in Yocket_data_all_college["university_name"]]
Yocket_data_all_college["university_name"] = [x.replace(' Georgia Institute of Technology','Georgia Institute of Technology') for x in Yocket_data_all_college["university_name"]]
Yocket_data_all_college["university_name"] = [x.replace('State University ofNew York at Stony Brook','State University of New York at Stony Brook') for x in Yocket_data_all_college["university_name"]]
Yocket_data_all_college["university_name"] = [x.replace(' University of California, Irvine','University of California, Irvine') for x in Yocket_data_all_college["university_name"]]
#Yocket_data_all_college["university_name"] = [x.replace(' ','') for x in Yocket_data_all_college["university_name"]]

In [1843]:
Yocket_data_all_college['university_name'].value_counts()

Northeastern University                        243
University of California, Irvine               240
North Carolina State University, Raleigh       240
San Jose State University                      240
Syracuse University                            240
State University of New York at Stony Brook    240
Texas A&M University, College Station          240
New York University                            240
Rutgers University-New Brunswick               240
University of Texas at Dallas                  238
University of Southern California              233
Rochester Institute of Technology              220
University of Texas at Arlington               220
University of North Carolina at Charlotte      220
Illinois Institute of Technology               200
George Mason University                        194
Indiana University Bloomington                 189
University of Maryland, College Park           153
University of Cincinnati                       153
Georgia Institute of Technology                147
Michigan Technological University              146
University of Florida                          121
Clemson University                             116
Kansas State University                         77
University of Colorado Boulder                  76
Worcester Polytechnic Institute                 74
Carnegie Mellon University                      55
University of Connecticut                       45
University of Iowa                              43
Name: university_name, dtype: int64

<b> COLUMN = GRE </b>
- Drop GRE

In [1844]:
Yocket_data_all_college.drop(columns = ['GRE'],inplace = True)

<b> COLUMN = Eng_test </b>
- Sepearting TOEFL and IELTS Score into 2 different columns

In [1845]:
Yocket_data_all_college['Test_score_ielts'] = Yocket_data_all_college['Eng_test']=="IELTS"

In [1846]:
Yocket_data_all_college['Test_score_ielts'] =Yocket_data_all_college[Yocket_data_all_college['Test_score_ielts']]['Test_score']

In [1847]:
Yocket_data_all_college['Test_score_toefl'] = Yocket_data_all_college['Eng_test']=="TOEFL"

In [1848]:
Yocket_data_all_college['Test_score_toefl'] =Yocket_data_all_college[Yocket_data_all_college['Test_score_toefl']]['Test_score']

In [1849]:
Yocket_data_all_college['Test_score_ielts']=Yocket_data_all_college['Test_score_ielts'].fillna(0)
Yocket_data_all_college['Test_score_toefl']=Yocket_data_all_college['Test_score_toefl'].fillna(0)

In [1850]:
Yocket_data_all_college

,student_name,university_name,year_applying,Status,GRE_SCORE,Eng_test,Test_score,Undergraduation_score,work_ex,Test_score_ielts,Test_score_toefl
2,Abdul kadir,Northeastern University,Fall 2019,Admit,317,TOEFL,114,3.52,4,0,114
3,Yashwanth Reddy,Northeastern University,Fall 2019,Admit,314,TOEFL,103,3.26,24,0,103
4,Raj Shrivastava,Northeastern University,Fall 2019,Admit,324,TOEFL,108,3.12,6,0,108
5,Sumeet Bhadale,Northeastern University,Fall 2019,Admit,305,TOEFL,0,3.28,13,0,0
6,piyush goel,Northeastern University,Fall 2019,Admit,324,TOEFL,112,2.88,8,0,112
7,Kamineni sai sugeeth,Northeastern University,Fall 2019,Admit,318,TOEFL,102,2.80,4,0,102
8,Daman M,Northeastern University,Fall 2019,Admit,327,TOEFL,114,3.35,48,0,114
9,Utsav Das,Northeastern University,Fall 2019,Admit,334,TOEFL,120,3.54,1,0,120
10,Shankar Telaprolu,Northeastern University,Fall 2019,Admit,312,IELTS,6.5,3.68,5,6.5,0
11,Aayush Atul Kubitkar,Northeastern University,Fall 2019,Admit,319,TOEFL,99,2.87,30,0,99
12,ketaki udipi,Northeastern University,Fall 2019,Admit,306,TOEFL,100,3.56,20,0,100
13,Mojave,Northeastern University,Fall 2019,Admit,304,TOEFL,95,2.82,0,0,95
14,Aishwarya Radhakrishnan,Northeastern University,Fall 2019,Admit,320,TOEFL,109,0.00,24,0,109
15,Naiya Shah,Northeastern University,Fall 2019,Admit,306,TOEFL,111,3.55,0,0,111
16,RituSE,Northeastern University,Fall 2019,Admit,N.A.,ENG TEST,NA,2.43,0,0,0
17,Flame Alchemist,Northeastern University,Fall 2019,Admit,332,TOEFL,115,2.75,9,0,115
18,Archita Sundaray,Northeastern University,Fall 2019,Admit,317,TOEFL,101,3.46,48,0,101
19,Neha Pande,Northeastern University,Fall 2019,Admit,320,TOEFL,103,3.00,12,0,103
20,Jasvinder Singh,Northeastern University,Fall 2018,Admit,309,TOEFL,102,3.10,33,0,102
21,MVSN Bharath,Northeastern University,Fall 2019,Admit,320,TOEFL,99,3.30,25,0,99
22,deepali tolia,Northeastern University,Fall 2019,Admit,305,TOEFL,107,2.75,24,0,107
23,Samaksh Yadav,Northeastern University,Fall 2018,Admit,323,TOEFL,110,3.12,12,0,110
24,bipin dr,Northeastern University,Fall 2019,Admit,311,TOEFL,105,3.43,2,0,105
25,neel parikh,Northeastern University,Fall 2019,Admit,318,TOEFL,104,3.47,9,0,104
26,Dhruvatara Bhogishetty,Northeastern University,Fall 2019,Admit,327,TOEFL,115,3.19,2,0,115
27,meghna singhal,Northeastern University,Fall 2019,Admit,N.A.,ENG TEST,NA,2.85,10,0,0
28,Kuntal Roy,Northeastern University,Fall 2019,Admit,320,TOEFL,107,3.52,41,0,107
29,Shweta Mandavgane,Northeastern University,Fall 2019,Admit,303,ENG TEST,NA,2.50,60,0,0
30,Jugal Joshi,Northeastern University,Fall 2019,Admit,N.A.,TOEFL,111,3.20,0,0,111
31,Mohit Kalra,Northeastern University,Fall 2018,Admit,324,TOEFL,110,3.64,28,0,110
...,...,...,...,...,...,...,...,...,...,...,...
5058,Jay Shah,Worcester Polytechnic Institute,Spring 2018,Reject,301,IELTS,6.5,2.86,15,6.5,0
5059,Arth,Worcester Polytechnic Institute,Fall 2017,Reject,315,TOEFL,104,3.12,3,0,104
5060,Ronak Thakkar,Worcester Polytechnic Institute,Fall 2017,Reject,314,TOEFL,105,3.06,2,0,105
5061,chirag,Worcester Polytechnic Institute,Fall 2017,Reject,305,TOEFL,97,3.47,3,0,97
5062,Bulla,Worcester Polytechnic Institute,Fall 2017,Reject,319,TOEFL,103,1.96,27,0,103
5063,Yash Tare,Worcester Polytechnic Institute,Fall 2017,Reject,315,TOEFL,103,2.00,30,0,103
5064,Abhishek Shah,Worcester Polytechnic Institute,Fall 2017,Reject,317,TOEFL,111,3.25,6,0,111
5065,Annu,Worcester Polytechnic Institute,Fall 2017,Reject,306,TOEFL,95,2.84,0,0,95
5066,Aravind,Worcester Polytechnic Institute,Fall 2017,Reject,303,TOEFL,91,3.07,17,0,91
5067,Rishab Vaishya,Worcester Polytechnic Institute,Fall 2017,Reject,306,IELTS,7,1.72,18,7,0
5068,Hiten Nirmal,Worcester Polytechnic Institute,Fall 2017,Reject,304,TOEFL,85,3.12,0,0,85
5069,Saurabh,Worcester Polytechnic Institute,Fall 2017,Reject,307,TOEFL,104,1.95,5,0,104
5070,amit,Worcester Polytechnic Institute,Fall 2017,Reject,304,TOEFL,88,2.36,46,0,88
5071,anup dasari,Worcester Polytechnic Institute,Fall 2017,Reject,310,TOEFL,97,3.11,24,0,97
5072,Aditi Singhai,Worcester Polytechnic Institute,Fall 2017,Reject,306,TOEFL,91,2.17,25,0,91
5073,Sujoy Das,Worcester Polytechnic Institute,Fall 2017,Reject,307,TOEFL,93,2.25,30,0,93
5074,Noman,Worcester Polytechnic Institute,Fall 2017,Reject,306,TOEFL,100,2.65,18,0,100
5075,Snehal,Worcester Polytechnic Institute,Fall 2017,Reject,318,TOEFL,106,1.88,18,0,106
5076,Ishaan Jain,Worcester Polytechnic Institute,Spring 2017,Reject,327,TOEFL,117,3.28,6,0,117
5077,Jai,Worcester Polytechnic Institute,Spring 2017,Reject,317,TOEFL,108,1.90,14,0,108
5078,Speed,Worcester Polytechnic Institute,Fall 2016,Reject,316,TOEFL,113,2.50,3,0,113
5079,Tanmay Jain,Worcester Polytechnic Institute,Fall 2019,Reject,328,TOEFL,115,2.92,12,0,115
5080,mithil,Worcester Polytechnic Institute,Fall 2016,Reject,316,TOEFL,109,2.10,18,0,109
5081,Abhimanyu,Worcester Polytechnic Institute,Fall 2016,Reject,312,TOEFL,89,2.60,0,0,89
5082,Mitesh Gandhi,Worcester Polytechnic Institute,Fall 2016,Reject,304,TOEFL,83,2.17,19,0,83
5083,Suwas,Worcester Polytechnic Institute,Fall 2015,Reject,315,TOEFL,90,2.20,0,0,90
5084,Aswani Kumar,Worcester Polytechnic Institute,Fall 2016,Reject,294,TOEFL,86,2.85,30,0,86
5085,Rudresh Pandit,Worcester Polytechnic Institute,Fall 2015,Reject,308,TOEFL,100,2.10,0,0,100
5086,Kelvin,Worcester Polytechnic Institute,Fall 2016,Reject,309,TOEFL,100,3.38,33,0,100
5087,Prathamesh Jagtap,Worcester Polytechnic Institute,Fall 2013,Reject,304,TOEFL,86,1.90,0,0,86

In [1851]:
Yocket_data_all_college['Test_score_toefl']=Yocket_data_all_college['Test_score_toefl'].astype('int64')

In [1852]:
Yocket_data_all_college['Test_score_ielts']=Yocket_data_all_college['Test_score_ielts'].astype('float64')

In [1853]:
toefl_avgs=Yocket_data_all_college.groupby(by=['university_name','Status'])['Test_score_toefl'].median().to_dict()

In [1854]:
toefl_avgs

{('Carnegie Mellon University', 'Admit'): 112.0,
 ('Carnegie Mellon University', 'Reject'): 108.5,
 ('Clemson University', 'Admit'): 96.0,
 ('Clemson University', 'Reject'): 97.0,
 ('George Mason University', 'Admit'): 92.0,
 ('George Mason University', 'Reject'): 87.0,
 ('Georgia Institute of Technology', 'Admit'): 110.0,
 ('Georgia Institute of Technology', 'Reject'): 109.0,
 ('Illinois Institute of Technology', 'Admit'): 93.0,
 ('Illinois Institute of Technology', 'Reject'): 89.0,
 ('Indiana University Bloomington', 'Admit'): 104.0,
 ('Indiana University Bloomington', 'Reject'): 101.0,
 ('Kansas State University', 'Admit'): 92.5,
 ('Kansas State University', 'Reject'): 88.0,
 ('Michigan Technological University', 'Admit'): 93.5,
 ('Michigan Technological University', 'Reject'): 91.0,
 ('New York University', 'Admit'): 107.0,
 ('New York University', 'Reject'): 105.0,
 ('North Carolina State University, Raleigh', 'Admit'): 107.0,
 ('North Carolina State University, Raleigh', 'Reject'): 106.0,
 ('Northeastern University', 'Admit'): 106.0,
 ('Northeastern University', 'Reject'): 95.0,
 ('Rochester Institute of Technology', 'Admit'): 98.5,
 ('Rochester Institute of Technology', 'Reject'): 93.5,
 ('Rutgers University-New Brunswick', 'Admit'): 107.0,
 ('Rutgers University-New Brunswick', 'GRE'): 0.0,
 ('Rutgers University-New Brunswick', 'Reject'): 105.0,
 ('San Jose State University', 'Admit'): 101.0,
 ('San Jose State University', 'Reject'): 95.5,
 ('State University of New York at Stony Brook', 'Admit'): 106.0,
 ('State University of New York at Stony Brook', 'Reject'): 105.0,
 ('Syracuse University', 'Admit'): 98.0,
 ('Syracuse University', 'Reject'): 95.0,
 ('Texas A&M University, College Station', 'Admit'): 107.0,
 ('Texas A&M University, College Station', 'Reject'): 105.5,
 ('University of California, Irvine', 'Admit'): 107.0,
 ('University of California, Irvine', 'Reject'): 104.0,
 ('University of Cincinnati', 'Admit'): 0.0,
 ('University of Cincinnati', 'Reject'): 95.0,
 ('University of Colorado Boulder', 'Admit'): 108.0,
 ('University of Colorado Boulder', 'Reject'): 103.5,
 ('University of Connecticut', 'Admit'): 99.5,
 ('University of Connecticut', 'Reject'): 97.0,
 ('University of Florida', 'Admit'): 107.0,
 ('University of Florida', 'GRE'): 0.0,
 ('University of Florida', 'Reject'): 102.0,
 ('University of Iowa', 'Admit'): 100.5,
 ('University of Iowa', 'Reject'): 97.0,
 ('University of Maryland, College Park', 'Admit'): 104.5,
 ('University of Maryland, College Park', 'GRE'): 0.0,
 ('University of Maryland, College Park', 'Reject'): 106.0,
 ('University of North Carolina at Charlotte', 'Admit'): 94.0,
 ('University of North Carolina at Charlotte', 'Reject'): 83.0,
 ('University of Southern California', 'Admit'): 104.0,
 ('University of Southern California', 'Reject'): 104.0,
 ('University of Texas at Arlington', 'Admit'): 90.0,
 ('University of Texas at Arlington', 'Reject'): 82.0,
 ('University of Texas at Dallas', 'Admit'): 102.0,
 ('University of Texas at Dallas', 'Reject'): 95.0,
 ('Worcester Polytechnic Institute', 'Admit'): 99.5,
 ('Worcester Polytechnic Institute', 'Reject'): 96.0}

In [1855]:
ielts_avgs=Yocket_data_all_college.groupby(by=['university_name','Status'])['Test_score_ielts'].mean().to_dict()

In [1856]:
Yocket_data_all_college['Eng_test'].value_counts()

TOEFL       4133
IELTS        704
ENG TEST     241
102            3
PTE            2
Name: Eng_test, dtype: int64

In [1857]:
Yocket_data_all_college

,student_name,university_name,year_applying,Status,GRE_SCORE,Eng_test,Test_score,Undergraduation_score,work_ex,Test_score_ielts,Test_score_toefl
2,Abdul kadir,Northeastern University,Fall 2019,Admit,317,TOEFL,114,3.52,4,0.0,114
3,Yashwanth Reddy,Northeastern University,Fall 2019,Admit,314,TOEFL,103,3.26,24,0.0,103
4,Raj Shrivastava,Northeastern University,Fall 2019,Admit,324,TOEFL,108,3.12,6,0.0,108
5,Sumeet Bhadale,Northeastern University,Fall 2019,Admit,305,TOEFL,0,3.28,13,0.0,0
6,piyush goel,Northeastern University,Fall 2019,Admit,324,TOEFL,112,2.88,8,0.0,112
7,Kamineni sai sugeeth,Northeastern University,Fall 2019,Admit,318,TOEFL,102,2.80,4,0.0,102
8,Daman M,Northeastern University,Fall 2019,Admit,327,TOEFL,114,3.35,48,0.0,114
9,Utsav Das,Northeastern University,Fall 2019,Admit,334,TOEFL,120,3.54,1,0.0,120
10,Shankar Telaprolu,Northeastern University,Fall 2019,Admit,312,IELTS,6.5,3.68,5,6.5,0
11,Aayush Atul Kubitkar,Northeastern University,Fall 2019,Admit,319,TOEFL,99,2.87,30,0.0,99
12,ketaki udipi,Northeastern University,Fall 2019,Admit,306,TOEFL,100,3.56,20,0.0,100
13,Mojave,Northeastern University,Fall 2019,Admit,304,TOEFL,95,2.82,0,0.0,95
14,Aishwarya Radhakrishnan,Northeastern University,Fall 2019,Admit,320,TOEFL,109,0.00,24,0.0,109
15,Naiya Shah,Northeastern University,Fall 2019,Admit,306,TOEFL,111,3.55,0,0.0,111
16,RituSE,Northeastern University,Fall 2019,Admit,N.A.,ENG TEST,NA,2.43,0,0.0,0
17,Flame Alchemist,Northeastern University,Fall 2019,Admit,332,TOEFL,115,2.75,9,0.0,115
18,Archita Sundaray,Northeastern University,Fall 2019,Admit,317,TOEFL,101,3.46,48,0.0,101
19,Neha Pande,Northeastern University,Fall 2019,Admit,320,TOEFL,103,3.00,12,0.0,103
20,Jasvinder Singh,Northeastern University,Fall 2018,Admit,309,TOEFL,102,3.10,33,0.0,102
21,MVSN Bharath,Northeastern University,Fall 2019,Admit,320,TOEFL,99,3.30,25,0.0,99
22,deepali tolia,Northeastern University,Fall 2019,Admit,305,TOEFL,107,2.75,24,0.0,107
23,Samaksh Yadav,Northeastern University,Fall 2018,Admit,323,TOEFL,110,3.12,12,0.0,110
24,bipin dr,Northeastern University,Fall 2019,Admit,311,TOEFL,105,3.43,2,0.0,105
25,neel parikh,Northeastern University,Fall 2019,Admit,318,TOEFL,104,3.47,9,0.0,104
26,Dhruvatara Bhogishetty,Northeastern University,Fall 2019,Admit,327,TOEFL,115,3.19,2,0.0,115
27,meghna singhal,Northeastern University,Fall 2019,Admit,N.A.,ENG TEST,NA,2.85,10,0.0,0
28,Kuntal Roy,Northeastern University,Fall 2019,Admit,320,TOEFL,107,3.52,41,0.0,107
29,Shweta Mandavgane,Northeastern University,Fall 2019,Admit,303,ENG TEST,NA,2.50,60,0.0,0
30,Jugal Joshi,Northeastern University,Fall 2019,Admit,N.A.,TOEFL,111,3.20,0,0.0,111
31,Mohit Kalra,Northeastern University,Fall 2018,Admit,324,TOEFL,110,3.64,28,0.0,110
...,...,...,...,...,...,...,...,...,...,...,...
5058,Jay Shah,Worcester Polytechnic Institute,Spring 2018,Reject,301,IELTS,6.5,2.86,15,6.5,0
5059,Arth,Worcester Polytechnic Institute,Fall 2017,Reject,315,TOEFL,104,3.12,3,0.0,104
5060,Ronak Thakkar,Worcester Polytechnic Institute,Fall 2017,Reject,314,TOEFL,105,3.06,2,0.0,105
5061,chirag,Worcester Polytechnic Institute,Fall 2017,Reject,305,TOEFL,97,3.47,3,0.0,97
5062,Bulla,Worcester Polytechnic Institute,Fall 2017,Reject,319,TOEFL,103,1.96,27,0.0,103
5063,Yash Tare,Worcester Polytechnic Institute,Fall 2017,Reject,315,TOEFL,103,2.00,30,0.0,103
5064,Abhishek Shah,Worcester Polytechnic Institute,Fall 2017,Reject,317,TOEFL,111,3.25,6,0.0,111
5065,Annu,Worcester Polytechnic Institute,Fall 2017,Reject,306,TOEFL,95,2.84,0,0.0,95
5066,Aravind,Worcester Polytechnic Institute,Fall 2017,Reject,303,TOEFL,91,3.07,17,0.0,91
5067,Rishab Vaishya,Worcester Polytechnic Institute,Fall 2017,Reject,306,IELTS,7,1.72,18,7.0,0
5068,Hiten Nirmal,Worcester Polytechnic Institute,Fall 2017,Reject,304,TOEFL,85,3.12,0,0.0,85
5069,Saurabh,Worcester Polytechnic Institute,Fall 2017,Reject,307,TOEFL,104,1.95,5,0.0,104
5070,amit,Worcester Polytechnic Institute,Fall 2017,Reject,304,TOEFL,88,2.36,46,0.0,88
5071,anup dasari,Worcester Polytechnic Institute,Fall 2017,Reject,310,TOEFL,97,3.11,24,0.0,97
5072,Aditi Singhai,Worcester Polytechnic Institute,Fall 2017,Reject,306,TOEFL,91,2.17,25,0.0,91
5073,Sujoy Das,Worcester Polytechnic Institute,Fall 2017,Reject,307,TOEFL,93,2.25,30,0.0,93
5074,Noman,Worcester Polytechnic Institute,Fall 2017,Reject,306,TOEFL,100,2.65,18,0.0,100
5075,Snehal,Worcester Polytechnic Institute,Fall 2017,Reject,318,TOEFL,106,1.88,18,0.0,106
5076,Ishaan Jain,Worcester Polytechnic Institute,Spring 2017,Reject,327,TOEFL,117,3.28,6,0.0,117
5077,Jai,Worcester Polytechnic Institute,Spring 2017,Reject,317,TOEFL,108,1.90,14,0.0,108
5078,Speed,Worcester Polytechnic Institute,Fall 2016,Reject,316,TOEFL,113,2.50,3,0.0,113
5079,Tanmay Jain,Worcester Polytechnic Institute,Fall 2019,Reject,328,TOEFL,115,2.92,12,0.0,115
5080,mithil,Worcester Polytechnic Institute,Fall 2016,Reject,316,TOEFL,109,2.10,18,0.0,109
5081,Abhimanyu,Worcester Polytechnic Institute,Fall 2016,Reject,312,TOEFL,89,2.60,0,0.0,89
5082,Mitesh Gandhi,Worcester Polytechnic Institute,Fall 2016,Reject,304,TOEFL,83,2.17,19,0.0,83
5083,Suwas,Worcester Polytechnic Institute,Fall 2015,Reject,315,TOEFL,90,2.20,0,0.0,90
5084,Aswani Kumar,Worcester Polytechnic Institute,Fall 2016,Reject,294,TOEFL,86,2.85,30,0.0,86
5085,Rudresh Pandit,Worcester Polytechnic Institute,Fall 2015,Reject,308,TOEFL,100,2.10,0,0.0,100
5086,Kelvin,Worcester Polytechnic Institute,Fall 2016,Reject,309,TOEFL,100,3.38,33,0.0,100
5087,Prathamesh Jagtap,Worcester Polytechnic Institute,Fall 2013,Reject,304,TOEFL,86,1.90,0,0.0,86

In [1858]:
uni_list = Yocket_data_all_college['university_name'].unique().tolist()

In [1859]:
toefl_avgs[('Carnegie Mellon University', 'Admit')]

112.0

In [1860]:
for uni_name, avg_test_score in toefl_avgs.items():
    Yocket_data_all_college.loc[(Yocket_data_all_college['university_name'] == uni_name[0]) & (Yocket_data_all_college['Status'] == uni_name[1]) & (Yocket_data_all_college['Eng_test'] == 'ENG TEST') & (Yocket_data_all_college['Test_score'] == 'NA '),"Test_score_toefl"]=toefl_avgs[uni_name]
# for uni_name, avg_test_score in toefl_avgs.items():
#     func_replace_Test_score(uni_name, avg_test_score)

In [1861]:
for uni_name, avg_test_score in toefl_avgs.items():
    Yocket_data_all_college.loc[(Yocket_data_all_college['university_name'] == uni_name[0]) & (Yocket_data_all_college['Status'] == uni_name[1]) & (Yocket_data_all_college['Eng_test'] == 'TOEFL') & (Yocket_data_all_college['Test_score'] == '0'),"Test_score_toefl"]=toefl_avgs[uni_name]

In [1862]:
Yocket_data_all_college.loc[Yocket_data_all_college['Eng_test'] == 'ENG TEST','Eng_test'] = 'TOEFL'

In [1863]:
Yocket_data_all_college = Yocket_data_all_college[Yocket_data_all_college['Eng_test'] != 'PTE']

In [1864]:
Yocket_data_all_college = Yocket_data_all_college[Yocket_data_all_college['Eng_test'] != '102']

In [1865]:
Yocket_data_all_college['Eng_test'].value_counts()

TOEFL    4374
IELTS     704
Name: Eng_test, dtype: int64

<b> COLUMN = Test_score </b>
- Removing the column as already reflected these values in the other 2 columns (Test_score_ielts, Test_score_toefl)

In [1866]:
Yocket_data_all_college.drop(columns = ['Test_score'], inplace=True)

<b> COLUMN = year_applying </b>
- Sepearte it into year and Term columns

In [1867]:
 Yocket_data_all_college['year_applying'].value_counts()

Fall 2019        2916
Fall 2018        1135
Fall 2017         430
Fall 2016         197
Spring 2019       158
Spring 2018        76
Fall 2015          65
Spring 2017        23
 Fall 2019         14
Fall 2013          13
Spring 2016        13
Fall 2020           7
Fall 2014           6
Fall 2012           5
Fall 2019           4
Fall 2011           3
 Fall 2018          3
Spring 2019         2
Fal 2019            1
Fall 2021           1
Fall 2018           1
Spring 2020         1
Spring 2021         1
 Spring 2019        1
 Fall 2017          1
 Fall 2016          1
Name: year_applying, dtype: int64

In [1868]:
Yocket_data_all_college["year_applying"] = [x.replace(' Fall','Fall') for x in Yocket_data_all_college["year_applying"]]
Yocket_data_all_college["year_applying"] = [x.replace(' Spring','Spring') for x in Yocket_data_all_college["year_applying"]]

In [1869]:
year_term = Yocket_data_all_college['year_applying'].tolist()

In [1870]:
year = []
term = []
for i in year_term:
    aa = i.split(' ')
    
    for i,j in enumerate(aa):
        if i == 0:
            term.append(j)
        elif i == 1:
            year.append(j)
        else:
            continue

In [1871]:
Yocket_data_all_college['year_applying'] = year
Yocket_data_all_college['term_applying'] = term

In [1872]:
list_term = Yocket_data_all_college['term_applying'].tolist()
new_list_term = []
for i in list_term:
    if i == 'Fal':
        new_list_term.append('Fall')
    else:
        new_list_term.append(i)
Yocket_data_all_college['term_applying']= new_list_term
print(Yocket_data_all_college['year_applying'].unique())
print(Yocket_data_all_college['term_applying'].value_counts())

['2019' '2018' '2017' '2016' '2015' '2014' '2020' '2011' '2013' '2012'
 '2021']
Fall      4803
Spring     275
Name: term_applying, dtype: int64

<b> COLUMN = Gre Score </b>
- Add new column Gre verbal to the dataset
- use mean_gre_verbal_list
- Fill N.A values in Gre score with average score of the university

In [1873]:
Yocket_data_all_college['GRE_SCORE']

2         317
3         314
4         324
5         305
6         324
7         318
8         327
9         334
10        312
11        319
12        306
13        304
14        320
15        306
16      N.A.
17        332
18        317
19        320
20        309
21        320
22        305
23        323
24        311
25        318
26        327
27      N.A.
28        320
29        303
30      N.A.
31        324
        ...
5058      301
5059      315
5060      314
5061      305
5062      319
5063      315
5064      317
5065      306
5066      303
5067      306
5068      304
5069      307
5070      304
5071      310
5072      306
5073      307
5074      306
5075      318
5076      327
5077      317
5078      316
5079      328
5080      316
5081      312
5082      304
5083      315
5084      294
5085      308
5086      309
5087      304
Name: GRE_SCORE, Length: 5078, dtype: object

In [1874]:
university_name_list = Yocket_data_all_college['university_name'].str.lower()
Yocket_data_all_college['university_name'] = university_name_list

In [1875]:
mean_gre_verbal_list

{('carnegie mellon university', 'Admit'): 154.0,
 ('carnegie mellon university', 'Reject'): 155.0,
 ('clemson university', 'Admit'): 154.5,
 ('clemson university', 'Reject'): 147.0,
 ('george mason university', 'Admit'): 149.0,
 ('george mason university', 'Reject'): 145.0,
 ('georgia institute of technology', 'Admit'): 158.0,
 ('georgia institute of technology', 'Reject'): 155.0,
 ('illinois institute of technology', 'Admit'): 147.0,
 ('illinois institute of technology', 'Reject'): 148.0,
 ('indiana university bloomington', 'Admit'): 151.0,
 ('indiana university bloomington', 'Reject'): 152.0,
 ('kansas state university', 'Admit'): 149.0,
 ('kansas state university', 'Reject'): 145.0,
 ('michigan technological university', 'Admit'): 148.0,
 ('michigan technological university', 'Reject'): 152.5,
 ('new york university', 'Admit'): 155.0,
 ('new york university', 'Reject'): 152.5,
 ('north carolina state university, raleigh', 'Admit'): 153.0,
 ('north carolina state university, raleigh', 'Reject'): 152.0,
 ('northeastern university', 'Admit'): 152.0,
 ('northeastern university', 'Reject'): 151.0,
 ('rochester institute of technology', 'Admit'): 151.0,
 ('rochester institute of technology', 'Reject'): 149.0,
 ('rutgers university-new brunswick', 'Admit'): 154.0,
 ('rutgers university-new brunswick', 'Reject'): 153.0,
 ('san jose state university', 'Admit'): 150.0,
 ('san jose state university', 'Reject'): 147.0,
 ('state university of new york at stony brook', 'Admit'): 154.0,
 ('state university of new york at stony brook', 'Reject'): 152.0,
 ('syracuse university', 'Admit'): 150.0,
 ('syracuse university', 'Reject'): 150.0,
 ('texas a&m university, college station', 'Admit'): 154.0,
 ('texas a&m university, college station', 'Reject'): 154.0,
 ('university of california, irvine', 'Admit'): 155.0,
 ('university of california, irvine', 'Reject'): 153.0,
 ('university of cincinnati', 'Admit'): 151.5,
 ('university of cincinnati', 'Reject'): 149.0,
 ('university of colorado boulder', 'Admit'): 153.0,
 ('university of colorado boulder', 'Reject'): 152.0,
 ('university of connecticut', 'Admit'): 149.0,
 ('university of florida', 'Admit'): 153.0,
 ('university of florida', 'Reject'): 151.0,
 ('university of iowa', 'Admit'): 148.0,
 ('university of iowa', 'Reject'): 149.0,
 ('university of maryland, college park', 'Admit'): 155.0,
 ('university of maryland, college park', 'Reject'): 154.0,
 ('university of north carolina at charlotte', 'Admit'): 149.0,
 ('university of north carolina at charlotte', 'Reject'): 149.0,
 ('university of south carolina', 'Admit'): 155.5,
 ('university of south carolina', 'Reject'): 149.0,
 ('university of southern california', 'Admit'): 152.0,
 ('university of southern california', 'Reject'): 152.0,
 ('university of texas at arlington', 'Admit'): 147.0,
 ('university of texas at arlington', 'Reject'): 149.0,
 ('university of texas at dallas', 'Admit'): 150.0,
 ('university of texas at dallas', 'Reject'): 150.0,
 ('worcester polytechnic institute', 'Admit'): 152.0,
 ('worcester polytechnic institute', 'Reject'): 152.5}

In [1876]:
Yocket_data_all_college['GRE_SCORE_Verbal'] = 0
Yocket_data_all_college["GRE_SCORE_Verbal"] = pd.to_numeric(Yocket_data_all_college["GRE_SCORE_Verbal"])
Yocket_data_all_college['GRE_SCORE_Quant'] = 0
Yocket_data_all_college['GRE_SCORE_Quant'] = pd.to_numeric(Yocket_data_all_college["GRE_SCORE_Quant"])

In [1877]:
for uni_name, avg_verbal_score in mean_gre_verbal_list.items():
    Yocket_data_all_college.loc[(Yocket_data_all_college['university_name'] == uni_name[0]) & (Yocket_data_all_college['Status'] == uni_name[1]),"GRE_SCORE_Verbal"]= mean_gre_verbal_list[uni_name]

In [1878]:
#Yocket_data_all_college['GRE_SCORE'].dropna(inplace=True)

In [1879]:
Yocket_data_all_college.loc[(Yocket_data_all_college['university_name'] == 'university of connecticut')&(Yocket_data_all_college['Status'] == 'Reject'),"GRE_SCORE_Verbal"] = float(145)

In [1880]:
Yocket_data_all_college.GRE_SCORE_Verbal=Yocket_data_all_college.GRE_SCORE_Verbal.astype(int)

In [1881]:
Yocket_data_all_college.reset_index(drop=True,inplace=True)

In [1882]:
Yocket_data_all_college.loc[Yocket_data_all_college['GRE_SCORE'].str.contains('N.A.'),:]

,student_name,university_name,year_applying,Status,GRE_SCORE,Eng_test,Undergraduation_score,work_ex,Test_score_ielts,Test_score_toefl,term_applying,GRE_SCORE_Verbal,GRE_SCORE_Quant
14,RituSE,northeastern university,2019,Admit,N.A.,TOEFL,2.43,0,0.0,106.0,Fall,152,0
25,meghna singhal,northeastern university,2019,Admit,N.A.,TOEFL,2.85,10,0.0,106.0,Fall,152,0
28,Jugal Joshi,northeastern university,2019,Admit,N.A.,TOEFL,3.20,0,0.0,111.0,Fall,152,0
40,Ravi Voleti,northeastern university,2019,Admit,N.A.,TOEFL,3.30,0,0.0,106.0,Fall,152,0
79,Neeharika Kompala,northeastern university,2018,Admit,N.A.,TOEFL,3.26,14,0.0,106.0,Fall,152,0
174,KUNDALA DIVYA,illinois institute of technology,2019,Admit,N.A.,TOEFL,3.77,0,0.0,93.0,Fall,147,0
178,Devam Shah,illinois institute of technology,2019,Admit,N.A.,IELTS,2.80,12,7.0,0.0,Fall,147,0
218,dev sharma,illinois institute of technology,2019,Admit,N.A.,TOEFL,2.40,0,0.0,93.0,Spring,147,0
237,darshil maheshwari,illinois institute of technology,2018,Admit,N.A.,TOEFL,3.12,5,0.0,93.0,Spring,147,0
399,Purvam Pujari,rochester institute of technology,2019,Admit,N.A.,TOEFL,3.62,4,0.0,102.0,Fall,151,0
479,Modhuli G,university of southern california,2019,Admit,N.A.,TOEFL,3.70,0,0.0,104.0,Fall,152,0
487,hello,university of southern california,2019,Admit,N.A.,TOEFL,3.55,0,0.0,104.0,Fall,152,0
515,Pooja A,university of southern california,2019,Admit,N.A.,TOEFL,3.65,12,0.0,104.0,Fall,152,0
531,Nikhil Johny,university of southern california,2019,Admit,N.A.,TOEFL,3.76,38,0.0,104.0,Fall,152,0
540,Manav Mehra,university of southern california,2019,Admit,N.A.,TOEFL,3.78,0,0.0,114.0,Fall,152,0
580,Purvam Pujari,university of southern california,2019,Admit,N.A.,TOEFL,3.62,4,0.0,102.0,Fall,152,0
582,yechan gunja sriram,university of north carolina at charlotte,2019,Admit,N.A.,IELTS,2.62,22,7.5,0.0,Spring,149,0
583,Sagar shah,university of north carolina at charlotte,2019,Admit,N.A.,TOEFL,2.55,0,0.0,94.0,Fall,149,0
588,Jeet Jivrajani,university of north carolina at charlotte,2019,Admit,N.A.,TOEFL,3.00,2,0.0,88.0,Fall,149,0
643,yash kanodia,university of north carolina at charlotte,2019,Admit,N.A.,TOEFL,3.20,0,0.0,94.0,Fall,149,0
662,vinay,university of north carolina at charlotte,2019,Admit,N.A.,TOEFL,3.30,0,0.0,94.0,Fall,149,0
669,varun,university of north carolina at charlotte,2019,Admit,N.A.,TOEFL,2.88,0,0.0,94.0,Fall,149,0
681,C V VASUDHA KIRTHI 15131A0534,university of north carolina at charlotte,2019,Admit,N.A.,TOEFL,3.38,0,0.0,94.0,Fall,149,0
691,KUNDALA DIVYA,university of north carolina at charlotte,2019,Admit,N.A.,TOEFL,3.77,0,0.0,94.0,Fall,149,0
713,Pavithra Govardhanan,university of texas at arlington,2019,Admit,N.A.,TOEFL,3.61,0,0.0,90.0,Fall,147,0
728,Chinmay Deshpande,university of texas at arlington,2019,Admit,N.A.,TOEFL,2.93,3,0.0,105.0,Fall,147,0
729,Reshma,university of texas at arlington,2019,Admit,N.A.,IELTS,3.00,0,7.0,0.0,Spring,147,0
816,Ankit,university of texas at arlington,2019,Admit,N.A.,TOEFL,2.43,0,0.0,90.0,Spring,147,0
829,Chandan Chowdary,university of texas at dallas,2019,Admit,N.A.,TOEFL,3.20,0,0.0,102.0,Fall,150,0
833,Nikhil W,university of texas at dallas,2019,Admit,N.A.,TOEFL,3.48,3,0.0,102.0,Fall,150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2487,Sivacharan R,university of cincinnati,2019,Admit,N.A.,TOEFL,2.45,75,0.0,0.0,Fall,151,0
2500,Kaustubh Bhalerao,university of cincinnati,2019,Admit,N.A.,TOEFL,2.33,24,0.0,0.0,Fall,151,0
2506,vinay,university of cincinnati,2019,Admit,N.A.,TOEFL,3.30,0,0.0,0.0,Fall,151,0
2510,NewBie,university of cincinnati,2019,Admit,N.A.,TOEFL,2.96,60,0.0,0.0,Fall,151,0
2578,Sharmila Venkat Duppala,"university of maryland, college park",2019,Admit,N.A.,TOEFL,1.40,12,0.0,104.0,Fall,155,0
2632,Papai,worcester polytechnic institute,2017,Admit,N.A.,TOEFL,3.35,0,0.0,99.5,Fall,152,0
2704,saideep reddy,northeastern university,2020,Reject,N.A.,TOEFL,3.43,0,0.0,95.0,Fall,151,0
2800,Jainil Parikh,illinois institute of technology,2018,Reject,N.A.,IELTS,2.92,0,6.5,0.0,Fall,148,0
2822,Tester,illinois institute of technology,2018,Reject,N.A.,TOEFL,1.75,41,0.0,88.0,Fall,148,0
3103,Bhavya Modi,university of north carolina at charlotte,2019,Reject,N.A.,TOEFL,2.53,18,0.0,74.0,Fall,149,0
3160,Kaustubh Bhalerao,university of north carolina at charlotte,2019,Reject,N.A.,TOEFL,2.33,24,0.0,83.0,Fall,149,0
3230,Ramesh,university of texas at arlington,2019,Reject,N.A.,IELTS,2.90,12,6.5,0.0,Spring,149,0
3256,Sankalp Redgaonkar,university of texas at arlington,2018,Reject,N.A.,TOEFL,1.85,0,0.0,81.0,Fall,149,0
3316,Chinmay Deshpande,university of texas at dallas,2019,Reject,N.A.,TOEFL,2.93,3,0.0,105.0,Fall,150,0
3651,pooja jn,new york university,2018,Reject,N.A.,TOEFL,3.62,6,0.0,105.0,Fall,152,0
3682,Shivam Arora,new york university,2018,Reject,N.A.,TOEFL,2.76,10,0.0,107.0,Fall,152,0
3693,tanmaya nanda,new york university,2018,Reject,N.A.,TOEFL,3.62,24,0.0,106.0,Fall,152,0
3956,Subhas Naik,san jose state university,2019,Reject,N.A.,TOEFL,2.75,0,0.0,95.5,Spring,147,0
4105,aji,george mason university,2019,Reject,N.A.,TOEFL,3.09,7,0.0,87.0,Fall,145,0
4114,kampally visesh reddy,george mason university,2019,Reject,N.A.,IELTS,2.92,0,6.5,0.0,Spring,145,0
4176,Amulya Katti,georgia institute of technology,2019,Reject,N.A.,TOEFL,3.78,0,0.0,109.0,Fall,155,0
4282,Adarsh,georgia institute of technology,2019,Reject,N.A.,TOEFL,3.43,21,0.0,109.0,Fall,155,0
4472,Siddhartha Srivastava,state university of new york at stony brook,2019,Reject,N.A.,TOEFL,3.50,15,0.0,105.0,Fall,152,0
4599,Sheryl Evangelene,"texas a&m university, college station",2018,Reject,N.A.,TOEFL,2.90,0,0.0,103.0,Fall,154,0
4602,Darpan Dodiya,"texas a&m university, college station",2018,Reject,N.A.,TOEFL,3.33,20,0.0,112.0,Fall,154,0
4888,SB,university of connecticut,2018,Reject,N.A.,TOEFL,3.23,23,0.0,91.0,Fall,145,0
4913,tusharika,university of iowa,2017,Reject,N.A.,TOEFL,2.90,11,0.0,105.0,Fall,149,0
4927,Amulya Katti,"university of maryland, college park",2019,Reject,N.A.,TOEFL,3.78,0,0.0,106.0,Fall,154,0
4938,Rohan Koul,"university of maryland, college park",2019,Reject,N.A.,TOEFL,2.95,24,0.0,106.0,Fall,154,0
4978,PRITAM BISWAS,"university of maryland, college park",2019,Reject,N.A.,TOEFL,0.00,18,0.0,106.0,Fall,154,0

In [1883]:
Yocket_data_all_college.GRE_SCORE.unique()

array(['317', '314', '324', '305', '318', '327', '334', '312', '319',
       '306', '304', '320', 'N.A. ', '332', '309', '323', '311', '303',
       '315', '321', '316', '313', '322', '328', '308', '310', '338',
       '326', '329', '325', '293', '300', '302', '296', '301', '307',
       '298', '299', '294', '292', '291', '330', '288', '297', '295',
       '340', '335', '333', '289', '290', '284', '336', '337', '260',
       '287', '331', '286', '283', '270', '281', ' N.A. ', '285'],
      dtype=object)

In [1884]:
Yocket_data_all_college.loc[(Yocket_data_all_college['GRE_SCORE'] == ' N.A. ') | (Yocket_data_all_college['GRE_SCORE'] == 'N.A. '), 'GRE_SCORE'] = 0

In [1885]:
Yocket_data_all_college.GRE_SCORE

0       317
1       314
2       324
3       305
4       324
5       318
6       327
7       334
8       312
9       319
10      306
11      304
12      320
13      306
14        0
15      332
16      317
17      320
18      309
19      320
20      305
21      323
22      311
23      318
24      327
25        0
26      320
27      303
28        0
29      324
       ...
5048    301
5049    315
5050    314
5051    305
5052    319
5053    315
5054    317
5055    306
5056    303
5057    306
5058    304
5059    307
5060    304
5061    310
5062    306
5063    307
5064    306
5065    318
5066    327
5067    317
5068    316
5069    328
5070    316
5071    312
5072    304
5073    315
5074    294
5075    308
5076    309
5077    304
Name: GRE_SCORE, Length: 5078, dtype: object

In [1886]:
Yocket_data_all_college['GRE_SCORE']= Yocket_data_all_college['GRE_SCORE'].astype(int)

In [1887]:
gre_average_list = Yocket_data_all_college.groupby(by = ['university_name','Status'])['GRE_SCORE'].median().to_dict()

In [1888]:
for uni_name, avg_verbal_score in gre_average_list.items():
    Yocket_data_all_college.loc[(Yocket_data_all_college['university_name'] == uni_name[0]) & (Yocket_data_all_college['Status'] == uni_name[1])& (Yocket_data_all_college['GRE_SCORE'] == 0),"GRE_SCORE"]= gre_average_list[uni_name]

In [1889]:
Yocket_data_all_college['GRE_SCORE']

0       317.0
1       314.0
2       324.0
3       305.0
4       324.0
5       318.0
6       327.0
7       334.0
8       312.0
9       319.0
10      306.0
11      304.0
12      320.0
13      306.0
14      317.0
15      332.0
16      317.0
17      320.0
18      309.0
19      320.0
20      305.0
21      323.0
22      311.0
23      318.0
24      327.0
25      317.0
26      320.0
27      303.0
28      317.0
29      324.0
        ...
5048    301.0
5049    315.0
5050    314.0
5051    305.0
5052    319.0
5053    315.0
5054    317.0
5055    306.0
5056    303.0
5057    306.0
5058    304.0
5059    307.0
5060    304.0
5061    310.0
5062    306.0
5063    307.0
5064    306.0
5065    318.0
5066    327.0
5067    317.0
5068    316.0
5069    328.0
5070    316.0
5071    312.0
5072    304.0
5073    315.0
5074    294.0
5075    308.0
5076    309.0
5077    304.0
Name: GRE_SCORE, Length: 5078, dtype: float64

In [1890]:
Yocket_data_all_college['GRE_SCORE_Quant'] = Yocket_data_all_college['GRE_SCORE'] - Yocket_data_all_college['GRE_SCORE_Verbal']

In [1891]:
Yocket_data_all_college

,student_name,university_name,year_applying,Status,GRE_SCORE,Eng_test,Undergraduation_score,work_ex,Test_score_ielts,Test_score_toefl,term_applying,GRE_SCORE_Verbal,GRE_SCORE_Quant
0,Abdul kadir,northeastern university,2019,Admit,317.0,TOEFL,3.52,4,0.0,114.0,Fall,152,165.0
1,Yashwanth Reddy,northeastern university,2019,Admit,314.0,TOEFL,3.26,24,0.0,103.0,Fall,152,162.0
2,Raj Shrivastava,northeastern university,2019,Admit,324.0,TOEFL,3.12,6,0.0,108.0,Fall,152,172.0
3,Sumeet Bhadale,northeastern university,2019,Admit,305.0,TOEFL,3.28,13,0.0,106.0,Fall,152,153.0
4,piyush goel,northeastern university,2019,Admit,324.0,TOEFL,2.88,8,0.0,112.0,Fall,152,172.0
5,Kamineni sai sugeeth,northeastern university,2019,Admit,318.0,TOEFL,2.80,4,0.0,102.0,Fall,152,166.0
6,Daman M,northeastern university,2019,Admit,327.0,TOEFL,3.35,48,0.0,114.0,Fall,152,175.0
7,Utsav Das,northeastern university,2019,Admit,334.0,TOEFL,3.54,1,0.0,120.0,Fall,152,182.0
8,Shankar Telaprolu,northeastern university,2019,Admit,312.0,IELTS,3.68,5,6.5,0.0,Fall,152,160.0
9,Aayush Atul Kubitkar,northeastern university,2019,Admit,319.0,TOEFL,2.87,30,0.0,99.0,Fall,152,167.0
10,ketaki udipi,northeastern university,2019,Admit,306.0,TOEFL,3.56,20,0.0,100.0,Fall,152,154.0
11,Mojave,northeastern university,2019,Admit,304.0,TOEFL,2.82,0,0.0,95.0,Fall,152,152.0
12,Aishwarya Radhakrishnan,northeastern university,2019,Admit,320.0,TOEFL,0.00,24,0.0,109.0,Fall,152,168.0
13,Naiya Shah,northeastern university,2019,Admit,306.0,TOEFL,3.55,0,0.0,111.0,Fall,152,154.0
14,RituSE,northeastern university,2019,Admit,317.0,TOEFL,2.43,0,0.0,106.0,Fall,152,165.0
15,Flame Alchemist,northeastern university,2019,Admit,332.0,TOEFL,2.75,9,0.0,115.0,Fall,152,180.0
16,Archita Sundaray,northeastern university,2019,Admit,317.0,TOEFL,3.46,48,0.0,101.0,Fall,152,165.0
17,Neha Pande,northeastern university,2019,Admit,320.0,TOEFL,3.00,12,0.0,103.0,Fall,152,168.0
18,Jasvinder Singh,northeastern university,2018,Admit,309.0,TOEFL,3.10,33,0.0,102.0,Fall,152,157.0
19,MVSN Bharath,northeastern university,2019,Admit,320.0,TOEFL,3.30,25,0.0,99.0,Fall,152,168.0
20,deepali tolia,northeastern university,2019,Admit,305.0,TOEFL,2.75,24,0.0,107.0,Fall,152,153.0
21,Samaksh Yadav,northeastern university,2018,Admit,323.0,TOEFL,3.12,12,0.0,110.0,Fall,152,171.0
22,bipin dr,northeastern university,2019,Admit,311.0,TOEFL,3.43,2,0.0,105.0,Fall,152,159.0
23,neel parikh,northeastern university,2019,Admit,318.0,TOEFL,3.47,9,0.0,104.0,Fall,152,166.0
24,Dhruvatara Bhogishetty,northeastern university,2019,Admit,327.0,TOEFL,3.19,2,0.0,115.0,Fall,152,175.0
25,meghna singhal,northeastern university,2019,Admit,317.0,TOEFL,2.85,10,0.0,106.0,Fall,152,165.0
26,Kuntal Roy,northeastern university,2019,Admit,320.0,TOEFL,3.52,41,0.0,107.0,Fall,152,168.0
27,Shweta Mandavgane,northeastern university,2019,Admit,303.0,TOEFL,2.50,60,0.0,106.0,Fall,152,151.0
28,Jugal Joshi,northeastern university,2019,Admit,317.0,TOEFL,3.20,0,0.0,111.0,Fall,152,165.0
29,Mohit Kalra,northeastern university,2018,Admit,324.0,TOEFL,3.64,28,0.0,110.0,Fall,152,172.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5048,Jay Shah,worcester polytechnic institute,2018,Reject,301.0,IELTS,2.86,15,6.5,0.0,Spring,152,149.0
5049,Arth,worcester polytechnic institute,2017,Reject,315.0,TOEFL,3.12,3,0.0,104.0,Fall,152,163.0
5050,Ronak Thakkar,worcester polytechnic institute,2017,Reject,314.0,TOEFL,3.06,2,0.0,105.0,Fall,152,162.0
5051,chirag,worcester polytechnic institute,2017,Reject,305.0,TOEFL,3.47,3,0.0,97.0,Fall,152,153.0
5052,Bulla,worcester polytechnic institute,2017,Reject,319.0,TOEFL,1.96,27,0.0,103.0,Fall,152,167.0
5053,Yash Tare,worcester polytechnic institute,2017,Reject,315.0,TOEFL,2.00,30,0.0,103.0,Fall,152,163.0
5054,Abhishek Shah,worcester polytechnic institute,2017,Reject,317.0,TOEFL,3.25,6,0.0,111.0,Fall,152,165.0
5055,Annu,worcester polytechnic institute,2017,Reject,306.0,TOEFL,2.84,0,0.0,95.0,Fall,152,154.0
5056,Aravind,worcester polytechnic institute,2017,Reject,303.0,TOEFL,3.07,17,0.0,91.0,Fall,152,151.0
5057,Rishab Vaishya,worcester polytechnic institute,2017,Reject,306.0,IELTS,1.72,18,7.0,0.0,Fall,152,154.0
5058,Hiten Nirmal,worcester polytechnic institute,2017,Reject,304.0,TOEFL,3.12,0,0.0,85.0,Fall,152,152.0
5059,Saurabh,worcester polytechnic institute,2017,Reject,307.0,TOEFL,1.95,5,0.0,104.0,Fall,152,155.0
5060,amit,worcester polytechnic institute,2017,Reject,304.0,TOEFL,2.36,46,0.0,88.0,Fall,152,152.0
5061,anup dasari,worcester polytechnic institute,2017,Reject,310.0,TOEFL,3.11,24,0.0,97.0,Fall,152,158.0
5062,Aditi Singhai,worcester polytechnic institute,2017,Reject,306.0,TOEFL,2.17,25,0.0,91.0,Fall,152,154.0
5063,Sujoy Das,worcester polytechnic institute,2017,Reject,307.0,TOEFL,2.25,30,0.0,93.0,Fall,152,155.0
5064,Noman,worcester polytechnic institute,2017,Reject,306.0,TOEFL,2.65,18,0.0,100.0,Fall,152,154.0
5065,Snehal,worcester polytechnic institute,2017,Reject,318.0,TOEFL,1.88,18,0.0,106.0,Fall,152,166.0
5066,Ishaan Jain,worcester polytechnic institute,2017,Reject,327.0,TOEFL,3.28,6,0.0,117.0,Spring,152,175.0
5067,Jai,worcester polytechnic institute,2017,Reject,317.0,TOEFL,1.90,14,0.0,108.0,Spring,152,165.0
5068,Speed,worcester polytechnic institute,2016,Reject,316.0,TOEFL,2.50,3,0.0,113.0,Fall,152,164.0
5069,Tanmay Jain,worcester polytechnic institute,2019,Reject,328.0,TOEFL,2.92,12,0.0,115.0,Fall,152,176.0
5070,mithil,worcester polytechnic institute,2016,Reject,316.0,TOEFL,2.10,18,0.0,109.0,Fall,152,164.0
5071,Abhimanyu,worcester polytechnic institute,2016,Reject,312.0,TOEFL,2.60,0,0.0,89.0,Fall,152,160.0
5072,Mitesh Gandhi,worcester polytechnic institute,2016,Reject,304.0,TOEFL,2.17,19,0.0,83.0,Fall,152,152.0
5073,Suwas,worcester polytechnic institute,2015,Reject,315.0,TOEFL,2.20,0,0.0,90.0,Fall,152,163.0
5074,Aswani Kumar,worcester polytechnic institute,2016,Reject,294.0,TOEFL,2.85,30,0.0,86.0,Fall,152,142.0
5075,Rudresh Pandit,worcester polytechnic institute,2015,Reject,308.0,TOEFL,2.10,0,0.0,100.0,Fall,152,156.0
5076,Kelvin,worcester polytechnic institute,2016,Reject,309.0,TOEFL,3.38,33,0.0,100.0,Fall,152,157.0
5077,Prathamesh Jagtap,worcester polytechnic institute,2013,Reject,304.0,TOEFL,1.90,0,0.0,86.0,Fall,152,152.0

In [1892]:
Yocket_data_all_college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5078 entries, 0 to 5077
Data columns (total 13 columns):
student_name             5078 non-null object
university_name          5078 non-null object
year_applying            5078 non-null object
Status                   5078 non-null object
GRE_SCORE                5078 non-null float64
Eng_test                 5078 non-null object
Undergraduation_score    5078 non-null float64
work_ex                  5078 non-null object
Test_score_ielts         5078 non-null float64
Test_score_toefl         5078 non-null float64
term_applying            5078 non-null object
GRE_SCORE_Verbal         5078 non-null int32
GRE_SCORE_Quant          5078 non-null float64
dtypes: float64(5), int32(1), object(7)
memory usage: 496.0+ KB

In [1893]:
Yocket_data_all_college.isna().sum()

student_name             0
university_name          0
year_applying            0
Status                   0
GRE_SCORE                0
Eng_test                 0
Undergraduation_score    0
work_ex                  0
Test_score_ielts         0
Test_score_toefl         0
term_applying            0
GRE_SCORE_Verbal         0
GRE_SCORE_Quant          0
dtype: int64

In [1894]:
Yocket_data_all_college.columns = [x.lower() for x in Yocket_data_all_college.columns]

In [1895]:
#Yocket_data_all_college.to_csv('..\Data\clean_data_all_college30.csv',index=False)

In [1896]:
Yocket_data_all_college.columns

Index(['student_name', 'university_name', 'year_applying', 'status',
       'gre_score', 'eng_test', 'undergraduation_score', 'work_ex',
       'test_score_ielts', 'test_score_toefl', 'term_applying',
       'gre_score_verbal', 'gre_score_quant'],
      dtype='object')

In [1897]:
Yocket_data_all_college.groupby(by = ['university_name'])['status'].value_counts()

university_name                              status
carnegie mellon university                   Reject     48
                                             Admit       7
clemson university                           Admit      76
                                             Reject     40
george mason university                      Admit     120
                                             Reject     74
georgia institute of technology              Reject    120
                                             Admit      27
illinois institute of technology             Admit     120
                                             Reject     80
indiana university bloomington               Admit     120
                                             Reject     69
kansas state university                      Admit      46
                                             Reject     31
michigan technological university            Admit     102
                                             Reject     44
new york university                          Reject    120
                                             Admit     119
north carolina state university, raleigh     Admit     120
                                             Reject    120
northeastern university                      Reject    123
                                             Admit     120
rochester institute of technology            Admit     120
                                             Reject    100
rutgers university-new brunswick             Admit     119
                                             Reject    119
san jose state university                    Admit     120
                                             Reject    120
state university of new york at stony brook  Admit     120
                                             Reject    120
syracuse university                          Admit     120
                                             Reject    120
texas a&m university, college station        Admit     120
                                             Reject    120
university of california, irvine             Admit     120
                                             Reject    120
university of cincinnati                     Admit     120
                                             Reject     33
university of colorado boulder               Reject     52
                                             Admit      24
university of connecticut                    Reject     25
                                             Admit      20
university of florida                        Admit      80
                                             Reject     40
university of iowa                           Admit      34
                                             Reject      9
university of maryland, college park         Reject    118
                                             Admit      34
university of north carolina at charlotte    Admit     120
                                             Reject    100
university of southern california            Admit     120
                                             Reject    113
university of texas at arlington             Admit     120
                                             Reject    100
university of texas at dallas                Admit     119
                                             Reject    119
worcester polytechnic institute              Reject     40
                                             Admit      34
Name: status, dtype: int64

In [1898]:
Yocket_data_all_college

,student_name,university_name,year_applying,status,gre_score,eng_test,undergraduation_score,work_ex,test_score_ielts,test_score_toefl,term_applying,gre_score_verbal,gre_score_quant
0,Abdul kadir,northeastern university,2019,Admit,317.0,TOEFL,3.52,4,0.0,114.0,Fall,152,165.0
1,Yashwanth Reddy,northeastern university,2019,Admit,314.0,TOEFL,3.26,24,0.0,103.0,Fall,152,162.0
2,Raj Shrivastava,northeastern university,2019,Admit,324.0,TOEFL,3.12,6,0.0,108.0,Fall,152,172.0
3,Sumeet Bhadale,northeastern university,2019,Admit,305.0,TOEFL,3.28,13,0.0,106.0,Fall,152,153.0
4,piyush goel,northeastern university,2019,Admit,324.0,TOEFL,2.88,8,0.0,112.0,Fall,152,172.0
5,Kamineni sai sugeeth,northeastern university,2019,Admit,318.0,TOEFL,2.80,4,0.0,102.0,Fall,152,166.0
6,Daman M,northeastern university,2019,Admit,327.0,TOEFL,3.35,48,0.0,114.0,Fall,152,175.0
7,Utsav Das,northeastern university,2019,Admit,334.0,TOEFL,3.54,1,0.0,120.0,Fall,152,182.0
8,Shankar Telaprolu,northeastern university,2019,Admit,312.0,IELTS,3.68,5,6.5,0.0,Fall,152,160.0
9,Aayush Atul Kubitkar,northeastern university,2019,Admit,319.0,TOEFL,2.87,30,0.0,99.0,Fall,152,167.0
10,ketaki udipi,northeastern university,2019,Admit,306.0,TOEFL,3.56,20,0.0,100.0,Fall,152,154.0
11,Mojave,northeastern university,2019,Admit,304.0,TOEFL,2.82,0,0.0,95.0,Fall,152,152.0
12,Aishwarya Radhakrishnan,northeastern university,2019,Admit,320.0,TOEFL,0.00,24,0.0,109.0,Fall,152,168.0
13,Naiya Shah,northeastern university,2019,Admit,306.0,TOEFL,3.55,0,0.0,111.0,Fall,152,154.0
14,RituSE,northeastern university,2019,Admit,317.0,TOEFL,2.43,0,0.0,106.0,Fall,152,165.0
15,Flame Alchemist,northeastern university,2019,Admit,332.0,TOEFL,2.75,9,0.0,115.0,Fall,152,180.0
16,Archita Sundaray,northeastern university,2019,Admit,317.0,TOEFL,3.46,48,0.0,101.0,Fall,152,165.0
17,Neha Pande,northeastern university,2019,Admit,320.0,TOEFL,3.00,12,0.0,103.0,Fall,152,168.0
18,Jasvinder Singh,northeastern university,2018,Admit,309.0,TOEFL,3.10,33,0.0,102.0,Fall,152,157.0
19,MVSN Bharath,northeastern university,2019,Admit,320.0,TOEFL,3.30,25,0.0,99.0,Fall,152,168.0
20,deepali tolia,northeastern university,2019,Admit,305.0,TOEFL,2.75,24,0.0,107.0,Fall,152,153.0
21,Samaksh Yadav,northeastern university,2018,Admit,323.0,TOEFL,3.12,12,0.0,110.0,Fall,152,171.0
22,bipin dr,northeastern university,2019,Admit,311.0,TOEFL,3.43,2,0.0,105.0,Fall,152,159.0
23,neel parikh,northeastern university,2019,Admit,318.0,TOEFL,3.47,9,0.0,104.0,Fall,152,166.0
24,Dhruvatara Bhogishetty,northeastern university,2019,Admit,327.0,TOEFL,3.19,2,0.0,115.0,Fall,152,175.0
25,meghna singhal,northeastern university,2019,Admit,317.0,TOEFL,2.85,10,0.0,106.0,Fall,152,165.0
26,Kuntal Roy,northeastern university,2019,Admit,320.0,TOEFL,3.52,41,0.0,107.0,Fall,152,168.0
27,Shweta Mandavgane,northeastern university,2019,Admit,303.0,TOEFL,2.50,60,0.0,106.0,Fall,152,151.0
28,Jugal Joshi,northeastern university,2019,Admit,317.0,TOEFL,3.20,0,0.0,111.0,Fall,152,165.0
29,Mohit Kalra,northeastern university,2018,Admit,324.0,TOEFL,3.64,28,0.0,110.0,Fall,152,172.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5048,Jay Shah,worcester polytechnic institute,2018,Reject,301.0,IELTS,2.86,15,6.5,0.0,Spring,152,149.0
5049,Arth,worcester polytechnic institute,2017,Reject,315.0,TOEFL,3.12,3,0.0,104.0,Fall,152,163.0
5050,Ronak Thakkar,worcester polytechnic institute,2017,Reject,314.0,TOEFL,3.06,2,0.0,105.0,Fall,152,162.0
5051,chirag,worcester polytechnic institute,2017,Reject,305.0,TOEFL,3.47,3,0.0,97.0,Fall,152,153.0
5052,Bulla,worcester polytechnic institute,2017,Reject,319.0,TOEFL,1.96,27,0.0,103.0,Fall,152,167.0
5053,Yash Tare,worcester polytechnic institute,2017,Reject,315.0,TOEFL,2.00,30,0.0,103.0,Fall,152,163.0
5054,Abhishek Shah,worcester polytechnic institute,2017,Reject,317.0,TOEFL,3.25,6,0.0,111.0,Fall,152,165.0
5055,Annu,worcester polytechnic institute,2017,Reject,306.0,TOEFL,2.84,0,0.0,95.0,Fall,152,154.0
5056,Aravind,worcester polytechnic institute,2017,Reject,303.0,TOEFL,3.07,17,0.0,91.0,Fall,152,151.0
5057,Rishab Vaishya,worcester polytechnic institute,2017,Reject,306.0,IELTS,1.72,18,7.0,0.0,Fall,152,154.0
5058,Hiten Nirmal,worcester polytechnic institute,2017,Reject,304.0,TOEFL,3.12,0,0.0,85.0,Fall,152,152.0
5059,Saurabh,worcester polytechnic institute,2017,Reject,307.0,TOEFL,1.95,5,0.0,104.0,Fall,152,155.0
5060,amit,worcester polytechnic institute,2017,Reject,304.0,TOEFL,2.36,46,0.0,88.0,Fall,152,152.0
5061,anup dasari,worcester polytechnic institute,2017,Reject,310.0,TOEFL,3.11,24,0.0,97.0,Fall,152,158.0
5062,Aditi Singhai,worcester polytechnic institute,2017,Reject,306.0,TOEFL,2.17,25,0.0,91.0,Fall,152,154.0
5063,Sujoy Das,worcester polytechnic institute,2017,Reject,307.0,TOEFL,2.25,30,0.0,93.0,Fall,152,155.0
5064,Noman,worcester polytechnic institute,2017,Reject,306.0,TOEFL,2.65,18,0.0,100.0,Fall,152,154.0
5065,Snehal,worcester polytechnic institute,2017,Reject,318.0,TOEFL,1.88,18,0.0,106.0,Fall,152,166.0
5066,Ishaan Jain,worcester polytechnic institute,2017,Reject,327.0,TOEFL,3.28,6,0.0,117.0,Spring,152,175.0
5067,Jai,worcester polytechnic institute,2017,Reject,317.0,TOEFL,1.90,14,0.0,108.0,Spring,152,165.0
5068,Speed,worcester polytechnic institute,2016,Reject,316.0,TOEFL,2.50,3,0.0,113.0,Fall,152,164.0
5069,Tanmay Jain,worcester polytechnic institute,2019,Reject,328.0,TOEFL,2.92,12,0.0,115.0,Fall,152,176.0
5070,mithil,worcester polytechnic institute,2016,Reject,316.0,TOEFL,2.10,18,0.0,109.0,Fall,152,164.0
5071,Abhimanyu,worcester polytechnic institute,2016,Reject,312.0,TOEFL,2.60,0,0.0,89.0,Fall,152,160.0
5072,Mitesh Gandhi,worcester polytechnic institute,2016,Reject,304.0,TOEFL,2.17,19,0.0,83.0,Fall,152,152.0
5073,Suwas,worcester polytechnic institute,2015,Reject,315.0,TOEFL,2.20,0,0.0,90.0,Fall,152,163.0
5074,Aswani Kumar,worcester polytechnic institute,2016,Reject,294.0,TOEFL,2.85,30,0.0,86.0,Fall,152,142.0
5075,Rudresh Pandit,worcester polytechnic institute,2015,Reject,308.0,TOEFL,2.10,0,0.0,100.0,Fall,152,156.0
5076,Kelvin,worcester polytechnic institute,2016,Reject,309.0,TOEFL,3.38,33,0.0,100.0,Fall,152,157.0
5077,Prathamesh Jagtap,worcester polytechnic institute,2013,Reject,304.0,TOEFL,1.90,0,0.0,86.0,Fall,152,152.0

In [1899]:
required_colleges = ['northeastern university','illinois institute of technology','michigan technological university','rochester institute of technology','university of southern california','university of north carolina at charlotte','university of texas at arlington','university of texas at dallas','syracuse university','clemson university','new york university','indiana university bloomington','rutgers university-new brunswick','san jose state university','university of florida','Carnegie Mellon University','Georgia Institute of Technology','University of Colorado Boulder','North Carolina State University, Raleigh','University of Iowa','University of Connecticut','Worcester Polytechnic Institute','University of South Carolina','Kansas State University','University of Cincinnati','university of maryland, college park','University of California, Irvine','Texas A&M University, College Station','State University of New York at Stony Brook','George Mason University']
required_colleges = [x.lower() for x in required_colleges]
required_colleges_ranking = [15,97,117,66,19,49,64,52,118,89,22,48,25,150,62,1,9,58,30, 71, 70,79, 76, 115, 130, 10, 23, 31, 35, 59]
dictionary_req_college = dict(zip(required_colleges, required_colleges_ranking))
dictionary_req_college
Yocket_data_all_college['ranking'] = Yocket_data_all_college['university_name']
Yocket_data_all_college['ranking'].replace(dictionary_req_college,inplace=True)

In [1900]:
Yocket_data_all_college['test_score_ielts'] = pd.cut(Yocket_data_all_college.test_score_ielts, bins=[-1,0.5,4,4.5,5,5.5,6,6.5,7,7.5,8,8.5,9], labels=[0,31,34,45,59,78,93,101,109,114,117,120])

In [1901]:
Yocket_data_all_college.loc[Yocket_data_all_college['test_score_toefl']==0,'test_score_toefl']=Yocket_data_all_college['test_score_ielts']

In [1902]:
Yocket_data_all_college.drop(columns = ['test_score_ielts'], inplace = True)

In [1903]:
Yocket_data_all_college.drop(columns = ['eng_test'], inplace = True)

## Using Yocket data to replace Edulix

In [1904]:
toefl_avgs=yocket_data_all_college.groupby(by=['university_name','status'])['test_score_toefl'].median().to_dict()

In [1905]:
toefl_avgs

{('carnegie mellon university', 'Admit'): 112.0,
 ('carnegie mellon university', 'Reject'): 108.75,
 ('clemson university', 'Admit'): 96.0,
 ('clemson university', 'Reject'): 97.0,
 ('george mason university', 'Admit'): 92.0,
 ('george mason university', 'Reject'): 87.5,
 ('georgia institute of technology', 'Admit'): 110.0,
 ('georgia institute of technology', 'Reject'): 109.0,
 ('illinois institute of technology', 'Admit'): 93.0,
 ('illinois institute of technology', 'Reject'): 89.0,
 ('indiana university bloomington', 'Admit'): 104.0,
 ('indiana university bloomington', 'Reject'): 101.0,
 ('kansas state university', 'Admit'): 92.75,
 ('kansas state university', 'Reject'): 88.0,
 ('michigan technological university', 'Admit'): 93.75,
 ('michigan technological university', 'Reject'): 92.0,
 ('new york university', 'Admit'): 107.0,
 ('new york university', 'Reject'): 105.0,
 ('north carolina state university, raleigh', 'Admit'): 107.0,
 ('north carolina state university, raleigh', 'Reject'): 106.0,
 ('northeastern university', 'Admit'): 106.0,
 ('northeastern university', 'Reject'): 95.0,
 ('rochester institute of technology', 'Admit'): 98.75,
 ('rochester institute of technology', 'Reject'): 93.75,
 ('rutgers university-new brunswick', 'Admit'): 107.0,
 ('rutgers university-new brunswick', 'Reject'): 105.0,
 ('san jose state university', 'Admit'): 101.0,
 ('san jose state university', 'Reject'): 95.75,
 ('state university of new york at stony brook', 'Admit'): 106.0,
 ('state university of new york at stony brook', 'Reject'): 105.0,
 ('syracuse university', 'Admit'): 98.0,
 ('syracuse university', 'Reject'): 95.0,
 ('texas a&m university, college station', 'Admit'): 107.0,
 ('texas a&m university, college station', 'Reject'): 105.75,
 ('university of california, irvine', 'Admit'): 107.0,
 ('university of california, irvine', 'Reject'): 104.0,
 ('university of cincinnati', 'Admit'): 0.0,
 ('university of cincinnati', 'Reject'): 95.0,
 ('university of colorado boulder', 'Admit'): 108.0,
 ('university of colorado boulder', 'Reject'): 103.75,
 ('university of connecticut', 'Admit'): 99.75,
 ('university of connecticut', 'Reject'): 97.0,
 ('university of florida', 'Admit'): 107.0,
 ('university of florida', 'Reject'): 102.0,
 ('university of iowa', 'Admit'): 100.75,
 ('university of iowa', 'Reject'): 97.0,
 ('university of maryland, college park', 'Admit'): 104.75,
 ('university of maryland, college park', 'Reject'): 106.0,
 ('university of north carolina at charlotte', 'Admit'): 94.0,
 ('university of north carolina at charlotte', 'Reject'): 83.0,
 ('university of southern california', 'Admit'): 104.0,
 ('university of southern california', 'Reject'): 104.0,
 ('university of texas at arlington', 'Admit'): 90.0,
 ('university of texas at arlington', 'Reject'): 82.0,
 ('university of texas at dallas', 'Admit'): 102.0,
 ('university of texas at dallas', 'Reject'): 95.0,
 ('worcester polytechnic institute', 'Admit'): 99.75,
 ('worcester polytechnic institute', 'Reject'): 96.0}

In [1906]:
for uni_name, ave_toefl_score in toefl_avgs.items():
    Edulix_data_all_college.loc[(Edulix_data_all_college['university_name'] == uni_name[0]) & (Edulix_data_all_college['status'] == uni_name[1]),"test_score_toefl"]= toefl_avgs[uni_name]

In [1907]:
Yocket_data_all_college['work_ex'] = Yocket_data_all_college['work_ex'].astype(int)

In [1915]:
work_ex_avg=Yocket_data_all_college.groupby(by=['university_name','status'])['work_ex'].median().to_dict()

In [1916]:
for uni_name, work_ex_score in work_ex_avg.items():
    Edulix_data_all_college.loc[(Edulix_data_all_college['university_name'] == uni_name[0]) & (Edulix_data_all_college['status'] == uni_name[1]),"work_ex"]= work_ex_avg[uni_name]

In [1917]:
required_colleges = ['northeastern university','illinois institute of technology','michigan technological university','rochester institute of technology','university of southern california','university of north carolina at charlotte','university of texas at arlington','university of texas at dallas','syracuse university','clemson university','new york university','indiana university bloomington','rutgers university-new brunswick','san jose state university','university of florida','Carnegie Mellon University','Georgia Institute of Technology','University of Colorado Boulder','North Carolina State University, Raleigh','University of Iowa','University of Connecticut','Worcester Polytechnic Institute','University of South Carolina','Kansas State University','University of Cincinnati','university of maryland, college park','University of California, Irvine','Texas A&M University, College Station','State University of New York at Stony Brook','George Mason University']
required_colleges = [x.lower() for x in required_colleges]
required_colleges_ranking = [15,97,117,66,19,49,64,52,118,89,22,48,25,150,62,1,9,58,30, 71, 70,79, 76, 115, 130, 10, 23, 31, 35, 59]
dictionary_req_college = dict(zip(required_colleges, required_colleges_ranking))
dictionary_req_college
Edulix_data_all_college['ranking'] = Edulix_data_all_college['university_name']
Edulix_data_all_college['ranking'].replace(dictionary_req_college,inplace=True)

In [1918]:
combined_data=Edulix_data_all_college.append(Yocket_data_all_college)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [1921]:
combined_data.reset_index(drop=True,inplace=True)

In [1923]:
combined_data.drop_duplicates(inplace=True)

In [1920]:
len(Edulix_data_all_college)+len(Yocket_data_all_college)

10434

In [1925]:
combined_data.university_name.value_counts()

university of texas at dallas                  871
northeastern university                        723
north carolina state university, raleigh       701
state university of new york at stony brook    658
university of southern california              595
university of florida                          507
syracuse university                            461
rochester institute of technology              458
indiana university bloomington                 447
san jose state university                      424
university of north carolina at charlotte      414
texas a&m university, college station          401
university of california, irvine               399
university of texas at arlington               377
georgia institute of technology                374
illinois institute of technology               342
rutgers university-new brunswick               336
new york university                            324
george mason university                        257
university of maryland, college park           212
university of cincinnati                       202
clemson university                             166
michigan technological university              159
carnegie mellon university                     151
university of colorado boulder                 134
kansas state university                         91
worcester polytechnic institute                 83
university of iowa                              47
university of connecticut                       47
university of south carolina                     3
Name: university_name, dtype: int64

In [1928]:
combined_data = combined_data.loc[combined_data['university_name']!='university of south carolina',:]

In [1929]:
combined_data.to_csv('../Data/final_data_combined_edulix_yocket.csv',index=False)